# x-archived-from: galileo-ai-auth-api-openapi.yml
# x-archived-on: 2026-09-16
openapi: 3.2.0
info:
  title: Galileo Public Annotations Auth API
  version: v2
  description: 'Best-effort OpenAPI 3.1 description of the Galileo (galileo.ai) public

    REST API for projects, datasets, experiments, traces, prompts, integrations,

    annotations, and groups. Generated from the public OpenAPI index at

    https://api.galileo.ai/public/v2/openapi.json; not an official copy.

    '
  contact:
    name: Galileo Developer Docs
    url: https://docs.galileo.ai/
servers:
- url: https://api.galileo.ai
  description: Galileo hosted production
security:
- apiKeyHeader: []
- bearerAuth: []
- basicAuth: []
tags:
- name: Auth
paths:
  /v2/token:
    get:
      tags:
      - Auth
      operationId: getToken
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /v2/login:
    post:
      tags:
      - Auth
      operationId: loginEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /v2/login/api_key:
    post:
      tags:
      - Auth
      operationId: loginApiKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /v2/refresh_token:
    post:
      tags:
      - Auth
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
components:
  schemas:
    Object:
      type: object
      additionalProperties: true
  responses:
    Ok:
      description: Successful response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Object'
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: Galileo-API-Key
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 password bearer (JWT) issued by /v2/token
    basicAuth:
      type: http
      scheme: basic
