openapi: 3.1.0
info:
  title: Galileo API Server annotation datasets API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: datasets
paths:
  /datasets:
    post:
      tags:
      - datasets
      summary: Create Dataset
      description: Creates a standalone dataset.
      operationId: create_dataset_datasets_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: format
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/DatasetFormat'
          default: csv
      - name: hidden
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Hidden
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_create_dataset_datasets_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - datasets
      summary: List Datasets
      operationId: list_datasets_datasets_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: actions
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/DatasetAction'
          description: Actions to include in the 'permissions' field.
          title: Actions
        description: Actions to include in the 'permissions' field.
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/bulk_delete:
    delete:
      tags:
      - datasets
      summary: Bulk Delete Datasets
      description: "Delete multiple datasets in bulk.\n\nThis endpoint allows efficient deletion of multiple datasets at once.\nIt validates permissions for each dataset in the service and provides detailed feedback about\nsuccessful and failed deletions for each dataset.\n\nParameters\n----------\ndelete_request : BulkDeleteDatasetsRequest\n    Request containing list of dataset IDs to delete (max 100)\nctx : Context\n    Request context including authentication information\n\nReturns\n-------\nBulkDeleteDatasetsResponse\n    Details about the bulk deletion operation including:\n    - Number of successfully deleted datasets\n    - List of failed deletions with reasons\n    - Summary message"
      operationId: bulk_delete_datasets_datasets_bulk_delete_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteDatasetsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeleteDatasetsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /datasets/{dataset_id}:
    get:
      tags:
      - datasets
      summary: Get Dataset
      operationId: get_dataset_datasets__dataset_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - datasets
      summary: Update Dataset
      operationId: update_dataset_datasets__dataset_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatasetRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - datasets
      summary: Delete Dataset
      operationId: delete_dataset_datasets__dataset_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/query:
    post:
      tags:
      - datasets
      summary: Query Datasets
      operationId: query_datasets_datasets_query_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: actions
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/DatasetAction'
          description: Actions to include in the 'permissions' field.
          title: Actions
        description: Actions to include in the 'permissions' field.
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDatasetParams'
              default:
                filters: []
                sort:
                  name: created_at
                  ascending: false
                  sort_type: column
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/content:
    patch:
      tags:
      - datasets
      summary: Update Dataset Content
      description: 'Update the content of a dataset.


        The `index` and `column_name` fields are treated as keys tied to a specific version of the dataset.

        As such, these values are considered immutable identifiers for the dataset''s structure.


        Edits are applied sequentially in list order, and each edit sees the table state left by the

        previous one. For example, after a `rename_column` edit renames `col_a` to `col_b`, any

        subsequent `update_row` in the same request must reference the column as `col_b`, not `col_a`.


        The `If-Match` header is used to ensure that updates are only applied if the client''s version of the dataset

        matches the server''s version. This prevents conflicts from simultaneous updates. The `ETag` header in the response

        provides the new version identifier after a successful update.'
      operationId: update_dataset_content_datasets__dataset_id__content_patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: If-Match
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: ETag of the dataset as a version identifier.
          title: If-Match
        description: ETag of the dataset as a version identifier.
        example: d89cce33-549d-4b6d-b220-afb641d859c8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatasetContentRequest'
      responses:
        '204':
          description: Dataset content updated successfully
          headers:
            ETag:
              description: New version identifier for the dataset
              schema:
                type: string
        '404':
          description: Dataset not found
        '412':
          description: ETag mismatch; client's If-Match does not match current resource version
        '422':
          description: Validation error in request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '423':
          description: Resource lock could not be acquired; another update may be in progress
    get:
      tags:
      - datasets
      summary: Get Dataset Content
      operationId: get_dataset_content_datasets__dataset_id__content_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetContent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - datasets
      summary: Upsert Dataset Content
      description: Rollback the content of a dataset to a previous version.
      operationId: upsert_dataset_content_datasets__dataset_id__content_put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/RollbackRequest'
              - $ref: '#/components/schemas/UpsertDatasetContentRequest'
              title: Body
      responses:
        '204':
          description: Dataset content upserted successfully
        '404':
          description: Dataset not found
        '422':
          description: Validation error in request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '423':
          description: Resource lock could not be acquired; another update may be in progress
  /datasets/{dataset_id}/download:
    get:
      tags:
      - datasets
      summary: Download Dataset
      operationId: download_dataset_datasets__dataset_id__download_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/preview:
    post:
      tags:
      - datasets
      summary: Preview Dataset
      operationId: preview_dataset_datasets__dataset_id__preview_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewDatasetRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetContent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/content/query:
    post:
      tags:
      - datasets
      summary: Query Dataset Content
      operationId: query_dataset_content_datasets__dataset_id__content_query_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDatasetParams'
              default:
                filters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetContent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/users:
    post:
      tags:
      - datasets
      summary: Create User Dataset Collaborators
      operationId: create_user_dataset_collaborators_datasets__dataset_id__users_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UserCollaboratorCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserCollaborator'
                title: Response Create User Dataset Collaborators Datasets  Dataset Id  Users Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - datasets
      summary: List User Dataset Collaborators
      description: List the users with which the dataset has been shared.
      operationId: list_user_dataset_collaborators_datasets__dataset_id__users_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserCollaboratorsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/groups:
    post:
      tags:
      - datasets
      summary: Create Group Dataset Collaborators
      description: Share a dataset with groups.
      operationId: create_group_dataset_collaborators_datasets__dataset_id__groups_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GroupCollaboratorCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupCollaborator'
                title: Response Create Group Dataset Collaborators Datasets  Dataset Id  Groups Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - datasets
      summary: List Group Dataset Collaborators
      description: List the groups with which the dataset has been shared.
      operationId: list_group_dataset_collaborators_datasets__dataset_id__groups_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGroupCollaboratorsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/users/{user_id}:
    patch:
      tags:
      - datasets
      summary: Update User Dataset Collaborator
      description: Update the sharing permissions of a user on a dataset.
      operationId: update_user_dataset_collaborator_datasets__dataset_id__users__user_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCollaborator'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - datasets
      summary: Delete User Dataset Collaborator
      description: Remove a user's access to a dataset.
      operationId: delete_user_dataset_collaborator_datasets__dataset_id__users__user_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/groups/{group_id}:
    patch:
      tags:
      - datasets
      summary: Update Group Dataset Collaborator
      description: Update the sharing permissions of a group on a dataset.
      operationId: update_group_dataset_collaborator_datasets__dataset_id__groups__group_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupCollaborator'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - datasets
      summary: Delete Group Dataset Collaborator
      description: Remove a group's access to a dataset.
      operationId: delete_group_dataset_collaborator_datasets__dataset_id__groups__group_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/versions/query:
    post:
      tags:
      - datasets
      summary: Query Dataset Versions
      operationId: query_dataset_versions_datasets__dataset_id__versions_query_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDatasetVersionParams'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/versions/{version_index}/content:
    get:
      tags:
      - datasets
      summary: Get Dataset Version Content
      operationId: get_dataset_version_content_datasets__dataset_id__versions__version_index__content_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: version_index
        in: path
        required: true
        schema:
          type: integer
          title: Version Index
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetContent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/versions/{version_index}:
    patch:
      tags:
      - datasets
      summary: Update Dataset Version
      operationId: update_dataset_version_datasets__dataset_id__versions__version_index__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: version_index
        in: path
        required: true
        schema:
          type: integer
          title: Version Index
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatasetVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetVersionDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/{dataset_id}/projects:
    get:
      tags:
      - datasets
      summary: List Dataset Projects
      operationId: list_dataset_projects_datasets__dataset_id__projects_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetProjectsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/extend:
    post:
      tags:
      - datasets
      summary: Extend Dataset Content
      description: Extends the dataset content
      operationId: extend_dataset_content_datasets_extend_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyntheticDatasetExtensionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyntheticDatasetExtensionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /datasets/extend/{dataset_id}:
    get:
      tags:
      - datasets
      summary: Get Dataset Synthetic Extend Status
      operationId: get_dataset_synthetic_extend_status_datasets_extend__dataset_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobProgress'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /datasets/query/count:
    post:
      tags:
      - datasets
      summary: Count Datasets
      description: Count datasets visible to the current user with filtering.
      operationId: count_datasets_datasets_query_count_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDatasetParams'
              default:
                filters: []
                sort:
                  name: created_at
                  ascending: false
                  sort_type: column
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: integer
                title: Response Count Datasets Datasets Query Count Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /datasets/{dataset_id}/variable_preview:
    get:
      tags:
      - datasets
      summary: Get Dataset Variable Preview
      description: Return a variable preview derived from the sampled dataset input rows.
      operationId: get_dataset_variable_preview_datasets__dataset_id__variable_preview_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatasetInputJsonField'
                title: Response Get Dataset Variable Preview Datasets  Dataset Id  Variable Preview Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/datasets:
    post:
      tags:
      - datasets
      summary: Create Dataset
      description: Creates a standalone dataset.
      operationId: create_dataset_v2_datasets_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: format
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/DatasetFormat'
          default: csv
      - name: hidden
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Hidden
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_create_dataset_v2_datasets_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - datasets
      summary: List Datasets
      operationId: list_datasets_v2_datasets_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: actions
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/DatasetAction'
          description: Actions to include in the 'permissions' field.
          title: Actions
        description: Actions to include in the 'permissions' field.
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/datasets/bulk_delete:
    delete:
      tags:
      - datasets
      summary: Bulk Delete Datasets
      description: "Delete multiple datasets in bulk.\n\nThis endpoint allows efficient deletion of multiple datasets at once.\nIt validates permissions for each dataset in the service and provides detailed feedback about\nsuccessful and failed deletions for each dataset.\n\nParameters\n----------\ndelete_request : BulkDeleteDatasetsRequest\n    Request containing list of dataset IDs to delete (max 100)\nctx : Context\n    Request context including authentication information\n\nReturns\n-------\nBulkDeleteDatasetsResponse\n    Details about the bulk deletion operation including:\n    - Number of successfully deleted datasets\n    - List of failed deletions with reasons\n    - Summary message"
      operationId: bulk_delete_datasets_v2_datasets_bulk_delete_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteDatasetsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeleteDatasetsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/datasets/{dataset_id}:
    get:
      tags:
      - datasets
      summary: Get Dataset
      operationId: get_dataset_v2_datasets__dataset_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - datasets
      summary: Update Dataset
      operationId: update_dataset_v2_datasets__dataset_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatasetRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - datasets
      summary: Delete Dataset
      operationId: delete_dataset_v2_datasets__dataset_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/datasets/query:
    post:
      tags:
      - datasets
      summary: Query Datasets
      operationId: query_datasets_v2_datasets_query_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: actions
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/DatasetAction'
          description: Actions to include in the 'permissions' field.
          title: Actions
        description: Actions to include in the 'permissions' field.
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDatasetParams'
              default:
                filters: []
                sort:
                  name: created_at
                  ascending: false
                  sort_type: column
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/datasets/{dataset_id}/content:
    patch:
      tags:
      - datasets
      summary: Update Dataset Content
      description: 'Update the content of a dataset.


        The `index` and `column_name` fields are treated as keys tied to a specific version of the dataset.

        As such, these values are considered immutable identifiers for the dataset''s structure.


        Edits are applied sequentially in list order, and each edit sees the table state left by the

        previous one. For example, after a `rename_column` edit renames `col_a` to `col_b`, any

        subsequent `update_row` in the same request must reference the column as `col_b`, not `col_a`.


        The `If-Match` header is used to ensure that updates are only applied if the client''s version of the dataset

        matches the server''s version. This prevents conflicts from simultaneous updates. The `ETag` header in the response

        provides the new version identifier after a successful update.'
      operationId: update_dataset_content_v2_datasets__dataset_id__content_patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: If-Match
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: ETag of the dataset as a version identifier.
          title: If-Match
        description: ETag of the dataset as a version identifier.
        example: d89cce33-549d-4b6d-b220-afb641d859c8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatasetContentRequest'
      responses:
        '204':
          description: Dataset content updated successfully
          headers:
            ETag:
              description: New version identifier for the dataset
              schema:
                type: string
        '404':
          description: Dataset not found
        '412':
          description: ETag mismatch; client's If-Match does not match current resource version
        '422':
          description: Validation error in request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '423':
          description: Resource lock could not be acquired; another update may be in progress
    get:
      tags:
      - datasets
      summary: Get Dataset Content
      operationId: get_dataset_content_v2_datasets__dataset_id__content_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetContent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - datasets
      summary: Upsert Dataset Content
      description: Rollback the content of a dataset to a previous version.
      operationId: upsert_dataset_content_v2_datasets__dataset_id__content_put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/RollbackRequest'
              - $ref: '#/components/schemas/UpsertDatasetContentRequest'
              title: Body
      responses:
        '204':
          description: Dataset content upserted successfully
        '404':
          description: Dataset not found
        '422':
          description: Validation error in request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '423':
          description: Resource lock could not be acquired; another update may be in progress
  /v2/datasets/{dataset_id}/download:
    get:
      tags:
      - datasets
      summary: Download Dataset
      operationId: download_dataset_v2_datasets__dataset_id__download_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/datasets/{dataset_id}/preview:
    post:
      tags:
      - datasets
      summary: Preview Dataset
      operationId: preview_dataset_v2_datasets__dataset_id__preview_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewDatasetRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetContent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/datasets/{dataset_id}/content/query:
    post:
      tags:
      - datasets
      summary: Query Dataset Content
      operationId: query_dataset_content_v2_datasets__dataset_id__content_query_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDatasetParams'
              default:
                filters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetContent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/datasets/{dataset_id}/users:
    post:
      tags:
      - datasets
      summary: Create User Dataset Collaborators
      operationId: create_user_dataset_collaborators_v2_datasets__dataset_id__users_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UserCollaboratorCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserCollaborator'
                title: Response Create User Dataset Collaborators V2 Datasets  Dataset Id  Users Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - datasets
      summary: List User Dataset Collaborators
      description: List the users with which the dataset has been shared.
      operationId: list_user_dataset_collaborators_v2_datasets__dataset_id__users_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserCollaboratorsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/datasets/{dataset_id}/groups:
    post:
      tags:
      - datasets
      summary: Create Group Dataset Collaborators
      description: Share a dataset with groups.
      operationId: create_group_dataset_collaborators_v2_datasets__dataset_id__groups_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GroupCollaboratorCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupCollaborator'
                title: Response Create Group Dataset Collaborators V2 Datasets  Dataset Id  Groups Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - datasets
      summary: List Group Dataset Collaborators
      description: List the groups with which the dataset has been shared.
      operationId: list_group_dataset_collaborators_v2_datasets__dataset_id__groups_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGroupCollaboratorsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/datasets/{dataset_id}/users/{user_id}:
    patch:
      tags:
      - datasets
      summary: Update User Dataset Collaborator
      description: Update the sharing permissions of a user on a dataset.
      operationId: update_user_dataset_collaborator_v2_datasets__dataset_id__users__user_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCollaborator'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - datasets
      summary: Delete User Dataset Collaborator
      description: Remove a user's access to a dataset.
      operationId: delete_user_dataset_collaborator_v2_datasets__dataset_id__users__user_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/datasets/{dataset_id}/groups/{group_id}:
    patch:
      tags:
      - datasets
      summary: Update Group Dataset Collaborator
      description: Update the sharing permissions of a group on a dataset.
      operationId: update_group_dataset_collaborator_v2_datasets__dataset_id__groups__group_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupCollaborator'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - datasets
      summary: Delete Group Dataset Collaborator
      description: Remove a group's access to a dataset.
      operationId: delete_group_dataset_collaborator_v2_datasets__dataset_id__groups__group_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/datasets/{dataset_id}/versions/query:
    post:
      tags:
      - datasets
      summary: Query Dataset Versions
      operationId: query_dataset_versions_v2_datasets__dataset_id__versions_query_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDatasetVersionParams'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/datasets/{dataset_id}/versions/{version_index}/content:
    get:
      tags:
      - datasets
      summary: Get Dataset Version Content
      operationId: get_dataset_version_content_v2_datasets__dataset_id__versions__version_index__content_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: version_index
        in: path
        required: true
        schema:
          type: integer
          title: Version Index
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetContent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/datasets/{dataset_id}/versions/{version_index}:
    patch:
      tags:
      - datasets
      summary: Update Dataset Version
      operationId: update_dataset_version_v2_datasets__dataset_id__versions__version_index__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: version_index
        in: path
        required: true
        schema:
          type: integer
          title: Version Index
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatasetVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetVersionDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/datasets/{dataset_id}/projects:
    get:
      tags:
      - datasets
      summary: List Dataset Projects
      operationId: list_dataset_projects_v2_datasets__dataset_id__projects_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetProjectsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/datasets/extend:
    post:
      tags:
      - datasets
      summary: Extend Dataset Content
      description: Extends the dataset content
      operationId: extend_dataset_content_v2_datasets_extend_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyntheticDatasetExtensionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyntheticDatasetExtensionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/datasets/extend/{dataset_id}:
    get:
      tags:
      - datasets
      summary: Get Dataset Synthetic Extend Status
      operationId: get_dataset_synthetic_extend_status_v2_datasets_extend__dataset_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobProgress'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/datasets:
    post:
      tags:
      - datasets
      summary: Create Dataset
      description: Creates a standalone dataset.
      operationId: create_dataset_public_v2_datasets_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: format
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/DatasetFormat'
          default: csv
      - name: hidden
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Hidden
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_create_dataset_public_v2_datasets_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - datasets
      summary: List Datasets
      operationId: list_datasets_public_v2_datasets_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: actions
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/DatasetAction'
          description: Actions to include in the 'permissions' field.
          title: Actions
        description: Actions to include in the 'permissions' field.
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/datasets/bulk_delete:
    delete:
      tags:
      - datasets
      summary: Bulk Delete Datasets
      description: "Delete multiple datasets in bulk.\n\nThis endpoint allows efficient deletion of multiple datasets at once.\nIt validates permissions for each dataset in the service and provides detailed feedback about\nsuccessful and failed deletions for each dataset.\n\nParameters\n----------\ndelete_request : BulkDeleteDatasetsRequest\n    Request containing list of dataset IDs to delete (max 100)\nctx : Context\n    Request context including authentication information\n\nReturns\n-------\nBulkDeleteDatasetsResponse\n    Details about the bulk deletion operation including:\n    - Number of successfully deleted datasets\n    - List of failed deletions with reasons\n    - Summary message"
      operationId: bulk_delete_datasets_public_v2_datasets_bulk_delete_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteDatasetsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeleteDatasetsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /public/v2/datasets/{dataset_id}:
    get:
      tags:
      - datasets
      summary: Get Dataset
      operationId: get_dataset_public_v2_datasets__dataset_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - datasets
      summary: Update Dataset
      operationId: update_dataset_public_v2_datasets__dataset_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatasetRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - datasets
      summary: Delete Dataset
      operationId: delete_dataset_public_v2_datasets__dataset_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/datasets/query:
    post:
      tags:
      - datasets
      summary: Query Datasets
      operationId: query_datasets_public_v2_datasets_query_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: actions
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/DatasetAction'
          description: Actions to include in the 'permissions' field.
          title: Actions
        description: Actions to include in the 'permissions' field.
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDatasetParams'
              default:
                filters: []
                sort:
                  name: created_at
                  ascending: false
                  sort_type: column
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/datasets/{dataset_id}/content:
    patch:
      tags:
      - datasets
      summary: Update Dataset Content
      description: 'Update the content of a dataset.


        The `index` and `column_name` fields are treated as keys tied to a specific version of the dataset.

        As such, these values are considered immutable identifiers for the dataset''s structure.


        Edits are applied sequentially in list order, and each edit sees the table state left by the

        previous one. For example, after a `rename_column` edit renames `col_a` to `col_b`, any

        subsequent `update_row` in the same request must reference the column as `col_b`, not `col_a`.


        The `If-Match` header is used to ensure that updates are only applied if the client''s version of the dataset

        matches the server''s version. This prevents conflicts from simultaneous updates. The `ETag` header in the response

        provides the new version identifier after a successful update.'
      operationId: update_dataset_content_public_v2_datasets__dataset_id__content_patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: If-Match
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: ETag of the dataset as a version identifier.
          title: If-Match
        description: ETag of the dataset as a version identifier.
        example: d89cce33-549d-4b6d-b220-afb641d859c8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatasetContentRequest'
      responses:
        '204':
          description: Dataset content updated successfully
          headers:
            ETag:
              description: New version identifier for the dataset
              schema:
                type: string
        '404':
          description: Dataset not found
        '412':
          description: ETag mismatch; client's If-Match does not match current resource version
        '422':
          description: Validation error in request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '423':
          description: Resource lock could not be acquired; another update may be in progress
    get:
      tags:
      - datasets
      summary: Get Dataset Content
      operationId: get_dataset_content_public_v2_datasets__dataset_id__content_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetContent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - datasets
      summary: Upsert Dataset Content
      description: Rollback the content of a dataset to a previous version.
      operationId: upsert_dataset_content_public_v2_datasets__dataset_id__content_put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/RollbackRequest'
              - $ref: '#/components/schemas/UpsertDatasetContentRequest'
              title: Body
      responses:
        '204':
          description: Dataset content upserted successfully
        '404':
          description: Dataset not found
        '422':
          description: Validation error in request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '423':
          description: Resource lock could not be acquired; another update may be in progress
  /public/v2/datasets/{dataset_id}/download:
    get:
      tags:
      - datasets
      summary: Download Dataset
      operationId: download_dataset_public_v2_datasets__dataset_id__download_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/datasets/{dataset_id}/preview:
    post:
      tags:
      - datasets
      summary: Preview Dataset
      operationId: preview_dataset_public_v2_datasets__dataset_id__preview_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewDatasetRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetContent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/datasets/{dataset_id}/content/query:
    post:
      tags:
      - datasets
      summary: Query Dataset Content
      operationId: query_dataset_content_public_v2_datasets__dataset_id__content_query_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDatasetParams'
              default:
                filters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetContent'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/datasets/{dataset_id}/users:
    post:
      tags:
      - datasets
      summary: Create User Dataset Collaborators
      operationId: create_user_dataset_collaborators_public_v2_datasets__dataset_id__users_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UserCollaboratorCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserCollaborator'
                title: Response Create User Dataset Collaborators Public V2 Datasets  Dataset Id  Users Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - datasets
      summary: List User Dataset Collaborators
      description: List the users with which the dataset has been shared.
      operationId: list_user_dataset_collaborators_public_v2_datasets__dataset_id__users_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserCollaboratorsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/datasets/{dataset_id}/groups:
    post:
      tags:
      - datasets
      summary: Create Group Dataset Collaborators
      description: Share a dataset with groups.
      operationId: create_group_dataset_collaborators_public_v2_datasets__dataset_id__groups_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GroupCollaboratorCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupCollaborator'
                title: Response Create Group Dataset Collaborators Public V2 Datasets  Dataset Id  Groups Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - datasets
      summary: List Group Dataset Collaborators
      description: List the groups with which the dataset has been shared.
      operationId: list_group_dataset_collaborators_public_v2_datasets__dataset_id__groups_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGroupCollaboratorsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/datasets/{dataset_id}/users/{user_id}:
    patch:
      tags:
      - datasets
      summary: Update User Dataset Collaborator
      description: Update the sharing permissions of a user on a dataset.
      operationId: update_user_dataset_collaborator_public_v2_datasets__dataset_id__users__user_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCollaborator'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - datasets
      summary: Delete User Dataset Collaborator
      description: Remove a user's access to a dataset.
      operationId: delete_user_dataset_collaborator_public_v2_datasets__dataset_id__users__user_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/datasets/{dataset_id}/groups/{group_id}:
    patch:
      tags:
      - datasets
      summary: Update Group Dataset Collaborator
      description: Update the sharing permissions of a group on a dataset.
      operationId: update_group_dataset_collaborator_public_v2_datasets__dataset_id__groups__group_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupCollaborator'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - datasets
      summary: Delete Group Dataset Collaborator
      description: Remove a group's access to a dataset.
      operationId: delete_group_dataset_collaborator_public_v2_datasets__dataset_id__groups__group_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/datasets/{dataset_id}/versions/query:
    post:
      tags:
      - datasets
      summary: Query Dataset Versions
      operationId: query_dataset_versions_public_v2_datasets__dataset_id__versions_query_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDatasetVersionParams'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/datasets/{dataset_id}/versions/{version_index}/content:
    get:
      tags:
      - datasets
      summary: Get Dataset Version Content
      operationId: get_dataset_version_content_public_v2_datasets__dataset_id__versions__version_index__content_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: dataset_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
[...]
