openapi: 3.1.0
info:
  title: Galileo API Server annotation data API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: data
paths:
  /scorers/{scorer_id}/version/luna:
    post:
      tags:
      - data
      summary: Create Luna Scorer Version
      operationId: create_luna_scorer_version_scorers__scorer_id__version_luna_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomLunaScorerVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/llm/validate:
    post:
      tags:
      - data
      summary: Manual Llm Validate
      operationId: manual_llm_validate_scorers_llm_validate_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedScorerValidationResponse'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /scorers/llm/validate/multipart:
    post:
      tags:
      - data
      summary: Manual Llm Validate Multipart
      operationId: manual_llm_validate_multipart_scorers_llm_validate_multipart_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_manual_llm_validate_multipart_scorers_llm_validate_multipart_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedScorerValidationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /scorers:
    post:
      tags:
      - data
      summary: Create
      operationId: create_scorers_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScorerRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /scorers/{scorer_id}:
    patch:
      tags:
      - data
      summary: Update
      operationId: update_scorers__scorer_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScorerRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - data
      summary: Delete Scorer
      operationId: delete_scorer_scorers__scorer_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - data
      summary: Get Scorer
      operationId: get_scorer_scorers__scorer_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: actions
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ScorerAction'
          description: Actions to include in the 'permissions' field of the scorer.
          title: Actions
        description: Actions to include in the 'permissions' field of the scorer.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/version/llm:
    post:
      tags:
      - data
      summary: Create Llm Scorer Version
      operationId: create_llm_scorer_version_scorers__scorer_id__version_llm_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLLMScorerVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/code/validate:
    post:
      tags:
      - data
      summary: Validate Code Scorer
      description: Validate a code scorer with optional simple input/output test.
      operationId: validate_code_scorer_scorers_code_validate_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_validate_code_scorer_scorers_code_validate_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCodeScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /scorers/code/validate/log_record:
    post:
      tags:
      - data
      summary: Validate Code Scorer Log Record
      description: Validate a code scorer using actual log records.
      operationId: validate_code_scorer_log_record_scorers_code_validate_log_record_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_validate_code_scorer_log_record_scorers_code_validate_log_record_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateScorerLogRecordResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /scorers/code/validate/{task_id}:
    get:
      tags:
      - data
      summary: Get Validate Code Scorer Task Result
      description: 'Poll for a code-scorer validation task result (returns status/result).


        The validation job creates an entry in `registered_scorer_task_results` (pending) and the runner

        will PATCH the internal task-results endpoint when it finishes. This GET allows clients to poll

        the current task result.'
      operationId: get_validate_code_scorer_task_result_scorers_code_validate__task_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Task Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredScorerTaskResultResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/version/code:
    post:
      tags:
      - data
      summary: Create Code Scorer Version
      operationId: create_code_scorer_version_scorers__scorer_id__version_code_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_create_code_scorer_version_scorers__scorer_id__version_code_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - data
      summary: Get Scorer Version Code
      operationId: get_scorer_version_code_scorers__scorer_id__version_code_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: version number, defaults to latest version
          title: Version
        description: version number, defaults to latest version
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/version/preset:
    post:
      tags:
      - data
      summary: Create Preset Scorer Version
      description: Create a preset scorer version.
      operationId: create_preset_scorer_version_scorers__scorer_id__version_preset_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScorerVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/list:
    post:
      tags:
      - data
      summary: List Scorers With Filters
      operationId: list_scorers_with_filters_scorers_list_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: actions
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ScorerAction'
          description: Actions to include in the 'permissions' field of the scorers.
          title: Actions
        description: Actions to include in the 'permissions' field of the scorers.
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListScorersRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScorersResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/tags:
    get:
      tags:
      - data
      summary: List Tags
      operationId: list_tags_scorers_tags_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                title: Response List Tags Scorers Tags Get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /scorers/{scorer_id}/version:
    get:
      tags:
      - data
      summary: Get Scorer Version Or Latest
      operationId: get_scorer_version_or_latest_scorers__scorer_id__version_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version
        in: query
        required: false
        schema:
          type: integer
          title: Version
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/versions:
    get:
      tags:
      - data
      summary: List All Versions For Scorer
      operationId: list_all_versions_for_scorer_scorers__scorer_id__versions_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: run_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Run Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScorerVersionsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/scope:
    put:
      tags:
      - data
      summary: Set Scorer Scope
      description: Full-replace a scorer's access scope (Share / manage visibility). metrics_rbac only.
      operationId: set_scorer_scope_scorers__scorer_id__scope_put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScorerScopeRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/projects:
    get:
      tags:
      - data
      summary: List Projects For Scorer Route
      description: List all projects associated with a specific scorer.
      operationId: list_projects_for_scorer_route_scorers__scorer_id__projects_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api__schemas__project_v2__GetProjectsPaginatedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/versions/{scorer_version_id}/projects:
    get:
      tags:
      - data
      summary: List Projects For Scorer Version Route
      description: List all projects associated with a specific scorer version.
      operationId: list_projects_for_scorer_version_route_scorers_versions__scorer_version_id__projects_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_version_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Version Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api__schemas__project_v2__GetProjectsPaginatedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/versions/{version_number}/restore:
    post:
      tags:
      - data
      summary: Restore Scorer Version
      description: List all scorers.
      operationId: restore_scorer_version_scorers__scorer_id__versions__version_number__restore_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version_number
        in: path
        required: true
        schema:
          type: integer
          title: Version Number
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/llm/autogen:
    post:
      tags:
      - data
      summary: Autogen Llm Scorer
      description: 'Autogenerate an LLM scorer configuration.


        Returns a Celery task ID that can be used to poll for the autogeneration results.'
      operationId: autogen_llm_scorer_scorers_llm_autogen_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLLMScorerAutogenRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /scorers/llm/validate/log_record:
    post:
      tags:
      - data
      summary: Validate Llm Scorer Log Record
      operationId: validate_llm_scorer_log_record_scorers_llm_validate_log_record_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateLLMScorerLogRecordRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateLLMScorerLogRecordResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /scorers/llm/validate/dataset:
    post:
      tags:
      - data
      summary: Validate Llm Scorer Dataset
      operationId: validate_llm_scorer_dataset_scorers_llm_validate_dataset_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateLLMScorerDatasetRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateLLMScorerDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /scorers/code/validate/dataset:
    post:
      tags:
      - data
      summary: Validate Code Scorer Dataset
      description: Validate a code scorer against dataset rows.
      operationId: validate_code_scorer_dataset_scorers_code_validate_dataset_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_validate_code_scorer_dataset_scorers_code_validate_dataset_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCodeScorerDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /projects/{project_id}/metrics-testing/{run_id}/health-score:
    post:
      tags:
      - data
      summary: Compute Health Score Endpoint
      description: Compute the health score metric for a metrics testing run.
      operationId: compute_health_score_endpoint_projects__project_id__metrics_testing__run_id__health_score_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputeHealthScoreRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthScoreResult'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/health-scores:
    get:
      tags:
      - data
      summary: Get Scorer Health Scores
      description: 'Return all persisted health scores for a scorer against a dataset, ordered by version ASC.


        scores[0] is the baseline (first recorded), scores[-1] is the latest.'
      operationId: get_scorer_health_scores_scorers__scorer_id__health_scores_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: dataset_id
        in: query
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerHealthScoresResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/versions/{version_number}/health-scores:
    post:
      tags:
      - data
      summary: Write Scorer Version Health Score
      description: 'Persist the health score for a scorer version against a dataset.


        Called by the UI after saving a metric version, passing the score from the last compute.'
      operationId: write_scorer_version_health_score_scorers__scorer_id__versions__version_number__health_scores_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version_number
        in: path
        required: true
        schema:
          type: integer
          title: Version Number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WriteHealthScoreRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerVersionHealthScoreEntry'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/{scorer_id}/version/luna:
    post:
      tags:
      - data
      summary: Create Luna Scorer Version
      operationId: create_luna_scorer_version_v2_scorers__scorer_id__version_luna_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomLunaScorerVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/llm/validate:
    post:
      tags:
      - data
      summary: Manual Llm Validate
      operationId: manual_llm_validate_v2_scorers_llm_validate_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedScorerValidationResponse'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/scorers/llm/validate/multipart:
    post:
      tags:
      - data
      summary: Manual Llm Validate Multipart
      operationId: manual_llm_validate_multipart_v2_scorers_llm_validate_multipart_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_manual_llm_validate_multipart_v2_scorers_llm_validate_multipart_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedScorerValidationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/scorers:
    post:
      tags:
      - data
      summary: Create
      operationId: create_v2_scorers_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScorerRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/scorers/{scorer_id}:
    patch:
      tags:
      - data
      summary: Update
      operationId: update_v2_scorers__scorer_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScorerRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - data
      summary: Delete Scorer
      operationId: delete_scorer_v2_scorers__scorer_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - data
      summary: Get Scorer
      operationId: get_scorer_v2_scorers__scorer_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: actions
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ScorerAction'
          description: Actions to include in the 'permissions' field of the scorer.
          title: Actions
        description: Actions to include in the 'permissions' field of the scorer.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/{scorer_id}/version/llm:
    post:
      tags:
      - data
      summary: Create Llm Scorer Version
      operationId: create_llm_scorer_version_v2_scorers__scorer_id__version_llm_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLLMScorerVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/code/validate:
    post:
      tags:
      - data
      summary: Validate Code Scorer
      description: Validate a code scorer with optional simple input/output test.
      operationId: validate_code_scorer_v2_scorers_code_validate_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_validate_code_scorer_v2_scorers_code_validate_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCodeScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/scorers/code/validate/log_record:
    post:
      tags:
      - data
      summary: Validate Code Scorer Log Record
      description: Validate a code scorer using actual log records.
      operationId: validate_code_scorer_log_record_v2_scorers_code_validate_log_record_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_validate_code_scorer_log_record_v2_scorers_code_validate_log_record_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateScorerLogRecordResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/scorers/code/validate/{task_id}:
    get:
      tags:
      - data
      summary: Get Validate Code Scorer Task Result
      description: 'Poll for a code-scorer validation task result (returns status/result).


        The validation job creates an entry in `registered_scorer_task_results` (pending) and the runner

        will PATCH the internal task-results endpoint when it finishes. This GET allows clients to poll

        the current task result.'
      operationId: get_validate_code_scorer_task_result_v2_scorers_code_validate__task_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Task Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredScorerTaskResultResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/{scorer_id}/version/code:
    post:
      tags:
      - data
      summary: Create Code Scorer Version
      operationId: create_code_scorer_version_v2_scorers__scorer_id__version_code_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_create_code_scorer_version_v2_scorers__scorer_id__version_code_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - data
      summary: Get Scorer Version Code
      operationId: get_scorer_version_code_v2_scorers__scorer_id__version_code_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: version number, defaults to latest version
          title: Version
        description: version number, defaults to latest version
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/{scorer_id}/version/preset:
    post:
      tags:
      - data
      summary: Create Preset Scorer Version
      description: Create a preset scorer version.
      operationId: create_preset_scorer_version_v2_scorers__scorer_id__version_preset_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScorerVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/list:
    post:
      tags:
      - data
      summary: List Scorers With Filters
      operationId: list_scorers_with_filters_v2_scorers_list_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: actions
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ScorerAction'
          description: Actions to include in the 'permissions' field of the scorers.
          title: Actions
        description: Actions to include in the 'permissions' field of the scorers.
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListScorersRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScorersResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/tags:
    get:
      tags:
      - data
      summary: List Tags
      operationId: list_tags_v2_scorers_tags_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                title: Response List Tags V2 Scorers Tags Get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/scorers/{scorer_id}/version:
    get:
      tags:
      - data
      summary: Get Scorer Version Or Latest
      operationId: get_scorer_version_or_latest_v2_scorers__scorer_id__version_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version
        in: query
        required: false
        schema:
          type: integer
          title: Version
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/{scorer_id}/versions:
    get:
      tags:
      - data
      summary: List All Versions For Scorer
      operationId: list_all_versions_for_scorer_v2_scorers__scorer_id__versions_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: run_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Run Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScorerVersionsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/{scorer_id}/scope:
    put:
      tags:
      - data
      summary: Set Scorer Scope
      description: Full-replace a scorer's access scope (Share / manage visibility). metrics_rbac only.
      operationId: set_scorer_scope_v2_scorers__scorer_id__scope_put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScorerScopeRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/{scorer_id}/projects:
    get:
      tags:
      - data
      summary: List Projects For Scorer Route
      description: List all projects associated with a specific scorer.
      operationId: list_projects_for_scorer_route_v2_scorers__scorer_id__projects_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api__schemas__project_v2__GetProjectsPaginatedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/versions/{scorer_version_id}/projects:
    get:
      tags:
      - data
      summary: List Projects For Scorer Version Route
      description: List all projects associated with a specific scorer version.
      operationId: list_projects_for_scorer_version_route_v2_scorers_versions__scorer_version_id__projects_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_version_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Version Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api__schemas__project_v2__GetProjectsPaginatedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/{scorer_id}/versions/{version_number}/restore:
    post:
      tags:
      - data
      summary: Restore Scorer Version
      description: List all scorers.
      operationId: restore_scorer_version_v2_scorers__scorer_id__versions__version_number__restore_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version_number
        in: path
        required: true
        schema:
          type: integer
          title: Version Number
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/llm/autogen:
    post:
      tags:
      - data
      summary: Autogen Llm Scorer
      description: 'Autogenerate an LLM scorer configuration.


        Returns a Celery task ID that can be used to poll for the autogeneration results.'
      operationId: autogen_llm_scorer_v2_scorers_llm_autogen_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLLMScorerAutogenRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/scorers/llm/validate/log_record:
    post:
      tags:
      - data
      summary: Validate Llm Scorer Log Record
      operationId: validate_llm_scorer_log_record_v2_scorers_llm_validate_log_record_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateLLMScorerLogRecordRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateLLMScorerLogRecordResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/scorers/llm/validate/dataset:
    post:
      tags:
      - data
      summary: Validate Llm Scorer Dataset
      operationId: validate_llm_scorer_dataset_v2_scorers_llm_validate_dataset_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateLLMScorerDatasetRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateLLMScorerDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/scorers/code/validate/dataset:
    post:
      tags:
      - data
      summary: Validate Code Scorer Dataset
      description: Validate a code scorer against dataset rows.
      operationId: validate_code_scorer_dataset_v2_scorers_code_validate_dataset_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_validate_code_scorer_dataset_v2_scorers_code_validate_dataset_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCodeScorerDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/projects/{project_id}/metrics-testing/{run_id}/health-score:
    post:
      tags:
      - data
      summary: Compute Health Score Endpoint
      description: Compute the health score metric for a metrics testing run.
      operationId: compute_health_score_endpoint_v2_projects__project_id__metrics_testing__run_id__health_score_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputeHealthScoreRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthScoreResult'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/{scorer_id}/health-scores:
    get:
      tags:
      - data
      summary: Get Scorer Health Scores
      description: 'Return all persisted health scores for a scorer against a dataset, ordered by version ASC.


        scores[0] is the baseline (first recorded), scores[-1] is the latest.'
      operationId: get_scorer_health_scores_v2_scorers__scorer_id__health_scores_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: dataset_id
        in: query
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerHealthScoresResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/{scorer_id}/versions/{version_number}/health-scores:
    post:
      tags:
      - data
      summary: Write Scorer Version Health Score
      description: 'Persist the health score for a scorer version against a dataset.


        Called by the UI after saving a metric version, passing the score from the last compute.'
      operationId: write_scorer_version_health_score_v2_scorers__scorer_id__versions__version_number__health_scores_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version_number
        in: path
        required: true
        schema:
          type: integer
          title: Version Number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WriteHealthScoreRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerVersionHealthScoreEntry'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/scorers/{scorer_id}/version/luna:
    post:
      tags:
      - data
      summary: Create Luna Scorer Version
      operationId: create_luna_scorer_version_public_v2_scorers__scorer_id__version_luna_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomLunaScorerVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/scorers/llm/validate:
    post:
      tags:
      - data
      summary: Manual Llm Validate
      operationId: manual_llm_validate_public_v2_scorers_llm_validate_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedScorerValidationResponse'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /public/v2/scorers/llm/validate/multipart:
    post:
      tags:
      - data
      summary: Manual Llm Validate Multipart
      operationId: manual_llm_validate_multipart_public_v2_scorers_llm_validate_multipart_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_manual_llm_validate_multipart_public_v2_scorers_llm_validate_multipart_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedScorerValidationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /public/v2/scorers:
    post:
      tags:
      - data
      summary: Create
      operationId: create_public_v2_scorers_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScorerRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /public/v2/scorers/{scorer_id}:
    patch:
      tags:
      - data
      summary: Update
      operationId: update_public_v2_scorers__scorer_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScorerRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - data
      summary: Delete Scorer
      operationId: delete_scorer_public_v2_scorers__scorer_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - data
      summary: Get Scorer
      operationId: get_scorer_public_v2_scorers__scorer_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: actions
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ScorerAction'
          description: Actions to include in the 'permissions' field of the scorer.
          title: Actions
        description: Actions to include in the 'permissions' field of the scorer.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/scorers/{scorer_id}/version/llm:
    post:
      tags:
      - data
      summary: Create Llm Scorer Version
      operationId: create_llm_scorer_version_public_v2_scorers__scorer_id__version_llm_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLLMScorerVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/scorers/code/validate:
    post:
      tags:
      - data
      summary: Validate Code Scorer
      description: Validate a code scorer with optional simple input/output test.
      operationId: validate_code_scorer_public_v2_scorers_code_validate_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_validate_code_scorer_public_v2_scorers_code_validate_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCodeScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /public/v2/scorers/code/validate/log_record:
    post:
      tags:
      - data
      summary: Validate Code Scorer Log Record
      description: Validate a code scorer using actual log records.
      operationId: validate_code_scorer_log_record_public_v2_scorers_code_validate_log_record_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_validate_code_scorer_log_record_public_v2_scorers_code_validate_log_record_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateScorerLogRecordResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /public/v2/scorers/code/validate/{task_id}:
    get:
      tags:
      - data
      summary: Get Validate Code Scorer Task Result
      description: 'Poll for a code-scorer validation task result (returns status/result).


        The validation job creates an entry in `registered_scorer_task_results` (pending) and the runner

        will PATCH the internal task-results endpoint when it finishes. This GET allows clients to poll

        the current task result.'
      operationId: get_validate_code_scorer_task_result_public_v2_scorers_code_validate__task_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Task Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredScorerTaskResultResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/scorers/{scorer_id}/version/code:
    post:
      tags:
      - data
      summary: Create Code Scorer Version
      operationId: create_code_scorer_version_public_v2_scorers__scorer_id__version_code_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_create_code_scorer_version_public_v2_scorers__scorer_id__version_code_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - data
      summary: Get Scorer Version Code
      operationId: get_scorer_version_code_public_v2_scorers__scorer_id__version_code_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: version number, defaults to latest version
          title: Version
        description: version number, defaults to latest version
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/scorers/{scorer_id}/version/preset:
    post:
      tags:
      - data
      summary: Create Preset Scorer Version
      description: Create a preset scorer version.
      operationId: create_preset_scorer_version_public_v2_scorers__scorer_id__version_preset_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScorerVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/scorers/list:
    post:
      tags:
      - data
      summary: List Scorers With Filters
      operationId: list_scorers_with_filters_public_v2_scorers_list_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: actions
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ScorerAction'
          description: Actions to include in the 'permissions' field of the scorers.
          title: Actions
        description: Actions to include in the 'permissions' field of the scorers.
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListScorersRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScorersResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/scorers/tags:
    get:
      tags:
      - data
      summary: List Tags
      operationId: list_tags_public_v2_scorers_tags_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                title: Response List Tags Public V2 Scorers Tags Get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /public/v2/scorers/{scorer_id}/version:
    get:
      tags:
      - data
      summary: Get Scorer Version Or Latest
      operationId: get_scorer_version_or_latest_public_v2_scorers__scorer_id__version_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version
        in: query
        required: false
        schema:
          type: integer
          title: Version
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/scorers/{scorer_id}/versions:
    get:
      tags:
      - data
      summary: List All Versions For Scorer
      operationId: list_all_versions_for_scorer_public_v2_scorers__scorer_id__versions_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: run_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Run Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScorerVersionsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/scorers/{scorer_id}/scope:
    put:
      tags:
      - data
      summary: Set Scorer Scope
      description: Full-replace a scorer's access scope (Share / manage visibility). metrics_rbac only.
      operationId: set_scorer_scope_public_v2_scorers__scorer_id__scope_put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScorerScopeRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/scorers/{scorer_id}/projects:
    get:
      tags:
      - data
      summary: List Projects For Scorer Route
      description: List all projects associated with a specific scorer.
      operationId: list_projects_for_scorer_route_public_v2_scorers__scorer_id__projects_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api__schemas__project_v2__GetProjectsPaginatedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/scorers/versions/{scorer_version_id}/projects:
    get:
      tags:
      - data
      summary: List Projects For Scorer Version Route
      description: List all projects associated with a specific scorer version.
      operationId: list_projects_for_scorer_version_route_public_v2_scorers_versions__scorer_version_id__projects_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_version_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Version Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api__schemas__project_v2__GetProjectsPaginatedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/scorers/{scorer_id}/versions/{version_number}/restore:
    post:
      tags:
      - data
      summary: Restore Scorer Version
      description: List all scorers.
      operationId: restore_scorer_version_public_v2_scorers__scorer_id__versions__version_number__restore_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version_number
        in: path
        required: true
        schema:
          type: integer
          title: Version Number
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/scorers/llm/autogen:
    post:
      tags:
      - data
      summary: Autogen Llm Scorer
      description: 'Autogenerate an LLM scorer configuration.


        Returns a Celery task ID that can be used to poll for the autogeneration results.'
      operationId: autogen_llm_scorer_public_v2_scorers_llm_autogen_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLLMScorerAutogenRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /public/v2/scorers/llm/validate/log_record:
    post:
      tags:
      - data
      summary: Validate Llm Scorer Log Record
      operationId: validate_llm_scorer_log_record_public_v2_scorers_llm_validate_log_record_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateLLMScorerLogRecordRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateLLMScorerLogRecordResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /public/v2/scorers/llm/validate/dataset:
    post:
      tags:
      - data
      summary: Validate Llm Scorer Dataset
      operationId: validate_llm_scorer_dataset_public_v2_scorers_llm_validate_dataset_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateLLMScorerDatasetRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateLLMScorerDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /public/v2/scorers/code/validate/dataset:
    post:
      tags:
      - data
      summary: Validate Code Scorer Dataset
      description: Validate a code scorer against dataset rows.
      operationId: validate_code_scorer_dataset_public_v2_scorers_code_validate_dataset_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_validate_code_scorer_dataset_public_v2_scorers_code_validate_dataset_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCodeScorerDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /public/v2/projects/{project_id}/metrics-testing/{run_id}/health-score:
    post:
      tags:
      - data
      summary: Compute Health Score Endpoint
      description: Compute the health score metric for a metrics testing run.
      operationId: compute_health_score_endpoint_public_v2_projects__project_id__metrics_testing__run_id__health_score_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputeHealthScoreRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthScoreResult'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/scorers/{scorer_id}/health-scores:
    get:
      tags:
      - data
      summary: Get Scorer Health Scores
      description: 'Return all persisted health scores for a scorer against a dataset, ordered by version ASC.


        scores[0] is the baseline (first recorded), scores[-1] is the latest.'
      operationId: get_scorer_health_scores_public_v2_scorers__scorer_id__health_scores_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: dataset_id
        in: query
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerHealthScoresResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/scorers/{scorer_id}/versions/{version_number}/health-scores:
    post:
      tags:
      - data
      summary: Write Scorer Version Health Score
      description: 'Persist the health score for a scorer version against a dataset.


        Called by the UI after saving a metric version, passing the score from the last compute.'
      operationId: write_scorer_version_health_score_public_v2_scorers__scorer_id__versions__version_number__health_scores_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version_number
        in: path
        required: true
        schema:
          type: integer
          title: Version Number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WriteHealthScoreRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerVersionHealthScoreEntry'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ? NotNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input
    : properties:
        not:
          anyOf:
          - $ref: '#/components/schemas/FilterLeaf_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____'
          - $ref: '#/components/schemas/AndNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input'
          - $ref: '#/components/schemas/OrNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input'
          - $ref: '#/components/schemas/NotNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input'
          title: Not
      type: object
      required:
      - not
      title: NotNode[Annotated[Union[LogRecordsIDFilter, LogRecordsDateFilter, LogRecordsNumberFilter, LogRecordsBooleanFilter, LogRecordsCollectionFilter, LogRecordsTextFilter, LogRecordsFullyAnnotatedFilter], FieldInfo(annotation=NoneType, required=True, discriminator='type')]]
    LogStreamInfo:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        name:
          type: string
          title: Name
      type: object
      required:
      - id
      - name
      title: LogStreamInfo
      description: Minimal log stream representation (id and name only).
    MetricColorPickerCategorical:
      properties:
        type:
          type: string
          const: categorical
          title: Type
          default: categorical
        constraints:
          items:
            $ref: '#/components/schemas/CategoricalColorConstraint'
          type: array
          minItems: 1
          title: Constraints
      type: object
      required:
      - constraints
      title: MetricColorPickerCategorical
      description: "Color picker configuration for categorical metrics.\n\nEach constraint maps one or more category values to a color. A category\nvalue must not appear in more than one constraint.\n\nExample:\n    {\n        \"type\": \"categorical\",\n        \"constraints\": [\n            {\"color\": \"green\", \"operator\": \"eq\", \"value\": \"pass\"},\n            {\"color\": \"red\", \"operator\": \"one_of\", \"value\": [\"fail\", \"error\"]}\n        ]\n    }"
    LogRecordsCollectionFilter:
      properties:
        column_id:
          type: string
          title: Column Id
          description: ID of the column to filter.
        operator:
          type: string
          enum:
          - eq
          - contains
          - one_of
          - not_in
          title: Operator
        value:
          anyOf:
          - type: string
          - items:
              type: string
            type: array
          title: Value
        case_sensitive:
          type: boolean
          title: Case Sensitive
          default: true
        type:
          type: string
          const: collection
          title: Type
          default: collection
      type: object
      required:
      - column_id
      - operator
      - value
      title: LogRecordsCollectionFilter
    BaseScorerVersionDB:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        version:
[...]
