openapi: 3.1.0
info:
  title: Galileo API Server annotation api_keys API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: api_keys
paths:
  /users/{user_id}/api_keys:
    get:
      tags:
      - api_keys
      summary: Get Api Keys
      operationId: get_api_keys_users__user_id__api_keys_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiKeyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /users/api_keys:
    post:
      tags:
      - api_keys
      summary: Create Api Key
      operationId: create_api_key_users_api_keys_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
              examples:
              - description: My cool api_key
                expires_at: '2025-04-01 09:00:00+00:00'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /users/api_keys/{api_key_id}:
    delete:
      tags:
      - api_keys
      summary: Delete Api Key
      operationId: delete_api_key_users_api_keys__api_key_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: api_key_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Api Key Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyDeleteResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/users/{user_id}/api_keys:
    get:
      tags:
      - api_keys
      summary: Get Api Keys
      operationId: get_api_keys_v2_users__user_id__api_keys_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiKeyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/users/api_keys:
    post:
      tags:
      - api_keys
      summary: Create Api Key
      operationId: create_api_key_v2_users_api_keys_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
              examples:
              - description: My cool api_key
                expires_at: '2025-04-01 09:00:00+00:00'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/users/api_keys/{api_key_id}:
    delete:
      tags:
      - api_keys
      summary: Delete Api Key
      operationId: delete_api_key_v2_users_api_keys__api_key_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: api_key_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Api Key Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyDeleteResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/users/{user_id}/api_keys:
    get:
      tags:
      - api_keys
      summary: Get Api Keys
      operationId: get_api_keys_public_v2_users__user_id__api_keys_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiKeyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/users/api_keys:
    post:
      tags:
      - api_keys
      summary: Create Api Key
      operationId: create_api_key_public_v2_users_api_keys_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
              examples:
              - description: My cool api_key
                expires_at: '2025-04-01 09:00:00+00:00'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /public/v2/users/api_keys/{api_key_id}:
    delete:
      tags:
      - api_keys
      summary: Delete Api Key
      operationId: delete_api_key_public_v2_users_api_keys__api_key_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: api_key_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Api Key Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyDeleteResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ApiKeyDeleteResponse:
      properties:
        message:
          type: string
          title: Message
      type: object
      required:
      - message
      title: ApiKeyDeleteResponse
    GetApiKeyResponse:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        description:
          type: string
          title: Description
        expires_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Expires At
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
        last_used:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Last Used
        project_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Project Id
        project_role:
          anyOf:
          - $ref: '#/components/schemas/CollaboratorRole'
          - type: 'null'
        created_by:
          type: string
          format: uuid4
          title: Created By
        truncated:
          type: string
          title: Truncated
      type: object
      required:
      - id
      - description
      - created_at
      - updated_at
      - created_by
      - truncated
      title: GetApiKeyResponse
    CreateApiKeyResponse:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        description:
          type: string
          title: Description
        expires_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Expires At
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
        last_used:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Last Used
        project_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Project Id
        project_role:
          anyOf:
          - $ref: '#/components/schemas/CollaboratorRole'
          - type: 'null'
        created_by:
          type: string
          format: uuid4
          title: Created By
        truncated:
          type: string
          title: Truncated
        api_key:
          type: string
          title: Api Key
      type: object
      required:
      - id
      - description
      - created_at
      - updated_at
      - created_by
      - truncated
      - api_key
      title: CreateApiKeyResponse
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    CollaboratorRole:
      type: string
      enum:
      - owner
      - editor
      - annotator
      - viewer
      title: CollaboratorRole
    ListApiKeyResponse:
      properties:
        starting_token:
          type: integer
          title: Starting Token
          default: 0
        limit:
          type: integer
          title: Limit
          default: 100
        paginated:
          type: boolean
          title: Paginated
          default: false
        next_starting_token:
          anyOf:
          - type: integer
          - type: 'null'
          title: Next Starting Token
        api_keys:
          items:
            $ref: '#/components/schemas/GetApiKeyResponse'
          type: array
          title: Api Keys
      type: object
      required:
      - api_keys
      title: ListApiKeyResponse
    CreateApiKeyRequest:
      properties:
        description:
          type: string
          title: Description
        expires_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Expires At
          description: Expiry date for the API key
        project_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Project Id
        project_role:
          anyOf:
          - $ref: '#/components/schemas/CollaboratorRole'
          - type: 'null'
        api_key:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Key
          description: Optional pre-generated API key value. If not provided, one will be generated automatically. This is used for setups where the same API key needs to exist on multiple clusters.
      type: object
      required:
      - description
      title: CreateApiKeyRequest
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    ClassicAPIKeyHeader:
      type: apiKey
      in: header
      name: Galileo-API-Key
    APIKeyHeader:
      type: apiKey
      in: header
      name: Splunk-AO-API-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://api.galileo.ai/login
    HTTPBasic:
      type: http
      scheme: basic
