openapi: 3.1.0
info:
  title: Galileo API Server annotation groups API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: groups
paths:
  /group_roles:
    get:
      tags:
      - groups
      summary: Get Group Roles
      operationId: get_group_roles_group_roles_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GroupRoleInfo'
                type: array
                title: Response Get Group Roles Group Roles Get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /groups:
    post:
      tags:
      - groups
      summary: Create Group
      operationId: create_group_groups_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - groups
      summary: List Groups
      operationId: list_groups_groups_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGroupsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /groups/{group_id}:
    delete:
      tags:
      - groups
      summary: Delete Group
      operationId: delete_group_groups__group_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - groups
      summary: Get Group
      operationId: get_group_groups__group_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - groups
      summary: Update Group
      operationId: update_group_groups__group_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /groups/{group_id}/members:
    post:
      tags:
      - groups
      summary: Add User To Group
      operationId: add_user_to_group_groups__group_id__members_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GroupMemberCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupMemberDB'
                title: Response Add User To Group Groups  Group Id  Members Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - groups
      summary: List Group Members
      operationId: list_group_members_groups__group_id__members_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGroupMembersResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /groups/{group_id}/members/{user_id}:
    patch:
      tags:
      - groups
      summary: Update Group Member
      operationId: update_group_member_groups__group_id__members__user_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupMemberUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMemberDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - groups
      summary: Delete Group Member
      operationId: delete_group_member_groups__group_id__members__user_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /current_user/groups:
    get:
      tags:
      - groups
      summary: List Current User Groups
      operationId: list_current_user_groups_current_user_groups_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GroupDB'
                type: array
                title: Response List Current User Groups Current User Groups Get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/group_roles:
    get:
      tags:
      - groups
      summary: Get Group Roles
      operationId: get_group_roles_v2_group_roles_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GroupRoleInfo'
                type: array
                title: Response Get Group Roles V2 Group Roles Get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/groups:
    post:
      tags:
      - groups
      summary: Create Group
      operationId: create_group_v2_groups_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - groups
      summary: List Groups
      operationId: list_groups_v2_groups_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGroupsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/groups/{group_id}:
    delete:
      tags:
      - groups
      summary: Delete Group
      operationId: delete_group_v2_groups__group_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - groups
      summary: Get Group
      operationId: get_group_v2_groups__group_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - groups
      summary: Update Group
      operationId: update_group_v2_groups__group_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/groups/{group_id}/members:
    post:
      tags:
      - groups
      summary: Add User To Group
      operationId: add_user_to_group_v2_groups__group_id__members_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GroupMemberCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupMemberDB'
                title: Response Add User To Group V2 Groups  Group Id  Members Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - groups
      summary: List Group Members
      operationId: list_group_members_v2_groups__group_id__members_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGroupMembersResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/groups/{group_id}/members/{user_id}:
    patch:
      tags:
      - groups
      summary: Update Group Member
      operationId: update_group_member_v2_groups__group_id__members__user_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupMemberUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMemberDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - groups
      summary: Delete Group Member
      operationId: delete_group_member_v2_groups__group_id__members__user_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/current_user/groups:
    get:
      tags:
      - groups
      summary: List Current User Groups
      operationId: list_current_user_groups_v2_current_user_groups_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GroupDB'
                type: array
                title: Response List Current User Groups V2 Current User Groups Get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /public/v2/group_roles:
    get:
      tags:
      - groups
      summary: Get Group Roles
      operationId: get_group_roles_public_v2_group_roles_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GroupRoleInfo'
                type: array
                title: Response Get Group Roles Public V2 Group Roles Get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /public/v2/groups:
    post:
      tags:
      - groups
      summary: Create Group
      operationId: create_group_public_v2_groups_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - groups
      summary: List Groups
      operationId: list_groups_public_v2_groups_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGroupsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/groups/{group_id}:
    delete:
      tags:
      - groups
      summary: Delete Group
      operationId: delete_group_public_v2_groups__group_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - groups
      summary: Get Group
      operationId: get_group_public_v2_groups__group_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - groups
      summary: Update Group
      operationId: update_group_public_v2_groups__group_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/groups/{group_id}/members:
    post:
      tags:
      - groups
      summary: Add User To Group
      operationId: add_user_to_group_public_v2_groups__group_id__members_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GroupMemberCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupMemberDB'
                title: Response Add User To Group Public V2 Groups  Group Id  Members Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - groups
      summary: List Group Members
      operationId: list_group_members_public_v2_groups__group_id__members_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGroupMembersResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/groups/{group_id}/members/{user_id}:
    patch:
      tags:
      - groups
      summary: Update Group Member
      operationId: update_group_member_public_v2_groups__group_id__members__user_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupMemberUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMemberDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - groups
      summary: Delete Group Member
      operationId: delete_group_member_public_v2_groups__group_id__members__user_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/current_user/groups:
    get:
      tags:
      - groups
      summary: List Current User Groups
      operationId: list_current_user_groups_public_v2_current_user_groups_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GroupDB'
                type: array
                title: Response List Current User Groups Public V2 Current User Groups Get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
components:
  schemas:
    GroupRole:
      type: string
      enum:
      - maintainer
      - member
      - pending
      title: GroupRole
    GroupRoleInfo:
      properties:
        name:
          $ref: '#/components/schemas/GroupRole'
          examples:
          - maintainer
        display_name:
          type: string
          title: Display Name
          examples:
          - Maintainer
        description:
          type: string
          title: Description
          examples:
          - Can add, remove, and edit group members.
      type: object
      required:
      - name
      - display_name
      - description
      title: GroupRoleInfo
    IntegrationAction:
      type: string
      enum:
      - update
      - delete
      - share
      - read_secrets
      title: IntegrationAction
    ProjectAction:
      type: string
      enum:
      - update
      - delete
      - rename
      - share
      - create_run
      - delete_run
      - rename_run
      - move_run
      - export_data
      - configure_human_feedback
      - record_human_feedback
      - log_data
      - toggle_metric
      - edit_alert
      - create_stage
      - edit_stage
      - configure_crown_logic
      - delete_data
      - set_metric
      - edit_run_tags
      - dismiss_alert
      - edit_slice
      - edit_edit
      - update_control_bindings
      - use_control_runtime
      title: ProjectAction
    ListGroupsResponse:
      properties:
        starting_token:
          type: integer
          title: Starting Token
          default: 0
        limit:
          type: integer
          title: Limit
          default: 100
        paginated:
          type: boolean
          title: Paginated
          default: false
        next_starting_token:
          anyOf:
          - type: integer
          - type: 'null'
          title: Next Starting Token
        groups:
          items:
            $ref: '#/components/schemas/GroupDB'
          type: array
          title: Groups
      type: object
      required:
      - groups
      title: ListGroupsResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    GroupVisibility:
      type: string
      enum:
      - public
      - private
      - hidden
      - protected
      title: GroupVisibility
    GroupAction:
      type: string
      enum:
      - update
      - list_members
      - join
      - request_to_join
      title: GroupAction
    DatasetAction:
      type: string
      enum:
      - update
      - delete
      - share
      - export
      - rename
      title: DatasetAction
    GroupCreate:
      properties:
        name:
          type: string
          maxLength: 128
          minLength: 1
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        visibility:
          $ref: '#/components/schemas/GroupVisibility'
          default: public
        users:
          items:
            $ref: '#/components/schemas/GroupMemberCreate'
          type: array
          title: Users
          default: []
      type: object
      required:
      - name
      title: GroupCreate
    AnnotationQueueAction:
      type: string
      enum:
      - update
      - delete
      - share
      - record_annotation
      title: AnnotationQueueAction
    GeneratedScorerAction:
      type: string
      enum:
      - update
      - delete
      title: GeneratedScorerAction
    GroupMemberAction:
      type: string
      enum:
      - update_role
      - delete
      title: GroupMemberAction
    FineTunedScorerAction:
      type: string
      enum:
      - update
      - delete
      title: FineTunedScorerAction
    GroupMemberUpdate:
      properties:
        role:
          $ref: '#/components/schemas/GroupRole'
      type: object
      required:
      - role
      title: GroupMemberUpdate
    ApiKeyAction:
      type: string
      enum:
      - update
      - delete
      title: ApiKeyAction
    UserAction:
      type: string
      enum:
      - update
      - delete
      - read_api_keys
      - change_role_to_admin
      - change_role_to_manager
      - change_role_to_user
      - change_role_to_read_only
      title: UserAction
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    GroupMemberCreate:
      properties:
        user_id:
          type: string
          format: uuid4
          title: User Id
        role:
          $ref: '#/components/schemas/GroupRole'
          default: member
      type: object
      required:
      - user_id
      title: GroupMemberCreate
    GroupUpdate:
      properties:
        name:
          type: string
          maxLength: 128
          minLength: 1
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        visibility:
          $ref: '#/components/schemas/GroupVisibility'
      type: object
      required:
      - name
      - description
      - visibility
      title: GroupUpdate
    GroupMemberDB:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        permissions:
          items:
            $ref: '#/components/schemas/Permission'
          type: array
          title: Permissions
          default: []
        user_id:
          type: string
          format: uuid4
          title: User Id
        group_role:
          $ref: '#/components/schemas/GroupRole'
        first_name:
          anyOf:
          - type: string
          - type: 'null'
          title: First Name
        last_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Name
        email:
          type: string
          title: Email
        created_at:
          type: string
          format: date-time
          title: Created At
      type: object
      required:
      - id
      - user_id
      - group_role
      - first_name
      - last_name
      - email
      - created_at
      title: GroupMemberDB
    GroupDB:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        permissions:
          items:
            $ref: '#/components/schemas/Permission'
          type: array
          title: Permissions
          default: []
        name:
          type: string
          maxLength: 128
          minLength: 1
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        visibility:
          $ref: '#/components/schemas/GroupVisibility'
          default: public
        size:
          type: integer
          title: Size
        created_at:
          type: string
          format: date-time
          title: Created At
        role:
          anyOf:
          - $ref: '#/components/schemas/GroupRole'
          - type: 'null'
          description: The role of the current user in the group.
      type: object
      required:
      - id
      - name
      - size
      - created_at
      title: GroupDB
    Permission:
      properties:
        action:
          anyOf:
          - $ref: '#/components/schemas/UserAction'
          - $ref: '#/components/schemas/GroupAction'
          - $ref: '#/components/schemas/GroupMemberAction'
          - $ref: '#/components/schemas/ProjectAction'
          - $ref: '#/components/schemas/ScorerAction'
          - $ref: '#/components/schemas/RegisteredScorerAction'
          - $ref: '#/components/schemas/ApiKeyAction'
          - $ref: '#/components/schemas/GeneratedScorerAction'
          - $ref: '#/components/schemas/FineTunedScorerAction'
          - $ref: '#/components/schemas/DatasetAction'
          - $ref: '#/components/schemas/IntegrationAction'
          - $ref: '#/components/schemas/OrganizationAction'
          - $ref: '#/components/schemas/AnnotationQueueAction'
          - $ref: '#/components/schemas/ControlResourceAction'
          title: Action
        allowed:
          type: boolean
          title: Allowed
        message:
          anyOf:
          - type: string
          - type: 'null'
          title: Message
      type: object
      required:
      - action
      - allowed
      title: Permission
    RegisteredScorerAction:
      type: string
      enum:
      - update
      - delete
      title: RegisteredScorerAction
    ListGroupMembersResponse:
      properties:
        starting_token:
          type: integer
          title: Starting Token
          default: 0
        limit:
          type: integer
          title: Limit
          default: 100
        paginated:
          type: boolean
          title: Paginated
          default: false
        next_starting_token:
          anyOf:
          - type: integer
          - type: 'null'
          title: Next Starting Token
        members:
          items:
            $ref: '#/components/schemas/GroupMemberDB'
          type: array
          title: Members
      type: object
      required:
      - members
      title: ListGroupMembersResponse
    OrganizationAction:
      type: string
      enum:
      - rename
      - delete
      - delete_log_data
      - read_settings
      - update_settings
      - read_cost_settings
      - read_ai_usage
      title: OrganizationAction
    ControlResourceAction:
      type: string
      enum:
      - create
      - read
      - update
      - delete
      title: ControlResourceAction
      description: Actions on Agent Control's org-scoped ``control`` resource.
    ScorerAction:
      type: string
      enum:
      - update
      - delete
      - share
      - export
      - autotune_apply
      title: ScorerAction
  securitySchemes:
    ClassicAPIKeyHeader:
      type: apiKey
      in: header
      name: Galileo-API-Key
    APIKeyHeader:
      type: apiKey
      in: header
      name: Splunk-AO-API-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://api.galileo.ai/login
    HTTPBasic:
      type: http
      scheme: basic
