openapi: 3.1.0
info:
  title: Galileo API Server annotation system_users API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: system_users
paths:
  /current_system_user:
    get:
      tags:
      - system_users
      summary: Current System User
      operationId: current_system_user_current_system_user_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemUserDB'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /current_system_user/organizations:
    get:
      tags:
      - system_users
      summary: Current System User Organizations
      operationId: current_system_user_organizations_current_system_user_organizations_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganizationsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /system_users/{system_user_id}:
    delete:
      tags:
      - system_users
      summary: Delete System User
      operationId: delete_system_user_system_users__system_user_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: system_user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: System User Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/system_users:
    post:
      tags:
      - system_users
      summary: Create Or Verify User
      description: 'Create a new system user with an email and password.


        If no admin exists (first user), the user will be created as an admin.


        Otherwise:

        - User record was already created when the admin invited the user

        - We should verify the user''s email'
      operationId: create_or_verify_user_v2_system_users_post
      parameters:
      - name: signup_token
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Signup Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
              examples:
              - email: user@example.com
                first_name: Alice
                last_name: Appleseed
                auth_method: email
                password: Th3secret_
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemUserDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/system_users/social:
    post:
      tags:
      - system_users
      summary: Create Or Verify User Social
      description: 'Create a user using a social login provider.


        All social users are created with `email_is_verified=True`, don''t need to be invited and are by default read-only

        (unless they are the first user, in which case they are set to admin).'
      operationId: create_or_verify_user_social_v2_system_users_social_post
      parameters:
      - name: signup_token
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Signup Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialLoginRequest'
              examples:
              - id_token: token1234
                provider: google
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemUserDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/system_users:
    post:
      tags:
      - system_users
      summary: Create Or Verify User
      description: 'Create a new system user with an email and password.


        If no admin exists (first user), the user will be created as an admin.


        Otherwise:

        - User record was already created when the admin invited the user

        - We should verify the user''s email'
      operationId: create_or_verify_user_public_v2_system_users_post
      parameters:
      - name: signup_token
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Signup Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
              examples:
              - email: user@example.com
                first_name: Alice
                last_name: Appleseed
                auth_method: email
                password: Th3secret_
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemUserDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/system_users/social:
    post:
      tags:
      - system_users
      summary: Create Or Verify User Social
      description: 'Create a user using a social login provider.


        All social users are created with `email_is_verified=True`, don''t need to be invited and are by default read-only

        (unless they are the first user, in which case they are set to admin).'
      operationId: create_or_verify_user_social_public_v2_system_users_social_post
      parameters:
      - name: signup_token
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Signup Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialLoginRequest'
              examples:
              - id_token: token1234
                provider: google
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemUserDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    SocialProvider:
      type: string
      enum:
      - google
      - github
      - okta
      - azure-ad
      - custom
      - saml
      title: SocialProvider
    IntegrationAction:
      type: string
      enum:
      - update
      - delete
      - share
      - read_secrets
      title: IntegrationAction
    ProjectAction:
      type: string
      enum:
      - update
      - delete
      - rename
      - share
      - create_run
      - delete_run
      - rename_run
      - move_run
      - export_data
      - configure_human_feedback
      - record_human_feedback
      - log_data
      - toggle_metric
      - edit_alert
      - create_stage
      - edit_stage
      - configure_crown_logic
      - delete_data
      - set_metric
      - edit_run_tags
      - dismiss_alert
      - edit_slice
      - edit_edit
      - update_control_bindings
      - use_control_runtime
      title: ProjectAction
    UserCreate:
      properties:
        email:
          type: string
          format: email
          title: Email
        first_name:
          anyOf:
          - type: string
          - type: 'null'
          title: First Name
          default: ''
        last_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Name
          default: ''
        auth_method:
          $ref: '#/components/schemas/AuthMethod'
          default: email
        role:
          $ref: '#/components/schemas/UserRole'
          default: read_only
        email_is_verified:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Email Is Verified
          default: false
        password:
          anyOf:
          - type: string
            format: password
            writeOnly: true
          - type: 'null'
          title: Password
      type: object
      required:
      - email
      title: UserCreate
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    SystemUserDB:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
        email:
          type: string
          title: Email
        first_name:
          anyOf:
          - type: string
          - type: 'null'
          title: First Name
        last_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Name
        email_is_verified:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Email Is Verified
        status:
          $ref: '#/components/schemas/SystemUserStatus'
        role:
          $ref: '#/components/schemas/SystemRole'
        auth_method:
          type: string
          title: Auth Method
      type: object
      required:
      - id
      - created_at
      - updated_at
      - email
      - status
      - role
      - auth_method
      title: SystemUserDB
    SystemUserStatus:
      type: string
      enum:
      - requested
      - invited
      - enabled
      - disabled
      title: SystemUserStatus
    UserRole:
      type: string
      enum:
      - admin
      - manager
      - user
      - read_only
      title: UserRole
    GroupAction:
      type: string
      enum:
      - update
      - list_members
      - join
      - request_to_join
      title: GroupAction
    OrganizationDB:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        permissions:
          items:
            $ref: '#/components/schemas/Permission'
          type: array
          title: Permissions
          default: []
        name:
          type: string
          title: Name
        slug:
          type: string
          title: Slug
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
      type: object
      required:
      - id
      - name
      - slug
      - created_at
      - updated_at
      title: OrganizationDB
    DatasetAction:
      type: string
      enum:
      - update
      - delete
      - share
      - export
      - rename
      title: DatasetAction
    SocialLoginRequest:
      properties:
        id_token:
          anyOf:
          - type: string
          - type: 'null'
          title: Id Token
        access_token:
          anyOf:
          - type: string
          - type: 'null'
          title: Access Token
        provider:
          $ref: '#/components/schemas/SocialProvider'
      type: object
      required:
      - provider
      title: SocialLoginRequest
    AnnotationQueueAction:
      type: string
      enum:
      - update
      - delete
      - share
      - record_annotation
      title: AnnotationQueueAction
    GeneratedScorerAction:
      type: string
      enum:
      - update
      - delete
      title: GeneratedScorerAction
    GroupMemberAction:
      type: string
      enum:
      - update_role
      - delete
      title: GroupMemberAction
    FineTunedScorerAction:
      type: string
      enum:
      - update
      - delete
      title: FineTunedScorerAction
    ApiKeyAction:
      type: string
      enum:
      - update
      - delete
      title: ApiKeyAction
    UserAction:
      type: string
      enum:
      - update
      - delete
      - read_api_keys
      - change_role_to_admin
      - change_role_to_manager
      - change_role_to_user
      - change_role_to_read_only
      title: UserAction
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    AuthMethod:
      type: string
      enum:
      - email
      - google
      - github
      - okta
      - azure-ad
      - custom
      - saml
      - invite
      title: AuthMethod
    Permission:
      properties:
        action:
          anyOf:
          - $ref: '#/components/schemas/UserAction'
          - $ref: '#/components/schemas/GroupAction'
          - $ref: '#/components/schemas/GroupMemberAction'
          - $ref: '#/components/schemas/ProjectAction'
          - $ref: '#/components/schemas/ScorerAction'
          - $ref: '#/components/schemas/RegisteredScorerAction'
          - $ref: '#/components/schemas/ApiKeyAction'
          - $ref: '#/components/schemas/GeneratedScorerAction'
          - $ref: '#/components/schemas/FineTunedScorerAction'
          - $ref: '#/components/schemas/DatasetAction'
          - $ref: '#/components/schemas/IntegrationAction'
          - $ref: '#/components/schemas/OrganizationAction'
          - $ref: '#/components/schemas/AnnotationQueueAction'
          - $ref: '#/components/schemas/ControlResourceAction'
          title: Action
        allowed:
          type: boolean
          title: Allowed
        message:
          anyOf:
          - type: string
          - type: 'null'
          title: Message
      type: object
      required:
      - action
      - allowed
      title: Permission
    RegisteredScorerAction:
      type: string
      enum:
      - update
      - delete
      title: RegisteredScorerAction
    OrganizationAction:
      type: string
      enum:
      - rename
      - delete
      - delete_log_data
      - read_settings
      - update_settings
      - read_cost_settings
      - read_ai_usage
      title: OrganizationAction
    ListOrganizationsResponse:
      properties:
        starting_token:
          type: integer
          title: Starting Token
          default: 0
        limit:
          type: integer
          title: Limit
          default: 100
        paginated:
          type: boolean
          title: Paginated
          default: false
        next_starting_token:
          anyOf:
          - type: integer
          - type: 'null'
          title: Next Starting Token
        organizations:
          items:
            $ref: '#/components/schemas/OrganizationDB'
          type: array
          title: Organizations
      type: object
      required:
      - organizations
      title: ListOrganizationsResponse
    ControlResourceAction:
      type: string
      enum:
      - create
      - read
      - update
      - delete
      title: ControlResourceAction
      description: Actions on Agent Control's org-scoped ``control`` resource.
    SystemRole:
      type: string
      enum:
      - system_admin
      - system_user
      title: SystemRole
    ScorerAction:
      type: string
      enum:
      - update
      - delete
      - share
      - export
      - autotune_apply
      title: ScorerAction
  securitySchemes:
    ClassicAPIKeyHeader:
      type: apiKey
      in: header
      name: Galileo-API-Key
    APIKeyHeader:
      type: apiKey
      in: header
      name: Splunk-AO-API-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://api.galileo.ai/login
    HTTPBasic:
      type: http
      scheme: basic
