openapi: 3.1.0
info:
  title: Galileo API Server annotation system_admin API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: system_admin
paths:
  /system_admin/organizations/{organization_id}/join:
    post:
      tags:
      - system_admin
      summary: Join Organization
      operationId: join_organization_system_admin_organizations__organization_id__join_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Organization Id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinOrganizationRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMember'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    UserRole:
      type: string
      enum:
      - admin
      - manager
      - user
      - read_only
      title: UserRole
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    OrganizationMember:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        role:
          $ref: '#/components/schemas/UserRole'
      type: object
      required:
      - id
      - role
      title: OrganizationMember
    JoinOrganizationRequest:
      properties:
        role:
          $ref: '#/components/schemas/UserRole'
          default: user
      type: object
      title: JoinOrganizationRequest
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    ClassicAPIKeyHeader:
      type: apiKey
      in: header
      name: Galileo-API-Key
    APIKeyHeader:
      type: apiKey
      in: header
      name: Splunk-AO-API-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://api.galileo.ai/login
    HTTPBasic:
      type: http
      scheme: basic
