openapi: 3.1.0
info:
  title: Galileo API Server annotation auth API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: auth
paths:
  /login:
    post:
      tags:
      - auth
      summary: Login Email
      operationId: login_email_login_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_login_email_login_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2PasswordBearer: []
  /login/api_key:
    post:
      tags:
      - auth
      summary: Login Api Key
      operationId: login_api_key_login_api_key_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyLoginRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2PasswordBearer: []
  /login/social:
    post:
      tags:
      - auth
      summary: Login Social
      operationId: login_social_login_social_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialLoginRequest'
              examples:
              - id_token: token1234
                provider: google
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2PasswordBearer: []
  /saml/login:
    get:
      tags:
      - auth
      summary: Saml Login
      operationId: saml_login_saml_login_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /saml/acs:
    post:
      tags:
      - auth
      summary: Saml Acs
      operationId: saml_acs_saml_acs_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - OAuth2PasswordBearer: []
  /saml/metadata:
    get:
      tags:
      - auth
      summary: Saml Metadata
      operationId: saml_metadata_saml_metadata_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /logout:
    post:
      tags:
      - auth
      summary: Logout
      operationId: logout_logout_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /verify_email:
    post:
      tags:
      - auth
      summary: Verify Email
      operationId: verify_email_verify_email_post
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: verification_token
        in: query
        required: true
        schema:
          type: string
          title: Verification Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationRequest'
              examples:
              - email: user@example.com
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /token:
    get:
      tags:
      - auth
      summary: Get Token
      operationId: get_token_token_get
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: organization_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Organization Id
      - name: organization_slug
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Organization Slug
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTokenResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /refresh_token:
    post:
      tags:
      - auth
      summary: Refresh Token
      operationId: refresh_token_refresh_token_post
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: refresh_token
        in: cookie
        required: true
        schema:
          type: string
          title: Refresh Token
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/token:
    get:
      tags:
      - auth
      summary: Get Token
      operationId: get_token_v1_token_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: organization_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Organization Id
      - name: organization_slug
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Organization Slug
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTokenResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/login:
    post:
      tags:
      - auth
      summary: Login Email
      operationId: login_email_v1_login_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_login_email_v1_login_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2PasswordBearer: []
  /v1/login/api_key:
    post:
      tags:
      - auth
      summary: Login Api Key
      operationId: login_api_key_v1_login_api_key_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyLoginRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2PasswordBearer: []
  /v1/login/social:
    post:
      tags:
      - auth
      summary: Login Social
      operationId: login_social_v1_login_social_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialLoginRequest'
              examples:
              - id_token: token1234
                provider: google
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2PasswordBearer: []
  /v1/saml/login:
    get:
      tags:
      - auth
      summary: Saml Login
      operationId: saml_login_v1_saml_login_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /v1/saml/acs:
    post:
      tags:
      - auth
      summary: Saml Acs
      operationId: saml_acs_v1_saml_acs_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - OAuth2PasswordBearer: []
  /v1/saml/metadata:
    get:
      tags:
      - auth
      summary: Saml Metadata
      operationId: saml_metadata_v1_saml_metadata_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /v1/verify_email:
    post:
      tags:
      - auth
      summary: Verify Email
      operationId: verify_email_v1_verify_email_post
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: verification_token
        in: query
        required: true
        schema:
          type: string
          title: Verification Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationRequest'
              examples:
              - email: user@example.com
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/refresh_token:
    post:
      tags:
      - auth
      summary: Refresh Token
      operationId: refresh_token_v1_refresh_token_post
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: refresh_token
        in: cookie
        required: true
        schema:
          type: string
          title: Refresh Token
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/token:
    get:
      tags:
      - auth
      summary: Get Token
      operationId: get_token_v2_token_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: organization_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Organization Id
      - name: organization_slug
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Organization Slug
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTokenResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/login:
    post:
      tags:
      - auth
      summary: Login Email
      operationId: login_email_v2_login_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_login_email_v2_login_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2PasswordBearer: []
  /v2/login/api_key:
    post:
      tags:
      - auth
      summary: Login Api Key
      operationId: login_api_key_v2_login_api_key_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyLoginRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2PasswordBearer: []
  /v2/login/social:
    post:
      tags:
      - auth
      summary: Login Social
      operationId: login_social_v2_login_social_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialLoginRequest'
              examples:
              - id_token: token1234
                provider: google
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2PasswordBearer: []
  /v2/saml/login:
    get:
      tags:
      - auth
      summary: Saml Login
      operationId: saml_login_v2_saml_login_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /v2/saml/acs:
    post:
      tags:
      - auth
      summary: Saml Acs
      operationId: saml_acs_v2_saml_acs_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - OAuth2PasswordBearer: []
  /v2/saml/metadata:
    get:
      tags:
      - auth
      summary: Saml Metadata
      operationId: saml_metadata_v2_saml_metadata_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /v2/verify_email:
    post:
      tags:
      - auth
      summary: Verify Email
      operationId: verify_email_v2_verify_email_post
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: verification_token
        in: query
        required: true
        schema:
          type: string
          title: Verification Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationRequest'
              examples:
              - email: user@example.com
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/refresh_token:
    post:
      tags:
      - auth
      summary: Refresh Token
      operationId: refresh_token_v2_refresh_token_post
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: refresh_token
        in: cookie
        required: true
        schema:
          type: string
          title: Refresh Token
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v1/token:
    get:
      tags:
      - auth
      summary: Get Token
      operationId: get_token_public_v1_token_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: organization_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Organization Id
      - name: organization_slug
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Organization Slug
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTokenResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v1/login:
    post:
      tags:
      - auth
      summary: Login Email
      operationId: login_email_public_v1_login_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_login_email_public_v1_login_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2PasswordBearer: []
  /public/v1/login/api_key:
    post:
      tags:
      - auth
      summary: Login Api Key
      operationId: login_api_key_public_v1_login_api_key_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyLoginRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2PasswordBearer: []
  /public/v1/login/social:
    post:
      tags:
      - auth
      summary: Login Social
      operationId: login_social_public_v1_login_social_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialLoginRequest'
              examples:
              - id_token: token1234
                provider: google
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2PasswordBearer: []
  /public/v1/saml/login:
    get:
      tags:
      - auth
      summary: Saml Login
      operationId: saml_login_public_v1_saml_login_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /public/v1/saml/acs:
    post:
      tags:
      - auth
      summary: Saml Acs
      operationId: saml_acs_public_v1_saml_acs_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - OAuth2PasswordBearer: []
  /public/v1/saml/metadata:
    get:
      tags:
      - auth
      summary: Saml Metadata
      operationId: saml_metadata_public_v1_saml_metadata_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /public/v1/verify_email:
    post:
      tags:
      - auth
      summary: Verify Email
      operationId: verify_email_public_v1_verify_email_post
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: verification_token
        in: query
        required: true
        schema:
          type: string
          title: Verification Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationRequest'
              examples:
              - email: user@example.com
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v1/refresh_token:
    post:
      tags:
      - auth
      summary: Refresh Token
      operationId: refresh_token_public_v1_refresh_token_post
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: refresh_token
        in: cookie
        required: true
        schema:
          type: string
          title: Refresh Token
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/token:
    get:
      tags:
      - auth
      summary: Get Token
      operationId: get_token_public_v2_token_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: organization_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Organization Id
      - name: organization_slug
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Organization Slug
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTokenResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/login:
    post:
      tags:
      - auth
      summary: Login Email
      operationId: login_email_public_v2_login_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_login_email_public_v2_login_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2PasswordBearer: []
  /public/v2/login/api_key:
    post:
      tags:
      - auth
      summary: Login Api Key
      operationId: login_api_key_public_v2_login_api_key_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyLoginRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2PasswordBearer: []
  /public/v2/login/social:
    post:
      tags:
      - auth
      summary: Login Social
      operationId: login_social_public_v2_login_social_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialLoginRequest'
              examples:
              - id_token: token1234
                provider: google
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2PasswordBearer: []
  /public/v2/saml/login:
    get:
      tags:
      - auth
      summary: Saml Login
      operationId: saml_login_public_v2_saml_login_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /public/v2/saml/acs:
    post:
      tags:
      - auth
      summary: Saml Acs
      operationId: saml_acs_public_v2_saml_acs_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - OAuth2PasswordBearer: []
  /public/v2/saml/metadata:
    get:
      tags:
      - auth
      summary: Saml Metadata
      operationId: saml_metadata_public_v2_saml_metadata_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /public/v2/verify_email:
    post:
      tags:
      - auth
      summary: Verify Email
      operationId: verify_email_public_v2_verify_email_post
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: verification_token
        in: query
        required: true
        schema:
          type: string
          title: Verification Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationRequest'
              examples:
              - email: user@example.com
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/refresh_token:
    post:
      tags:
      - auth
      summary: Refresh Token
      operationId: refresh_token_public_v2_refresh_token_post
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: refresh_token
        in: cookie
        required: true
        schema:
          type: string
          title: Refresh Token
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    Body_login_email_v1_login_post:
      properties:
        grant_type:
          anyOf:
          - type: string
            pattern: ^password$
          - type: 'null'
          title: Grant Type
        username:
          type: string
          title: Username
        password:
          type: string
          format: password
          title: Password
        scope:
          type: string
          title: Scope
          default: ''
        client_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Client Id
        client_secret:
          anyOf:
          - type: string
          - type: 'null'
          format: password
          title: Client Secret
      type: object
      required:
      - username
      - password
      title: Body_login_email_v1_login_post
    SocialProvider:
      type: string
      enum:
      - google
      - github
      - okta
      - azure-ad
      - custom
      - saml
      title: SocialProvider
    EmailVerificationRequest:
      properties:
        email:
          type: string
          format: email
          title: Email
      type: object
      required:
      - email
      title: EmailVerificationRequest
    GetTokenResponse:
      properties:
        access_token:
          type: string
          title: Access Token
        token_type:
          type: string
          title: Token Type
          default: bearer
        expires_at:
          type: string
          format: date-time
          title: Expires At
      type: object
      required:
      - access_token
      - expires_at
      title: GetTokenResponse
    ApiKeyLoginRequest:
      properties:
        api_key:
          type: string
          title: Api Key
      type: object
      required:
      - api_key
      title: ApiKeyLoginRequest
    Body_login_email_public_v1_login_post:
      properties:
        grant_type:
          anyOf:
          - type: string
            pattern: ^password$
          - type: 'null'
          title: Grant Type
        username:
          type: string
          title: Username
        password:
          type: string
          format: password
          title: Password
        scope:
          type: string
          title: Scope
          default: ''
        client_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Client Id
        client_secret:
          anyOf:
          - type: string
          - type: 'null'
          format: password
          title: Client Secret
      type: object
      required:
      - username
      - password
      title: Body_login_email_public_v1_login_post
    Body_login_email_login_post:
      properties:
        grant_type:
          anyOf:
          - type: string
            pattern: ^password$
          - type: 'null'
          title: Grant Type
        username:
          type: string
          title: Username
        password:
          type: string
          format: password
          title: Password
        scope:
          type: string
          title: Scope
          default: ''
        client_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Client Id
        client_secret:
          anyOf:
          - type: string
          - type: 'null'
          format: password
          title: Client Secret
      type: object
      required:
      - username
      - password
      title: Body_login_email_login_post
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    Token:
      properties:
        access_token:
          type: string
          title: Access Token
        token_type:
          type: string
          title: Token Type
          default: bearer
      type: object
      required:
      - access_token
      title: Token
    Body_login_email_v2_login_post:
      properties:
        grant_type:
          anyOf:
          - type: string
            pattern: ^password$
          - type: 'null'
          title: Grant Type
        username:
          type: string
          title: Username
        password:
          type: string
          format: password
          title: Password
        scope:
          type: string
          title: Scope
          default: ''
        client_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Client Id
        client_secret:
          anyOf:
          - type: string
          - type: 'null'
          format: password
          title: Client Secret
      type: object
      required:
      - username
      - password
      title: Body_login_email_v2_login_post
    Body_login_email_public_v2_login_post:
      properties:
        grant_type:
          anyOf:
          - type: string
            pattern: ^password$
          - type: 'null'
          title: Grant Type
        username:
          type: string
          title: Username
        password:
          type: string
          format: password
          title: Password
        scope:
          type: string
          title: Scope
          default: ''
        client_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Client Id
        client_secret:
          anyOf:
          - type: string
          - type: 'null'
          format: password
          title: Client Secret
      type: object
      required:
      - username
      - password
      title: Body_login_email_public_v2_login_post
    SocialLoginRequest:
      properties:
        id_token:
          anyOf:
          - type: string
          - type: 'null'
          title: Id Token
        access_token:
          anyOf:
          - type: string
          - type: 'null'
          title: Access Token
        provider:
          $ref: '#/components/schemas/SocialProvider'
      type: object
      required:
      - provider
      title: SocialLoginRequest
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    ClassicAPIKeyHeader:
      type: apiKey
      in: header
      name: Galileo-API-Key
    APIKeyHeader:
      type: apiKey
      in: header
      name: Splunk-AO-API-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://api.galileo.ai/login
    HTTPBasic:
      type: http
      scheme: basic
