openapi: 3.1.0
info:
  title: Galileo API Server annotation integrations API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: integrations
paths:
  /integrations/available:
    get:
      tags:
      - integrations
      summary: List Available Integrations
      description: List all of the available integrations to be created in Galileo.
      operationId: list_available_integrations_integrations_available_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableIntegrations'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /integrations/{name}:
    get:
      tags:
      - integrations
      summary: Get Integration
      description: Gets the integration data formatted for the specified integration.
      operationId: get_integration_integrations__name__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/IntegrationProvider'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AwsBedrockIntegration'
                - $ref: '#/components/schemas/AwsSageMakerIntegration'
                - $ref: '#/components/schemas/AzureIntegration'
                - $ref: '#/components/schemas/AnthropicIntegration'
                - $ref: '#/components/schemas/CustomIntegration'
                - $ref: '#/components/schemas/DatabricksIntegration'
                - $ref: '#/components/schemas/MistralIntegration'
                - $ref: '#/components/schemas/NvidiaIntegration'
                - $ref: '#/components/schemas/OpenAIIntegration'
                - $ref: '#/components/schemas/VegasGatewayIntegration'
                - $ref: '#/components/schemas/VertexAIIntegration'
                - $ref: '#/components/schemas/WriterIntegration'
                discriminator:
                  propertyName: provider
                  mapping:
                    aws_bedrock: '#/components/schemas/AwsBedrockIntegration'
                    aws_sagemaker: '#/components/schemas/AwsSageMakerIntegration'
                    azure: '#/components/schemas/AzureIntegration'
                    anthropic: '#/components/schemas/AnthropicIntegration'
                    custom: '#/components/schemas/CustomIntegration'
                    databricks: '#/components/schemas/DatabricksIntegration'
                    mistral: '#/components/schemas/MistralIntegration'
                    nvidia: '#/components/schemas/NvidiaIntegration'
                    openai: '#/components/schemas/OpenAIIntegration'
                    vegas_gateway: '#/components/schemas/VegasGatewayIntegration'
                    vertex_ai: '#/components/schemas/VertexAIIntegration'
                    writer: '#/components/schemas/WriterIntegration'
                title: Response Get Integration Integrations  Name  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - integrations
      summary: Delete Integration
      description: Delete an integration. Admins can delete integrations created by other admins in the same org.
      operationId: delete_integration_integrations__name__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/IntegrationProvider'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /integrations/{name}/status:
    get:
      tags:
      - integrations
      summary: Get Integration Status
      description: Checks if the integration status is active or not.
      operationId: get_integration_status_integrations__name__status_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/IntegrationProvider'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
                title: Response Get Integration Status Integrations  Name  Status Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /integrations/{integration_id}/users:
    get:
      tags:
      - integrations
      summary: List User Integration Collaborators
      description: List the users with which the integration has been shared.
      operationId: list_user_integration_collaborators_integrations__integration_id__users_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserCollaboratorsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - integrations
      summary: Create User Integration Collaborators
      operationId: create_user_integration_collaborators_integrations__integration_id__users_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UserCollaboratorCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserCollaborator'
                title: Response Create User Integration Collaborators Integrations  Integration Id  Users Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /integrations/{integration_id}/users/{user_id}:
    patch:
      tags:
      - integrations
      summary: Update User Integration Collaborator
      description: Update the sharing permissions of a user on an integration.
      operationId: update_user_integration_collaborator_integrations__integration_id__users__user_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCollaborator'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - integrations
      summary: Delete User Integration Collaborator
      description: Remove a user's access to an integration.
      operationId: delete_user_integration_collaborator_integrations__integration_id__users__user_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /integrations/{integration_id}/groups:
    post:
      tags:
      - integrations
      summary: Create Group Integration Collaborators
      description: Share an integration with groups.
      operationId: create_group_integration_collaborators_integrations__integration_id__groups_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GroupCollaboratorCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupCollaborator'
                title: Response Create Group Integration Collaborators Integrations  Integration Id  Groups Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - integrations
      summary: List Group Integration Collaborators
      description: List the groups with which the integration has been shared.
      operationId: list_group_integration_collaborators_integrations__integration_id__groups_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGroupCollaboratorsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /integrations/{integration_id}/groups/{group_id}:
    patch:
      tags:
      - integrations
      summary: Update Group Integration Collaborator
      description: Update the sharing permissions of a group on an integration.
      operationId: update_group_integration_collaborator_integrations__integration_id__groups__group_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupCollaborator'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - integrations
      summary: Delete Group Integration Collaborator
      description: Remove a group's access to an integration.
      operationId: delete_group_integration_collaborator_integrations__integration_id__groups__group_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /integrations/{integration_id}/select:
    put:
      tags:
      - integrations
      summary: Create Or Update Integration Selection
      description: Create or update an integration selection for this user from Galileo.
      operationId: create_or_update_integration_selection_integrations__integration_id__select_put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /integrations/anthropic:
    put:
      tags:
      - integrations
      summary: Create or update Anthropic integration
      description: Create or update an Anthropic integration for this user from Galileo.
      operationId: create_or_update_integration_integrations_anthropic_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicIntegrationCreate'
              examples:
              - token: my_secret_api_token
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /integrations/aws_bedrock:
    put:
      tags:
      - integrations
      summary: Create or update AWS Bedrock integration
      description: Create or update an AWS integration for this user from Galileo.
      operationId: create_or_update_integration_integrations_aws_bedrock_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseAwsIntegrationCreate'
              examples:
              - credential_type: key_secret
                region: us-west-2
                inference_profiles: {}
                token:
                  aws_access_key_id: AWSA46AWSAWSBEDR0C45K
                  aws_secret_access_key: sagasg2t0-9527@$s1ashsahfahfddsg
              - credential_type: assumed_role
                region: us-west-1
                inference_profiles: {}
                token:
                  aws_role_arn: arn:aws:iam::1234567901:role/AWSBedrockAccessRole
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /integrations/aws_sagemaker:
    put:
      tags:
      - integrations
      summary: Create or update AWS SageMaker integration
      description: Create or update an AWS integration for this user from Galileo.
      operationId: create_or_update_integration_integrations_aws_sagemaker_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwsSageMakerIntegrationCreate'
              examples:
              - models:
                - name: huggingface-pytorch-inference-2024-02-29-14-53-51-829
                  alias: aws_hello_world
                  integration: aws_sagemaker
                  system_supported: false
                  input_modalities:
                  - text
                  alternative_names: []
                  token_limit: 4000
                  cost_by: tokens
                  is_chat: false
                  provides_log_probs: false
                  formatting_tokens: 0
                  response_prefix_tokens: 0
                  legacy_mistral_prompt_format: false
                  requires_max_tokens: false
                  params_map:
                    model: model
                  input_map:
                    prompt: prompt
                    prefix: ''
                    suffix: ''
                credential_type: key_secret
                region: us-west-2
                inference_profiles: {}
                token:
                  aws_access_key_id: AWSA46AWSAWSBEDR0C45K
                  aws_secret_access_key: sagasg2t0-9527@$s1ashsahfahfddsg
              - models: []
                credential_type: assumed_role
                region: us-west-1
                inference_profiles: {}
                token:
                  aws_role_arn: arn:aws:iam::1234567901:role/AWSSagemakerAccessRole
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /integrations/azure:
    put:
      tags:
      - integrations
      summary: Create or update Azure integration
      description: Create or update an Azure integration for this user from Galileo.
      operationId: create_or_update_integration_integrations_azure_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureIntegrationCreate'
              examples:
              - token: my_secret_api_token
                endpoint: https://example-proxy.rungalileo.io
                proxy: true
                available_deployments:
                - model: gpt-4o-mini
                  id: id1
                - model: gpt-5
                  id: id2
              - token: my_secret_api_token
                endpoint: https://example-endpoint.openai.azure.com
                available_deployments:
                - model: gpt-4o-mini
                  id: id1
                - model: gpt-5
                  id: id2
              - token: my_secret_api_token
                endpoint: https://example-endpoint.openai.azure.com
                headers:
                  user_id: user@example.com
                  project_name: foo-bar
              - token: my_secret_api_token
                endpoint: https://example-proxy.rungalileo.io
                proxy: true
              - token: my_secret_api_token
                endpoint: https://example-endpoint.openai.azure.com
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /integrations/custom:
    put:
      tags:
      - integrations
      summary: Create or update custom integration
      operationId: create_or_update_integration_integrations_custom_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomIntegrationCreate'
              examples:
              - authentication_type: oauth2
                models:
                - custom-model-1
                - custom-model-2
                endpoint: https://api.custom-provider.com/v1
                authentication_scope: chat.completions
                oauth2_token_url: https://api.custom-provider.com/oauth2/token
                token: your_oauth2_client_credentials_json
                default_model: custom-model-1
              - authentication_type: none
                models:
                - custom-model-1
                - custom-model-2
                endpoint: https://internal-gateway.local/v1
                default_model: custom-model-1
              - authentication_type: api_key
                models:
                - custom-model-1
                - custom-model-2
                endpoint: https://api.gateway-provider.com/v1
                api_key_header: X-API-Key
                api_key_value: your_api_key_here
                headers:
                  X-Custom-Header: custom-value
                  X-Another-Header: another-value
                default_model: custom-model-1
                custom_llm_config:
                  file_name: proprietary_handler.py
                  class_name: ProprietaryLLMHandler
                  init_kwargs:
                    timeout: 60
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /integrations/custom/{name}:
    put:
      tags:
      - integrations
      summary: Create or update a named custom integration
      operationId: create_or_update_named_custom_integration_integrations_custom__name__put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
          description: Slug identifying this named custom integration
          title: Name
        description: Slug identifying this named custom integration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomIntegrationCreate'
              examples:
              - authentication_type: oauth2
                models:
                - custom-model-1
                - custom-model-2
                endpoint: https://api.custom-provider.com/v1
                authentication_scope: chat.completions
                oauth2_token_url: https://api.custom-provider.com/oauth2/token
                token: your_oauth2_client_credentials_json
                default_model: custom-model-1
              - authentication_type: none
                models:
                - custom-model-1
                - custom-model-2
                endpoint: https://internal-gateway.local/v1
                default_model: custom-model-1
              - authentication_type: api_key
                models:
                - custom-model-1
                - custom-model-2
                endpoint: https://api.gateway-provider.com/v1
                api_key_header: X-API-Key
                api_key_value: your_api_key_here
                headers:
                  X-Custom-Header: custom-value
                  X-Another-Header: another-value
                default_model: custom-model-1
                custom_llm_config:
                  file_name: proprietary_handler.py
                  class_name: ProprietaryLLMHandler
                  init_kwargs:
                    timeout: 60
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - integrations
      summary: Get a named custom integration
      operationId: get_named_custom_integration_integrations_custom__name__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
          description: Slug identifying this named custom integration
          title: Name
        description: Slug identifying this named custom integration
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - integrations
      summary: Delete a named custom integration
      operationId: delete_named_custom_integration_integrations_custom__name__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
          description: Slug identifying this named custom integration
          title: Name
        description: Slug identifying this named custom integration
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /integrations/databricks/unity-catalog/sql:
    put:
      tags:
      - integrations
      summary: Create or update Databricks integration (legacy)
      description: Create or update a databricks integration for this user from Galileo.
      operationId: create_or_update_unity_catalog_integration_integrations_databricks_unity_catalog_sql_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabricksIntegrationCreate'
              examples:
              - storage: true
                hostname: https://dbc-00000000-0000.cloud.databricks.com
                path: /sql/1.0/warehouses/a000000000000000
                token: my_secret_api_token
              - llm: true
                hostname: https://dbc-00000000-0000.cloud.databricks.com
                token: my_secret_api_token
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /integrations/databricks:
    put:
      tags:
      - integrations
      summary: Create or update Databricks integration
      description: Create or update a databricks integration for this user from Galileo.
      operationId: create_or_update_unity_catalog_integration_integrations_databricks_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabricksIntegrationCreate'
              examples:
              - storage: true
                hostname: https://dbc-00000000-0000.cloud.databricks.com
                path: /sql/1.0/warehouses/a000000000000000
                token: my_secret_api_token
              - llm: true
                hostname: https://dbc-00000000-0000.cloud.databricks.com
                token: my_secret_api_token
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /integrations/databricks/catalogs:
    get:
      tags:
      - integrations
      summary: Get Databricks Catalogs
      operationId: get_databricks_catalogs_integrations_databricks_catalogs_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                title: Response Get Databricks Catalogs Integrations Databricks Catalogs Get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /integrations/databricks/databases:
    get:
      tags:
      - integrations
      summary: Get Databases For Cluster
      operationId: get_databases_for_cluster_integrations_databricks_databases_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: catalog
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Catalog
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                title: Response Get Databases For Cluster Integrations Databricks Databases Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /integrations/mistral:
    put:
      tags:
      - integrations
      summary: Create or update Mistral integration
      description: Create or update an Mistral integration for this user from Galileo.
      operationId: create_or_update_integration_integrations_mistral_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MistralIntegrationCreate'
              examples:
              - token: my_secret_api_token
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /integrations/nvidia:
    put:
      tags:
      - integrations
      summary: Create or update NVIDIA integration
      description: Create or update an NVIDIA integration for this user from Galileo.
      operationId: create_or_update_integration_integrations_nvidia_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NvidiaIntegrationCreate'
              examples:
              - token: my_secret_api_token
                hostname: https://integrate.api.nvidia.com/v1
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /integrations/openai:
    put:
      tags:
      - integrations
      summary: Create or update OpenAI integration
      description: Create or update an OpenAI integration for this user from Galileo.
      operationId: create_or_update_integration_integrations_openai_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIIntegrationCreate'
              examples:
              - token: my_secret_api_token
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /integrations/vegas_gateway:
    put:
      tags:
      - integrations
      summary: Create or update Vegas Gateway integration
      description: Create or update a Vegas Gateway integration for this user from Galileo.
      operationId: create_or_update_integration_integrations_vegas_gateway_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VegasGatewayIntegrationCreate'
              examples:
              - token: my_secret_api_token
                endpoint: https://example.com/vegas/apps/prompt/v2/relay/use_case
                use_case: LLM_EVALUATION_FRAMEWORK
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /integrations/vertex_ai:
    put:
      tags:
      - integrations
      summary: Create or update Vertex AI integration
      description: Create or update a Google Vertex AI integration for a user.
      operationId: create_or_update_integration_integrations_vertex_ai_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VertexAIIntegrationCreate'
              examples:
              - token: '{"type": "service_account", "project_id": "project-id", "private_key_id": "foo-bar", "private_key": "-----BEGIN RSA PRIVATE KEY-----\n                ...\n                -----END RSA PRIVATE KEY-----", "client_email": "user@iam.gserviceaccount.com", "client_id": "12353152646346", "auth_uri": "https://accounts.google.com/o/oauth2/auth", "token_uri": "https://oauth2.googleapis.com/token", "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs", "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/user%40iam.gserviceaccount.com", "universe_domain": "googleapis.com"}'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /integrations/writer:
    put:
      tags:
      - integrations
      summary: Create or update Writer integration
      description: Create or update a Writer integration for a user.
      operationId: create_or_update_integration_integrations_writer_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WriterIntegrationCreate'
              examples:
              - organization_id: '123456789'
                token: my_secret_api_token
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /prompts/models/all:
    get:
      tags:
      - integrations
      summary: Get All Models
      operationId: get_all_models_prompts_models_all_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: with_custom_models
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: With Custom Models
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ModelInfo'
                title: Response Get All Models Prompts Models All Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /integrations:
    get:
      tags:
      - integrations
      summary: List Integrations
      description: List the created integrations for the requesting user.
      operationId: list_integrations_integrations_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IntegrationDB'
                type: array
                title: Response List Integrations Integrations Get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /integrations/costs/summary:
    get:
      tags:
      - integrations
      summary: Get Integration Costs
      operationId: get_integration_costs_integrations_costs_summary_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: start_time
        in: query
        required: true
        schema:
          type: string
          format: date-time
          description: Start of time range (UTC)
          title: Start Time
        description: Start of time range (UTC)
      - name: end_time
        in: query
        required: true
        schema:
          type: string
          format: date-time
          description: End of time range (UTC)
          title: End Time
        description: End of time range (UTC)
      - name: interval
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/CostInterval'
          description: Aggregation interval
        description: Aggregation interval
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationCostsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /billing/usage/{metric}:
    get:
      tags:
      - integrations
      summary: Get Billing Usage
      operationId: get_billing_usage_billing_usage__metric__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: metric
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/BillingUsageMetric'
      - name: start_time
        in: query
        required: true
        schema:
          type: string
          format: date-time
          description: Start of time range (UTC)
          title: Start Time
        description: Start of time range (UTC)
      - name: end_time
        in: query
        required: true
        schema:
          type: string
          format: date-time
          description: End of time range (UTC)
          title: End Time
        description: End of time range (UTC)
      - name: interval
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/CostInterval'
          description: Aggregation interval
        description: Aggregation interval
      - name: project_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          description: Optional project filter
          title: Project Id
        description: Optional project filter
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingUsageResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /integrations/select:
    post:
      tags:
      - integrations
      summary: Select Integration
      description: Select an integration for this user.
      operationId: select_integration_integrations_select_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationSelectRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /integrations/disable:
    post:
      tags:
      - integrations
      summary: Disable Integration
      description: 'Disable an integration type for this user.


        Creates an opt-out record so no shared integration of this type is used.'
      operationId: disable_integration_integrations_disable_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationDisableRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /integrations/custom/definition:
    get:
      tags:
      - integrations
      summary: Get custom integration definition
      description: 'Return the full JSON definition of the custom integration, including decrypted secrets.


        Only users with edit permission on the integration (its creator and admins)

        are authorized to call this endpoint.'
      operationId: get_custom_integration_definition_integrations_custom_definition_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomIntegrationDefinition'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /integrations/custom/{name}/status:
    get:
      tags:
      - integrations
      summary: Check status of a named custom integration
      operationId: get_named_custom_integration_status_integrations_custom__name__status_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
          description: Slug identifying this named custom integration
          title: Name
        description: Slug identifying this named custom integration
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
                title: Response Get Named Custom Integration Status Integrations Custom  Name  Status Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /integrations/custom/{name}/definition:
    get:
      tags:
      - integrations
      summary: Get definition of a named custom integration
      description: Return the full JSON definition of a named custom integration, including decrypted secrets.
      operationId: get_named_custom_integration_definition_integrations_custom__name__definition_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
          description: Slug identifying this named custom integration
          title: Name
        description: Slug identifying this named custom integration
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomIntegrationDefinition'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/integrations/available:
    get:
      tags:
      - integrations
      summary: List Available Integrations
      description: List all of the available integrations to be created in Galileo.
      operationId: list_available_integrations_v2_integrations_available_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableIntegrations'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/integrations/{name}:
    get:
      tags:
      - integrations
      summary: Get Integration
      description: Gets the integration data formatted for the specified integration.
      operationId: get_integration_v2_integrations__name__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/IntegrationProvider'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AwsBedrockIntegration'
                - $ref: '#/components/schemas/AwsSageMakerIntegration'
                - $ref: '#/components/schemas/AzureIntegration'
                - $ref: '#/components/schemas/AnthropicIntegration'
                - $ref: '#/components/schemas/CustomIntegration'
                - $ref: '#/components/schemas/DatabricksIntegration'
                - $ref: '#/components/schemas/MistralIntegration'
                - $ref: '#/components/schemas/NvidiaIntegration'
                - $ref: '#/components/schemas/OpenAIIntegration'
                - $ref: '#/components/schemas/VegasGatewayIntegration'
                - $ref: '#/components/schemas/VertexAIIntegration'
                - $ref: '#/components/schemas/WriterIntegration'
                discriminator:
                  propertyName: provider
                  mapping:
                    aws_bedrock: '#/components/schemas/AwsBedrockIntegration'
                    aws_sagemaker: '#/components/schemas/AwsSageMakerIntegration'
                    azure: '#/components/schemas/AzureIntegration'
                    anthropic: '#/components/schemas/AnthropicIntegration'
                    custom: '#/components/schemas/CustomIntegration'
                    databricks: '#/components/schemas/DatabricksIntegration'
                    mistral: '#/components/schemas/MistralIntegration'
                    nvidia: '#/components/schemas/NvidiaIntegration'
                    openai: '#/components/schemas/OpenAIIntegration'
                    vegas_gateway: '#/components/schemas/VegasGatewayIntegration'
                    vertex_ai: '#/components/schemas/VertexAIIntegration'
                    writer: '#/components/schemas/WriterIntegration'
                title: Response Get Integration V2 Integrations  Name  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/integrations/{name}/status:
    get:
      tags:
      - integrations
      summary: Get Integration Status
      description: Checks if the integration status is active or not.
      operationId: get_integration_status_v2_integrations__name__status_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/IntegrationProvider'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
                title: Response Get Integration Status V2 Integrations  Name  Status Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/integrations/{integration_id}/users:
    get:
      tags:
      - integrations
      summary: List User Integration Collaborators
      description: List the users with which the integration has been shared.
      operationId: list_user_integration_collaborators_v2_integrations__integration_id__users_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserCollaboratorsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - integrations
      summary: Create User Integration Collaborators
      operationId: create_user_integration_collaborators_v2_integrations__integration_id__users_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UserCollaboratorCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserCollaborator'
                title: Response Create User Integration Collaborators V2 Integrations  Integration Id  Users Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/integrations/{integration_id}/users/{user_id}:
    patch:
      tags:
      - integrations
      summary: Update User Integration Collaborator
      description: Update the sharing permissions of a user on an integration.
      operationId: update_user_integration_collaborator_v2_integrations__integration_id__users__user_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCollaborator'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - integrations
      summary: Delete User Integration Collaborator
      description: Remove a user's access to an integration.
      operationId: delete_user_integration_collaborator_v2_integrations__integration_id__users__user_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/integrations/{integration_id}/groups:
    post:
      tags:
      - integrations
      summary: Create Group Integration Collaborators
      description: Share an integration with groups.
      operationId: create_group_integration_collaborators_v2_integrations__integration_id__groups_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GroupCollaboratorCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupCollaborator'
                title: Response Create Group Integration Collaborators V2 Integrations  Integration Id  Groups Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - integrations
      summary: List Group Integration Collaborators
      description: List the groups with which the integration has been shared.
      operationId: list_group_integration_collaborators_v2_integrations__integration_id__groups_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGroupCollaboratorsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/integrations/{integration_id}/groups/{group_id}:
    patch:
      tags:
      - integrations
      summary: Update Group Integration Collaborator
      description: Update the sharing permissions of a group on an integration.
      operationId: update_group_integration_collaborator_v2_integrations__integration_id__groups__group_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupCollaborator'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - integrations
      summary: Delete Group Integration Collaborator
      description: Remove a group's access to an integration.
      operationId: delete_group_integration_collaborator_v2_integrations__integration_id__groups__group_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/integrations/{integration_id}/select:
    put:
      tags:
      - integrations
      summary: Create Or Update Integration Selection
      description: Create or update an integration selection for this user from Galileo.
      operationId: create_or_update_integration_selection_v2_integrations__integration_id__select_put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/integrations/anthropic:
    put:
      tags:
      - integrations
      summary: Create or update Anthropic integration
      description: Create or update an Anthropic integration for this user from Galileo.
      operationId: create_or_update_integration_v2_integrations_anthropic_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicIntegrationCreate'
              examples:
              - token: my_secret_api_token
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/integrations/aws_bedrock:
    put:
      tags:
      - integrations
      summary: Create or update AWS Bedrock integration
      description: Create or update an AWS integration for this user from Galileo.
      operationId: create_or_update_integration_v2_integrations_aws_bedrock_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseAwsIntegrationCreate'
              examples:
              - credential_type: key_secret
                region: us-west-2
                inference_profiles: {}
                token:
                  aws_access_key_id: AWSA46AWSAWSBEDR0C45K
                  aws_secret_access_key: sagasg2t0-9527@$s1ashsahfahfddsg
              - credential_type: assumed_role
                region: us-west-1
                inference_profiles: {}
                token:
                  aws_role_arn: arn:aws:iam::1234567901:role/AWSBedrockAccessRole
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/integrations/aws_sagemaker:
    put:
      tags:
      - integrations
      summary: Create or update AWS SageMaker integration
      description: Create or update an AWS integration for this user from Galileo.
      operationId: create_or_update_integration_v2_integrations_aws_sagemaker_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwsSageMakerIntegrationCreate'
              examples:
              - models:
                - name: huggingface-pytorch-inference-2024-02-29-14-53-51-829
                  alias: aws_hello_world
                  integration: aws_sagemaker
                  system_supported: false
                  input_modalities:
                  - text
                  alternative_names: []
                  token_limit: 4000
                  cost_by: tokens
                  is_chat: false
                  provides_log_probs: false
                  formatting_tokens: 0
                  response_prefix_tokens: 0
                  legacy_mistral_prompt_format: false
                  requires_max_tokens: false
                  params_map:
                    model: model
                  input_map:
                    prompt: prompt
                    prefix: ''
                    suffix: ''
                credential_type: key_secret
                region: us-west-2
                inference_profiles: {}
                token:
                  aws_access_key_id: AWSA46AWSAWSBEDR0C45K
                  aws_secret_access_key: sagasg2t0-9527@$s1ashsahfahfddsg
              - models: []
                credential_type: assumed_role
                region: us-west-1
                inference_profiles: {}
                token:
                  aws_role_arn: arn:aws:iam::1234567901:role/AWSSagemakerAccessRole
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/integrations/azure:
    put:
      tags:
      - integrations
      summary: Create or update Azure integration
      description: Create or update an Azure integration for this user from Galileo.
      operationId: create_or_update_integration_v2_integrations_azure_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureIntegrationCreate'
              examples:
              - token: my_secret_api_token
                endpoint: https://example-proxy.rungalileo.io
                proxy: true
                available_deployments:
                - model: gpt-4o-mini
                  id: id1
                - model: gpt-5
                  id: id2
              - token: my_secret_api_token
                endpoint: https://example-endpoint.openai.azure.com
                available_deployments:
                - model: gpt-4o-mini
                  id: id1
                - model: gpt-5
                  id: id2
              - token: my_secret_api_token
                endpoint: https://example-endpoint.openai.azure.com
                headers:
                  user_id: user@example.com
                  project_name: foo-bar
              - token: my_secret_api_token
                endpoint: https://example-proxy.rungalileo.io
                proxy: true
              - token: my_secret_api_token
                endpoint: https://example-endpoint.openai.azure.com
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/integrations/custom:
    put:
      tags:
      - integrations
      summary: Create or update custom integration
      operationId: create_or_update_integration_v2_integrations_custom_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomIntegrationCreate'
              examples:
              - authentication_type: oauth2
                models:
                - custom-model-1
                - custom-model-2
                endpoint: https://api.custom-provider.com/v1
                authentication_scope: chat.completions
                oauth2_token_url: https://api.custom-provider.com/oauth2/token
                token: your_oauth2_client_credentials_json
                default_model: custom-model-1
              - authentication_type: none
                models:
                - custom-model-1
                - custom-model-2
                endpoint: https://internal-gateway.local/v1
                default_model: custom-model-1
              - authentication_type: api_key
                models:
                - custom-model-1
                - custom-model-2
                endpoint: https://api.gateway-provider.com/v1
                api_key_header: X-API-Key
                api_key_value: your_api_key_here
                headers:
                  X-Custom-Header: custom-value
                  X-Another-Header: another-value
                default_model: custom-model-1
                custom_llm_config:
                  file_name: proprietary_handler.py
                  class_name: ProprietaryLLMHandler
                  init_kwargs:
                    timeout: 60
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/integrations/custom/{name}:
    put:
      tags:
      - integrations
      summary: Create or update a named custom integration
      operationId: create_or_update_named_custom_integration_v2_integrations_custom__name__put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
          description: Slug identifying this named custom integration
          title: Name
        description: Slug identifying this named custom integration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomIntegrationCreate'
              examples:
              - authentication_type: oauth2
                models:
                - custom-model-1
                - custom-model-2
                endpoint: https://api.custom-provider.com/v1
                authentication_scope: chat.completions
                oauth2_token_url: https://api.custom-provider.com/oauth2/token
                token: your_oauth2_client_credentials_json
                default_model: custom-model-1
              - authentication_type: none
                models:
                - custom-model-1
                - custom-model-2
                endpoint: https://internal-gateway.local/v1
                default_model: custom-model-1
              - authentication_type: api_key
                models:
                - custom-model-1
                - custom-model-2
                endpoint: https://api.gateway-provider.com/v1
                api_key_header: X-API-Key
                api_key_value: your_api_key_here
                headers:
                  X-Custom-Header: custom-value
                  X-Another-Header: another-value
                default_model: custom-model-1
                custom_llm_config:
                  file_name: proprietary_handler.py
                  class_name: ProprietaryLLMHandler
                  init_kwargs:
                    timeout: 60
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/integrations/databricks/unity-catalog/sql:
    put:
      tags:
      - integrations
      summary: Create or update Databricks integration (legacy)
      description: Create or update a databricks integration for this user from Galileo.
      operationId: create_or_update_unity_catalog_integration_v2_integrations_databricks_unity_catalog_sql_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabricksIntegrationCreate'
              examples:
              - storage: true
                hostname: https://dbc-00000000-0000.cloud.databricks.com
                path: /sql/1.0/warehouses/a000000000000000
                token: my_secret_api_token
              - llm: true
                hostname: https://dbc-00000000-0000.cloud.databricks.com
                token: my_secret_api_token
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/integrations/databricks:
    put:
      tags:
      - integrations
      summary: Create or update Databricks integration
      description: Create or update a databricks integration for this user from Galileo.
      operationId: create_or_update_unity_catalog_integration_v2_integrations_databricks_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabricksIntegrationCreate'
              examples:
              - storage: true
                hostname: https://dbc-00000000-0000.cloud.databricks.com
                path: /sql/1.0/warehouses/a000000000000000
                token: my_secret_api_token
              - llm: true
                hostname: https://dbc-00000000-0000.cloud.databricks.com
                token: my_secret_api_token
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/integrations/databricks/catalogs:
    get:
      tags:
      - integrations
      summary: Get Databricks Catalogs
      operationId: get_databricks_catalogs_v2_integrations_databricks_catalogs_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                title: Response Get Databricks Catalogs V2 Integrations Databricks Catalogs Get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/integrations/databricks/databases:
    get:
      tags:
      - integrations
      summary: Get Databases For Cluster
      operationId: get_databases_for_cluster_v2_integrations_databricks_databases_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: catalog
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Catalog
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                title: Response Get Databases For Cluster V2 Integrations Databricks Databases Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/integrations/mistral:
    put:
      tags:
      - integrations
      summary: Create or update Mistral integration
      description: Create or update an Mistral integration for this user from Galileo.
      operationId: create_or_update_integration_v2_integrations_mistral_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MistralIntegrationCreate'
              examples:
              - token: my_secret_api_token
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/integrations/nvidia:
    put:
      tags:
      - integrations
      summary: Create or update NVIDIA integration
      description: Create or update an NVIDIA integration for this user from Galileo.
      operationId: create_or_update_integration_v2_integrations_nvidia_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NvidiaIntegrationCreate'
              examples:
              - token: my_secret_api_token
                hostname: https://integrate.api.nvidia.com/v1
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/integrations/openai:
    put:
      tags:
      - integrations
      summary: Create or update OpenAI integration
      description: Create or update an OpenAI integration for this user from Galileo.
      operationId: create_or_update_integration_v2_integrations_openai_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIIntegrationCreate'
              examples:
              - token: my_secret_api_token
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/integrations/vegas_gateway:
    put:
      tags:
      - integrations
      summary: Create or update Vegas Gateway integration
      description: Create or update a Vegas Gateway integration for this user from Galileo.
      operationId: create_or_update_integration_v2_integrations_vegas_gateway_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VegasGatewayIntegrationCreate'
              examples:
              - token: my_secret_api_token
                endpoint: https://example.com/vegas/apps/prompt/v2/relay/use_case
                use_case: LLM_EVALUATION_FRAMEWORK
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/integrations/vertex_ai:
    put:
      tags:
      - integrations
      summary: Create or update Vertex AI integration
      description: Create or update a Google Vertex AI integration for a user.
      operationId: create_or_update_integration_v2_integrations_vertex_ai_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VertexAIIntegrationCreate'
              examples:
              - token: '{"type": "service_account", "project_id": "project-id", "private_key_id": "foo-bar", "private_key": "-----BEGIN RSA PRIVATE KEY-----\n                ...\n                -----END RSA PRIVATE KEY-----", "client_email": "user@iam.gserviceaccount.com", "client_id": "12353152646346", "auth_uri": "https://accounts.google.com/o/oauth2/auth", "token_uri": "https://oauth2.googleapis.com/token", "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs", "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/user%40iam.gserviceaccount.com", "universe_domain": "googleapis.com"}'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/integrations/writer:
    put:
      tags:
      - integrations
      summary: Create or update Writer integration
      description: Create or update a Writer integration for a user.
      operationId: create_or_update_integration_v2_integrations_writer_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WriterIntegrationCreate'
              examples:
              - organization_id: '123456789'
                token: my_secret_api_token
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /public/v2/integrations/available:
    get:
      tags:
      - integrations
      summary: List Available Integrations
      description: List all of the available integrations to be created in Galileo.
      operationId: list_available_integrations_public_v2_integrations_available_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableIntegrations'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /public/v2/integrations/{name}:
    get:
      tags:
      - integrations
      summary: Get Integration
      description: Gets the integration data formatted for the specified integration.
      operationId: get_integration_public_v2_integrations__name__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/IntegrationProvider'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AwsBedrockIntegration'
                - $ref: '#/components/schemas/AwsSageMakerIntegration'
                - $ref: '#/components/schemas/AzureIntegration'
                - $ref: '#/components/schemas/AnthropicIntegration'
                - $ref: '#/components/schemas/CustomIntegration'
                - $ref: '#/components/schemas/DatabricksIntegration'
                - $ref: '#/components/schemas/MistralIntegration'
                - $ref: '#/components/schemas/NvidiaIntegration'
                - $ref: '#/components/schemas/OpenAIIntegration'
                - $ref: '#/components/schemas/VegasGatewayIntegration'
                - $ref: '#/components/schemas/VertexAIIntegration'
                - $ref: '#/components/schemas/WriterIntegration'
                discriminator:
                  propertyName: provider
                  mapping:
                    aws_bedrock: '#/components/schemas/AwsBedrockIntegration'
                    aws_sagemaker: '#/components/schemas/AwsSageMakerIntegration'
                    azure: '#/components/schemas/AzureIntegration'
                    anthropic: '#/components/schemas/AnthropicIntegration'
                    custom: '#/components/schemas/CustomIntegration'
                    databricks: '#/components/schemas/DatabricksIntegration'
                    mistral: '#/components/schemas/MistralIntegration'
                    nvidia: '#/components/schemas/NvidiaIntegration'
                    openai: '#/components/schemas/OpenAIIntegration'
                    vegas_gateway: '#/components/schemas/VegasGatewayIntegration'
                    vertex_ai: '#/components/schemas/VertexAIIntegration'
                    writer: '#/components/schemas/WriterIntegration'
                title: Response Get Integration Public V2 Integrations  Name  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/integrations/{name}/status:
    get:
      tags:
      - integrations
      summary: Get Integration Status
      description: Checks if the integration status is active or not.
      operationId: get_integration_status_public_v2_integrations__name__status_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: name
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/IntegrationProvider'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
                title: Response Get Integration Status Public V2 Integrations  Name  Status Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/integrations/{integration_id}/users:
    get:
      tags:
      - integrations
      summary: List User Integration Collaborators
      description: List the users with which the integration has been shared.
      operationId: list_user_integration_collaborators_public_v2_integrations__integration_id__users_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserCollaboratorsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - integrations
      summary: Create User Integration Collaborators
      operationId: create_user_integration_collaborators_public_v2_integrations__integration_id__users_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UserCollaboratorCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserCollaborator'
                title: Response Create User Integration Collaborators Public V2 Integrations  Integration Id  Users Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/integrations/{integration_id}/users/{user_id}:
    patch:
      tags:
      - integrations
      summary: Update User Integration Collaborator
      description: Update the sharing permissions of a user on an integration.
      operationId: update_user_integration_collaborator_public_v2_integrations__integration_id__users__user_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Integration Id
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCollaborator'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - integrations
      summary: Delete User Integration Collaborator
[...]
