openapi: 3.1.0
info:
  title: Galileo API Server annotation runs API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: runs
paths:
  /projects/{project_id}/runs:
    get:
      tags:
      - runs
      summary: Get Project Runs
      description: Return all runs for a project, optionally filtered by name.
      operationId: get_project_runs_projects__project_id__runs_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_name
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Run Name
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RunDB'
                title: Response Get Project Runs Projects  Project Id  Runs Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - runs
      summary: Create Run
      description: 'Create a new run in the given project.


        Validates that no run with the same name exists, that the run''s task type

        is compatible with the project type, and that all existing runs share the

        same task type before delegating to the async run-creation service.'
      operationId: create_run_projects__project_id__runs_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunCreate'
              examples:
              - name: my_first_run
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRunResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - runs
      summary: Delete Runs
      description: 'Delete multiple runs by ID.


        All requested run IDs must belong to the given project; the request is

        rejected if any run belongs to a different project.'
      operationId: delete_runs_projects__project_id__runs_delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRunsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRunsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/runs/{run_id}:
    get:
      tags:
      - runs
      summary: Get Run
      description: Return a single run by ID.
      operationId: get_run_projects__project_id__runs__run_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - runs
      summary: Update Run
      description: Update a run's mutable fields (e.g. name).
      operationId: update_run_projects__project_id__runs__run_id__put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateRunResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - runs
      summary: Delete Run
      description: Delete a single run and its associated artifacts and jobs.
      operationId: delete_run_projects__project_id__runs__run_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRunResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/runs/{run_id}/link:
    get:
      tags:
      - runs
      summary: Get Run Link
      description: Return the console deep-link URL for a run.
      operationId: get_run_link_projects__project_id__runs__run_id__link_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunLinkResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/runs/{run_id}/metrics:
    put:
      tags:
      - runs
      summary: Set Metric For Run
      description: Set or update a metric value for a run.
      operationId: set_metric_for_run_projects__project_id__runs__run_id__metrics_put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunMetricCreateRequest'
              examples:
              - key: train-acc
                value: 0.8
                epoch: 0
                extra:
                  cool: beans
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunMetricDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    TagsAggregate:
      properties:
        feedback_type:
          type: string
          const: tags
          title: Feedback Type
          default: tags
        counts:
          additionalProperties:
            type: integer
          type: object
          title: Counts
        unrated_count:
          type: integer
          title: Unrated Count
      type: object
      required:
      - counts
      - unrated_count
      title: TagsAggregate
    IntegrationAction:
      type: string
      enum:
      - update
      - delete
      - share
      - read_secrets
      title: IntegrationAction
    RunTagDB:
      properties:
        key:
          type: string
          maxLength: 256
          title: Key
        value:
          type: string
          maxLength: 256
          title: Value
        tag_type:
          type: string
          title: Tag Type
        project_id:
          type: string
          format: uuid4
          title: Project Id
        run_id:
          type: string
          format: uuid4
          title: Run Id
        created_by:
          type: string
          format: uuid4
          title: Created By
        id:
          type: string
          format: uuid4
          title: Id
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
      type: object
      required:
      - key
      - value
      - tag_type
      - project_id
      - run_id
      - created_by
      - id
      - created_at
      - updated_at
      title: RunTagDB
    FeedbackAggregate:
      properties:
        aggregate:
          oneOf:
          - $ref: '#/components/schemas/LikeDislikeAggregate'
          - $ref: '#/components/schemas/StarAggregate'
          - $ref: '#/components/schemas/ScoreAggregate'
          - $ref: '#/components/schemas/TagsAggregate'
          - $ref: '#/components/schemas/TextAggregate'
          - $ref: '#/components/schemas/ChoiceAggregate'
          - $ref: '#/components/schemas/TreeChoiceAggregate'
          title: Aggregate
          discriminator:
            propertyName: feedback_type
            mapping:
              choice: '#/components/schemas/ChoiceAggregate'
              like_dislike: '#/components/schemas/LikeDislikeAggregate'
              score: '#/components/schemas/ScoreAggregate'
              star: '#/components/schemas/StarAggregate'
              tags: '#/components/schemas/TagsAggregate'
              text: '#/components/schemas/TextAggregate'
              tree_choice: '#/components/schemas/TreeChoiceAggregate'
      type: object
      required:
      - aggregate
      title: FeedbackAggregate
    ProjectAction:
      type: string
      enum:
      - update
      - delete
      - rename
      - share
      - create_run
      - delete_run
      - rename_run
      - move_run
      - export_data
      - configure_human_feedback
      - record_human_feedback
      - log_data
      - toggle_metric
      - edit_alert
      - create_stage
      - edit_stage
      - configure_crown_logic
      - delete_data
      - set_metric
      - edit_run_tags
      - dismiss_alert
      - edit_slice
      - edit_edit
      - update_control_bindings
      - use_control_runtime
      title: ProjectAction
    ChoiceAggregate:
      properties:
        feedback_type:
          type: string
          const: choice
          title: Feedback Type
          default: choice
        counts:
          additionalProperties:
            type: integer
          type: object
          title: Counts
        unrated_count:
          type: integer
          title: Unrated Count
      type: object
      required:
      - counts
      - unrated_count
      title: ChoiceAggregate
    LikeDislikeAggregate:
      properties:
        feedback_type:
          type: string
          const: like_dislike
          title: Feedback Type
          default: like_dislike
        like_count:
          type: integer
          title: Like Count
        dislike_count:
          type: integer
          title: Dislike Count
        unrated_count:
          type: integer
          title: Unrated Count
      type: object
      required:
      - like_count
      - dislike_count
      - unrated_count
      title: LikeDislikeAggregate
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    UserRole:
      type: string
      enum:
      - admin
      - manager
      - user
      - read_only
      title: UserRole
    RunCreate:
      properties:
        name:
          type: string
          minLength: 1
          title: Name
        project_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Project Id
        created_by:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Created By
        num_samples:
          anyOf:
          - type: integer
          - type: 'null'
          title: Num Samples
        winner:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Winner
        dataset_hash:
          anyOf:
          - type: string
          - type: 'null'
          title: Dataset Hash
        dataset_version_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Dataset Version Id
        prompt_template_version_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Prompt Template Version Id
        task_type:
          type: integer
          title: Task Type
        run_tags:
          items:
            $ref: '#/components/schemas/RunTagCreateRequest'
          type: array
          title: Run Tags
      type: object
      required:
      - name
      - task_type
      title: RunCreate
    DeleteRunsResponse:
      properties:
        message:
          type: string
          title: Message
      type: object
      required:
      - message
      title: DeleteRunsResponse
    GroupAction:
      type: string
      enum:
      - update
      - list_members
      - join
      - request_to_join
      title: GroupAction
    RunUpdateRequest:
      properties:
        name:
          anyOf:
          - type: string
            minLength: 1
          - type: 'null'
          title: Name
      type: object
      title: RunUpdateRequest
    TreeChoiceAggregate:
      properties:
        feedback_type:
          type: string
          const: tree_choice
          title: Feedback Type
          default: tree_choice
        counts:
          additionalProperties:
            type: integer
          type: object
          title: Counts
        unrated_count:
          type: integer
          title: Unrated Count
      type: object
      required:
      - counts
      - unrated_count
      title: TreeChoiceAggregate
    DatasetAction:
      type: string
      enum:
      - update
      - delete
      - share
      - export
      - rename
      title: DatasetAction
    AnnotationQueueAction:
      type: string
      enum:
      - update
      - delete
      - share
      - record_annotation
      title: AnnotationQueueAction
    GeneratedScorerAction:
      type: string
      enum:
      - update
      - delete
      title: GeneratedScorerAction
    DeleteRunsRequest:
      properties:
        run_ids:
          items:
            type: string
            format: uuid4
          type: array
          title: Run Ids
      type: object
      required:
      - run_ids
      title: DeleteRunsRequest
    RunMetricDB:
      properties:
        key:
          type: string
          title: Key
        value:
          anyOf:
          - type: number
          - type: 'null'
          title: Value
        object_value:
          anyOf:
          - $ref: '#/components/schemas/FeedbackAggregate'
          - type: 'null'
        epoch:
          type: integer
          title: Epoch
          default: 0
        extra:
          anyOf:
          - items: {}
            type: array
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra
        run_id:
          type: string
          format: uuid4
          title: Run Id
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
      type: object
      required:
      - key
      - run_id
      - created_at
      - updated_at
      title: RunMetricDB
    TaskType:
      type: integer
      enum:
      - 7
      - 9
      - 12
      - 13
      - 15
      - 16
      - 17
      - 18
      title: TaskType
      description: 'Valid task types for modeling.


        We store these as ints instead of strings because we will be looking this up in the database frequently.'
    GroupMemberAction:
      type: string
      enum:
      - update_role
      - delete
      title: GroupMemberAction
    RunDB:
      properties:
        name:
          anyOf:
          - type: string
            minLength: 1
          - type: 'null'
          title: Name
        project_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Project Id
        created_by:
          type: string
          format: uuid4
          title: Created By
        num_samples:
          type: integer
          title: Num Samples
        winner:
          type: boolean
          title: Winner
        dataset_hash:
          anyOf:
          - type: string
          - type: 'null'
          title: Dataset Hash
        dataset_version_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Dataset Version Id
        prompt_template_version_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Prompt Template Version Id
        id:
          type: string
          format: uuid4
          title: Id
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
        task_type:
          anyOf:
          - $ref: '#/components/schemas/TaskType'
          - type: 'null'
        last_updated_by:
          type: string
          format: uuid4
          title: Last Updated By
        run_tags:
          items:
            $ref: '#/components/schemas/RunTagDB'
          type: array
          title: Run Tags
        example_content_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Example Content Id
        creator:
          $ref: '#/components/schemas/UserDB'
        logged_splits:
          items:
            type: string
          type: array
          title: Logged Splits
        logged_inference_names:
          items:
            type: string
          type: array
          title: Logged Inference Names
      type: object
      required:
      - created_by
      - num_samples
      - winner
      - id
      - created_at
      - updated_at
      - last_updated_by
      - creator
      title: RunDB
    UserDB:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        permissions:
          items:
            $ref: '#/components/schemas/Permission'
          type: array
          title: Permissions
          default: []
        email:
          type: string
          title: Email
        first_name:
          anyOf:
          - type: string
          - type: 'null'
          title: First Name
          default: ''
        last_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Name
          default: ''
        auth_method:
          $ref: '#/components/schemas/AuthMethod'
          default: email
        role:
          $ref: '#/components/schemas/UserRole'
          default: read_only
        email_is_verified:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Email Is Verified
        organization_id:
          type: string
          format: uuid4
          title: Organization Id
        organization_name:
          type: string
          title: Organization Name
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
      type: object
      required:
      - id
      - email
      - organization_id
      - organization_name
      - created_at
      - updated_at
      title: UserDB
    FineTunedScorerAction:
      type: string
      enum:
      - update
      - delete
      title: FineTunedScorerAction
    ScoreAggregate:
      properties:
        feedback_type:
          type: string
          const: score
          title: Feedback Type
          default: score
        average:
          type: number
          title: Average
        unrated_count:
          type: integer
          title: Unrated Count
      type: object
      required:
      - average
      - unrated_count
      title: ScoreAggregate
    UpdateRunResponse:
      properties:
        name:
          anyOf:
          - type: string
            minLength: 1
          - type: 'null'
          title: Name
        project_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Project Id
        created_by:
          type: string
          format: uuid4
          title: Created By
        num_samples:
          type: integer
          title: Num Samples
        winner:
          type: boolean
          title: Winner
        dataset_hash:
          anyOf:
          - type: string
          - type: 'null'
          title: Dataset Hash
        dataset_version_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Dataset Version Id
        prompt_template_version_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Prompt Template Version Id
        id:
          type: string
          format: uuid4
          title: Id
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
        task_type:
          anyOf:
          - $ref: '#/components/schemas/TaskType'
          - type: 'null'
        last_updated_by:
          type: string
          format: uuid4
          title: Last Updated By
        run_tags:
          items:
            $ref: '#/components/schemas/RunTagDB'
          type: array
          title: Run Tags
      type: object
      required:
      - created_by
      - num_samples
      - winner
      - id
      - created_at
      - updated_at
      - last_updated_by
      title: UpdateRunResponse
    ApiKeyAction:
      type: string
      enum:
      - update
      - delete
      title: ApiKeyAction
    UserAction:
      type: string
      enum:
      - update
      - delete
      - read_api_keys
      - change_role_to_admin
      - change_role_to_manager
      - change_role_to_user
      - change_role_to_read_only
      title: UserAction
    RunMetricCreateRequest:
      properties:
        key:
          type: string
          title: Key
        value:
          anyOf:
          - type: number
          - type: 'null'
          title: Value
        object_value:
          anyOf:
          - $ref: '#/components/schemas/FeedbackAggregate'
          - type: 'null'
        epoch:
          type: integer
          title: Epoch
          default: 0
        extra:
          anyOf:
          - items: {}
            type: array
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra
      type: object
      required:
      - key
      title: RunMetricCreateRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    DeleteRunResponse:
      properties:
        message:
          type: string
          title: Message
      type: object
      required:
      - message
      title: DeleteRunResponse
    RunTagCreateRequest:
      properties:
        key:
          type: string
          maxLength: 256
          title: Key
        value:
          type: string
          maxLength: 256
          title: Value
        tag_type:
          type: string
          title: Tag Type
      type: object
      required:
      - key
      - value
      - tag_type
      title: RunTagCreateRequest
    StarAggregate:
      properties:
        feedback_type:
          type: string
          const: star
          title: Feedback Type
          default: star
        average:
          type: number
          title: Average
        counts:
          additionalProperties:
            type: integer
          type: object
          title: Counts
        unrated_count:
          type: integer
          title: Unrated Count
      type: object
      required:
      - average
      - counts
      - unrated_count
      title: StarAggregate
    AuthMethod:
      type: string
      enum:
      - email
      - google
      - github
      - okta
      - azure-ad
      - custom
      - saml
      - invite
      title: AuthMethod
    CreateRunResponse:
      properties:
        name:
          anyOf:
          - type: string
            minLength: 1
          - type: 'null'
          title: Name
        project_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Project Id
        created_by:
          type: string
          format: uuid4
          title: Created By
        num_samples:
          type: integer
          title: Num Samples
        winner:
          type: boolean
          title: Winner
        dataset_hash:
          anyOf:
          - type: string
          - type: 'null'
          title: Dataset Hash
        dataset_version_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Dataset Version Id
        prompt_template_version_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Prompt Template Version Id
        id:
          type: string
          format: uuid4
          title: Id
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
        task_type:
          anyOf:
          - $ref: '#/components/schemas/TaskType'
          - type: 'null'
        last_updated_by:
          type: string
          format: uuid4
          title: Last Updated By
        run_tags:
          items:
            $ref: '#/components/schemas/RunTagDB'
          type: array
          title: Run Tags
      type: object
      required:
      - created_by
      - num_samples
      - winner
      - id
      - created_at
      - updated_at
      - last_updated_by
      title: CreateRunResponse
    Permission:
      properties:
        action:
          anyOf:
          - $ref: '#/components/schemas/UserAction'
          - $ref: '#/components/schemas/GroupAction'
          - $ref: '#/components/schemas/GroupMemberAction'
          - $ref: '#/components/schemas/ProjectAction'
          - $ref: '#/components/schemas/ScorerAction'
          - $ref: '#/components/schemas/RegisteredScorerAction'
          - $ref: '#/components/schemas/ApiKeyAction'
          - $ref: '#/components/schemas/GeneratedScorerAction'
          - $ref: '#/components/schemas/FineTunedScorerAction'
          - $ref: '#/components/schemas/DatasetAction'
          - $ref: '#/components/schemas/IntegrationAction'
          - $ref: '#/components/schemas/OrganizationAction'
          - $ref: '#/components/schemas/AnnotationQueueAction'
          - $ref: '#/components/schemas/ControlResourceAction'
          title: Action
        allowed:
          type: boolean
          title: Allowed
        message:
          anyOf:
          - type: string
          - type: 'null'
          title: Message
      type: object
      required:
      - action
      - allowed
      title: Permission
    RegisteredScorerAction:
      type: string
      enum:
      - update
      - delete
      title: RegisteredScorerAction
    OrganizationAction:
      type: string
      enum:
      - rename
      - delete
      - delete_log_data
      - read_settings
      - update_settings
      - read_cost_settings
      - read_ai_usage
      title: OrganizationAction
    TextAggregate:
      properties:
        feedback_type:
          type: string
          const: text
          title: Feedback Type
          default: text
        count:
          type: integer
          title: Count
        unrated_count:
          type: integer
          title: Unrated Count
      type: object
      required:
      - count
      - unrated_count
      title: TextAggregate
    ControlResourceAction:
      type: string
      enum:
      - create
      - read
      - update
      - delete
      title: ControlResourceAction
      description: Actions on Agent Control's org-scoped ``control`` resource.
    RunLinkResponse:
      properties:
        link:
          type: string
          title: Link
      type: object
      required:
      - link
      title: RunLinkResponse
    ScorerAction:
      type: string
      enum:
      - update
      - delete
      - share
      - export
      - autotune_apply
      title: ScorerAction
  securitySchemes:
    ClassicAPIKeyHeader:
      type: apiKey
      in: header
      name: Galileo-API-Key
    APIKeyHeader:
      type: apiKey
      in: header
      name: Splunk-AO-API-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://api.galileo.ai/login
    HTTPBasic:
      type: http
      scheme: basic
