openapi: 3.1.0
info:
  title: Galileo API Server annotation project_settings API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: project_settings
paths:
  /project_settings/{project_id}:
    patch:
      tags:
      - project_settings
      summary: Update Project Settings Legacy
      operationId: update_project_settings_legacy_project_settings__project_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompositeProjectSettings'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSettingsDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - project_settings
      summary: Update Project Settings Legacy
      operationId: update_project_settings_legacy_project_settings__project_id__put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompositeProjectSettings'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSettingsDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/settings:
    put:
      tags:
      - project_settings
      summary: Update Project Settings
      operationId: update_project_settings_projects__project_id__settings_put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenAIProjectSettings'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSettingsDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - project_settings
      summary: Get Settings
      operationId: get_settings_projects__project_id__settings_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenAIProjectSettings'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/settings/scorers_config:
    get:
      tags:
      - project_settings
      summary: Get Scorers Config
      operationId: get_scorers_config_projects__project_id__settings_scorers_config_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorersConfig'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /project/{project_id}/settings/scorers_config:
    get:
      tags:
      - project_settings
      summary: Get Scorers Config
      operationId: get_scorers_config_project__project_id__settings_scorers_config_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorersConfig'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/settings/observe:
    get:
      tags:
      - project_settings
      summary: Get Observe Settings
      operationId: get_observe_settings_projects__project_id__settings_observe_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObserveProjectSettings'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/settings/evaluate:
    get:
      tags:
      - project_settings
      summary: Get Evaluate Settings
      operationId: get_evaluate_settings_projects__project_id__settings_evaluate_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluateProjectSettings'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ScorersConfig:
      properties:
        scorers:
          items:
            oneOf:
            - $ref: '#/components/schemas/AgenticWorkflowSuccessScorer'
            - $ref: '#/components/schemas/AgenticSessionSuccessScorer'
            - $ref: '#/components/schemas/ChunkAttributionUtilizationScorer'
            - $ref: '#/components/schemas/CompletenessScorer'
            - $ref: '#/components/schemas/ContextAdherenceScorer'
            - $ref: '#/components/schemas/ContextRelevanceScorer'
            - $ref: '#/components/schemas/CorrectnessScorer'
            - $ref: '#/components/schemas/GroundTruthAdherenceScorer'
            - $ref: '#/components/schemas/InputPIIScorer'
            - $ref: '#/components/schemas/InputSexistScorer'
            - $ref: '#/components/schemas/InputToneScorer'
            - $ref: '#/components/schemas/InputToxicityScorer'
            - $ref: '#/components/schemas/InstructionAdherenceScorer'
            - $ref: '#/components/schemas/OutputPIIScorer'
            - $ref: '#/components/schemas/OutputSexistScorer'
            - $ref: '#/components/schemas/OutputToneScorer'
            - $ref: '#/components/schemas/OutputToxicityScorer'
            - $ref: '#/components/schemas/PromptInjectionScorer'
            - $ref: '#/components/schemas/ToolErrorRateScorer'
            - $ref: '#/components/schemas/ToolSelectionQualityScorer'
            discriminator:
              propertyName: name
              mapping:
                agentic_session_success: '#/components/schemas/AgenticSessionSuccessScorer'
                agentic_workflow_success: '#/components/schemas/AgenticWorkflowSuccessScorer'
                chunk_attribution_utilization: '#/components/schemas/ChunkAttributionUtilizationScorer'
                completeness: '#/components/schemas/CompletenessScorer'
                context_adherence: '#/components/schemas/ContextAdherenceScorer'
                context_relevance: '#/components/schemas/ContextRelevanceScorer'
                correctness: '#/components/schemas/CorrectnessScorer'
                ground_truth_adherence: '#/components/schemas/GroundTruthAdherenceScorer'
                input_pii: '#/components/schemas/InputPIIScorer'
                input_sexist: '#/components/schemas/InputSexistScorer'
                input_tone: '#/components/schemas/InputToneScorer'
                input_toxicity: '#/components/schemas/InputToxicityScorer'
                instruction_adherence: '#/components/schemas/InstructionAdherenceScorer'
                output_pii: '#/components/schemas/OutputPIIScorer'
                output_sexist: '#/components/schemas/OutputSexistScorer'
                output_tone: '#/components/schemas/OutputToneScorer'
                output_toxicity: '#/components/schemas/OutputToxicityScorer'
                prompt_injection: '#/components/schemas/PromptInjectionScorer'
                tool_error_rate: '#/components/schemas/ToolErrorRateScorer'
                tool_selection_quality: '#/components/schemas/ToolSelectionQualityScorer'
          type: array
          title: Scorers
          description: List of Galileo scorers to enable.
        registered_scorers:
          items:
            $ref: '#/components/schemas/RegisteredScorer'
          type: array
          title: Registered Scorers
          description: List of user registered scorers to enable.
        generated_scorers:
          items:
            $ref: '#/components/schemas/GeneratedScorer'
          type: array
          title: Generated Scorers
          description: List of user generated scorers to enable.
        finetuned_scorers:
          items:
            $ref: '#/components/schemas/FineTunedScorer'
          type: array
          title: Finetuned Scorers
          description: List of user fine-tuned scorers to enable.
      type: object
      title: ScorersConfig
    AgenticSessionSuccessScorer:
      properties:
        name:
          type: string
          const: agentic_session_success
          title: Name
          default: agentic_session_success
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        type:
          type: string
          enum:
          - luna
          - plus
          title: Type
          default: plus
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
          description: Alias of the model to use for the scorer.
        num_judges:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 1.0
          - type: 'null'
          title: Num Judges
          description: Number of judges for the scorer.
      type: object
      title: AgenticSessionSuccessScorer
    InstructionAdherenceScorer:
      properties:
        name:
          type: string
          const: instruction_adherence
          title: Name
          default: instruction_adherence
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        type:
          type: string
          const: plus
          title: Type
          default: plus
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
          description: Alias of the model to use for the scorer.
        num_judges:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 1.0
          - type: 'null'
          title: Num Judges
          description: Number of judges for the scorer.
      type: object
      title: InstructionAdherenceScorer
    ScorersConfiguration:
      properties:
        latency:
          type: boolean
          title: Latency
          default: true
        cost:
          type: boolean
          title: Cost
          default: true
        pii:
          type: boolean
          title: Pii
          default: false
        input_pii:
          type: boolean
          title: Input Pii
          default: false
        protect_status:
          type: boolean
          title: Protect Status
          default: true
        context_relevance:
          type: boolean
          title: Context Relevance
          default: false
        toxicity:
          type: boolean
          title: Toxicity
          default: false
        input_toxicity:
          type: boolean
          title: Input Toxicity
          default: false
        tone:
          type: boolean
          title: Tone
          default: false
        input_tone:
          type: boolean
          title: Input Tone
          default: false
        sexist:
          type: boolean
          title: Sexist
          default: false
        input_sexist:
          type: boolean
          title: Input Sexist
          default: false
        prompt_injection:
          type: boolean
          title: Prompt Injection
          default: false
        adherence_nli:
          type: boolean
          title: Adherence Nli
          default: false
        chunk_attribution_utilization_nli:
          type: boolean
          title: Chunk Attribution Utilization Nli
          default: false
        context_adherence_luna:
          type: boolean
          title: Context Adherence Luna
          default: false
        context_relevance_luna:
          type: boolean
          title: Context Relevance Luna
          default: false
        chunk_relevance_luna:
          type: boolean
          title: Chunk Relevance Luna
          default: false
        completeness_luna:
          type: boolean
          title: Completeness Luna
          default: false
        completeness_nli:
          type: boolean
          title: Completeness Nli
          default: false
        tool_error_rate_luna:
          type: boolean
          title: Tool Error Rate Luna
          default: false
        tool_selection_quality_luna:
          type: boolean
          title: Tool Selection Quality Luna
          default: false
        action_completion_luna:
          type: boolean
          title: Action Completion Luna
          default: false
        action_advancement_luna:
          type: boolean
          title: Action Advancement Luna
          default: false
        factuality:
          type: boolean
          title: Factuality
          default: false
        groundedness:
          type: boolean
          title: Groundedness
          default: false
        chunk_attribution_utilization_gpt:
          type: boolean
          title: Chunk Attribution Utilization Gpt
          default: false
        completeness_gpt:
          type: boolean
          title: Completeness Gpt
          default: false
        instruction_adherence:
          type: boolean
          title: Instruction Adherence
          default: false
        ground_truth_adherence:
          type: boolean
          title: Ground Truth Adherence
          default: false
        tool_selection_quality:
          type: boolean
          title: Tool Selection Quality
          default: false
        tool_error_rate:
          type: boolean
          title: Tool Error Rate
          default: false
        agentic_session_success:
          type: boolean
          title: Agentic Session Success
          default: false
        agentic_workflow_success:
          type: boolean
          title: Agentic Workflow Success
          default: false
        prompt_injection_gpt:
          type: boolean
          title: Prompt Injection Gpt
          default: false
        sexist_gpt:
          type: boolean
          title: Sexist Gpt
          default: false
        input_sexist_gpt:
          type: boolean
          title: Input Sexist Gpt
          default: false
        toxicity_gpt:
          type: boolean
          title: Toxicity Gpt
          default: false
        input_toxicity_gpt:
          type: boolean
          title: Input Toxicity Gpt
          default: false
      type: object
      title: ScorersConfiguration
      description: 'Configure which scorers to enable for a particular prompt run.


        The keys here are sorted by their approximate execution time to execute the scorers that we anticipate will be the

        fastest first, and the slowest last.'
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ContextAdherenceScorer:
      properties:
        name:
          type: string
          const: context_adherence
          title: Name
          default: context_adherence
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        type:
          type: string
          enum:
          - luna
          - plus
          title: Type
          default: luna
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
          description: Alias of the model to use for the scorer.
        num_judges:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 1.0
          - type: 'null'
          title: Num Judges
          description: Number of judges for the scorer.
      type: object
      title: ContextAdherenceScorer
    NodeNameFilter:
      properties:
        name:
          type: string
          const: node_name
          title: Name
          default: node_name
        operator:
          type: string
          enum:
          - eq
          - ne
          - contains
          - one_of
          - not_in
          title: Operator
        value:
          anyOf:
          - type: string
          - items:
              type: string
            type: array
          title: Value
        case_sensitive:
          type: boolean
          title: Case Sensitive
          default: true
      type: object
      required:
      - operator
      - value
      title: NodeNameFilter
      description: Filters on node names in scorer jobs.
    FineTunedScorer:
      properties:
        id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Id
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
      type: object
      title: FineTunedScorer
    EvaluateProjectSettings:
      properties:
        scorers_config:
          anyOf:
          - $ref: '#/components/schemas/ScorersConfig'
          - type: 'null'
        metric_weights_configuration:
          anyOf:
          - additionalProperties:
              $ref: '#/components/schemas/MetricWeight'
            type: object
          - type: 'null'
          title: Metric Weights Configuration
      type: object
      title: EvaluateProjectSettings
    ContextRelevanceScorer:
      properties:
        name:
          type: string
          const: context_relevance
          title: Name
          default: context_relevance
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
      type: object
      title: ContextRelevanceScorer
    AlertsConfiguration:
      properties:
        emails:
          items:
            type: string
            format: email
          type: array
          title: Emails
        webhooks:
          items:
            $ref: '#/components/schemas/Webhook'
          type: array
          title: Webhooks
      type: object
      title: AlertsConfiguration
    ProjectSettingsDB:
      properties:
        scorers_config:
          anyOf:
          - $ref: '#/components/schemas/ScorersConfig'
          - type: 'null'
        metric_weights_configuration:
          anyOf:
          - additionalProperties:
              $ref: '#/components/schemas/MetricWeight'
            type: object
          - type: 'null'
          title: Metric Weights Configuration
        alerts_configuration:
          anyOf:
          - $ref: '#/components/schemas/AlertsConfiguration'
          - type: 'null'
        scorers_configuration:
          anyOf:
          - $ref: '#/components/schemas/ScorersConfiguration'
          - type: 'null'
        registered_scorers_configuration:
          anyOf:
          - items:
              $ref: '#/components/schemas/RegisteredScorer'
            type: array
          - type: 'null'
          title: Registered Scorers Configuration
        generated_scorers_configuration:
          anyOf:
          - items:
              $ref: '#/components/schemas/GeneratedScorerConfig'
            type: array
          - type: 'null'
          title: Generated Scorers Configuration
        customized_scorers_configuration:
          anyOf:
          - items:
              $ref: '#/components/schemas/CustomizedScorer'
            type: array
          - type: 'null'
          title: Customized Scorers Configuration
        project_id:
          type: string
          format: uuid4
          title: Project Id
        id:
          type: string
          format: uuid4
          title: Id
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
      type: object
      required:
      - project_id
      - id
      - created_at
      - updated_at
      title: ProjectSettingsDB
    MetricWeight:
      properties:
        label:
          anyOf:
          - type: string
          - type: 'null'
          title: Label
        group_label:
          anyOf:
          - $ref: '#/components/schemas/GroupLabel'
          - type: 'null'
        description:
          anyOf:
          - $ref: '#/components/schemas/MetricDescriptions'
          - type: 'null'
        weight:
          type: number
          title: Weight
          default: 0.5
      type: object
      title: MetricWeight
    OutputPIIScorer:
      properties:
        name:
          type: string
          const: output_pii
          title: Name
          default: output_pii
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
      type: object
      title: OutputPIIScorer
    RegisteredScorer:
      properties:
        id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Id
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
      type: object
      title: RegisteredScorer
    WebhookStatus:
      type: string
      enum:
      - active
      - untested
      - failed
      - paused
      title: WebhookStatus
    ChunkAttributionUtilizationScorer:
      properties:
        name:
          type: string
          const: chunk_attribution_utilization
          title: Name
          default: chunk_attribution_utilization
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        type:
          type: string
          enum:
          - luna
          - plus
          title: Type
          default: luna
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
          description: Alias of the model to use for the scorer.
      type: object
      title: ChunkAttributionUtilizationScorer
    OutputToneScorer:
      properties:
        name:
          type: string
          const: output_tone
          title: Name
          default: output_tone
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
      type: object
      title: OutputToneScorer
    GroupLabel:
      type: string
      enum:
      - Input Quality
      - Output Quality
      - Configuration
      - LLM Parameters
      - RAG Quality
      - RAG Parameters
      - Generic Parameters
      - Safety Metrics
      - Protect
      - System Metrics
      - Rating Summary
      - Annotation Agreement
      - Custom Metrics
      - Security
      - Dataset
      - Agent Quality
      - Text to SQL Metrics
      title: GroupLabel
      description: Group labels for prompt rows.
    InputPIIScorer:
      properties:
        name:
          type: string
          const: input_pii
          title: Name
          default: input_pii
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
      type: object
      title: InputPIIScorer
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    CustomizedScorer:
      properties:
        scorer_name:
          $ref: '#/components/schemas/CustomizedScorerName'
          description: Name of the customized scorer.
        model_alias:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Alias
          description: Model alias to use for scoring.
        num_judges:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 1.0
          - type: 'null'
          title: Num Judges
          description: Number of judges for the scorer.
      type: object
      required:
      - scorer_name
      title: CustomizedScorer
    MetadataFilter:
      properties:
        name:
          type: string
          const: metadata
          title: Name
          default: metadata
        operator:
          type: string
          enum:
          - one_of
          - not_in
          - eq
          - ne
          title: Operator
        key:
          type: string
          title: Key
        value:
          anyOf:
          - type: string
          - items:
              type: string
            type: array
          title: Value
      type: object
      required:
      - operator
      - key
      - value
      title: MetadataFilter
      description: Filters on metadata key-value pairs in scorer jobs.
    GeneratedScorer:
      properties:
        id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Id
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
      type: object
      title: GeneratedScorer
    MetricDescriptions:
      type: string
      enum:
      - 'Measures whether the LLM''s response is supported by (or baked in) the context provided. '
      - Measures whether the LLM's response is supported by the provided context, including images and documents.
      - Measures whether the LLM's response is supported by the provided context, including audio.
      - Measures how well the LLM follows the system instructions provided in the prompt.
      - Measures how well the workflow's response aligns with the ground truth provided.
      - Measures how well the workflow's response aligns with ground truth that includes images or documents.
      - Measures how well the workflow's response aligns with ground truth that includes audio.
      - Detects whether the model selected the right Tool with the right arguments.
      - Detects whether the Tool executed successfully (i.e. without errors).
      - Measures whether the retrieved context has enough information to answer the user's query.
      - Measures the potential presence of factual errors or inconsistencies in the model's response.
      - Measures the potential presence of factual errors or inconsistencies in the model's response, including image or document content.
      - Measures the potential presence of factual errors or inconsistencies in the model's response, including audio content.
      - Classifies the sentiment of the user's input into one of joy, love, fear, surprise, sadness, anger, annoyance, confusion or neutral.
      - Measures how 'sexist' a user's input might be perceived ranging in the values of 0-1 (1 being more sexist).
      - Measures the presence and severity of harmful, offensive, or abusive language
      - Measures the presence and severity of harmful, offensive, or abusive content in image or document inputs.
      - Measures the presence and severity of harmful, offensive, or abusive content in audio inputs.
      - Tracks the presence of personal identifiable information in the user's input
      - Classifies the sentiment in the model's response into one of joy, love, fear, surprise, sadness, anger, annoyance, confusion or neutral.
      - Measures how 'sexist' a response might be perceived ranging in the values of 0-1 (1 being more sexist).
      - Measures the presence and severity of harmful, offensive, or abusive language in the model's response
      - Measures the presence and severity of harmful, offensive, or abusive content in the model's image or document responses.
      - Measures the presence and severity of harmful, offensive, or abusive content in the model's audio responses.
      - Tracks the presence of personal identifiable information in the LLM's responses
      - Measures the presence of prompt injection attacks in inputs to the LLM.
      - Precision of top-K retrieved chunks, measuring the proportion of relevant chunks among the first K results.
      - Measures which documents or chunks retrieved were used by the model to generate a response.
      - Measures how much of the text in the retrieved chunks was used by the model to compose its response.
      - Evaluates whether each retrieved chunk is relevant to the query.
      - Position-weighted relevance score that accounts for the order of retrieved chunks.
      - A response-level metric measuring 'out of all the information in the context pertinent to the question, how much was covered in the answer?'
      - Cost of executing the run and does not include any costs incurred for metric calculation.
      - Cost of all the metrics that call the OpenAI API.
      - Detects whether the user successfully accomplished or advanced towards their goal.
      - Detects whether the user successfully accomplished all of their goals.
      - Detects whether the user successfully accomplished all of their goals in a session that includes images or documents.
      - Detects whether the user successfully accomplished all of their goals in a session that includes audio.
      - Measures which documents or chunks retrieved were used by the model to generate a response, and how much of the text in the retrieved chunks was used by the model to compose its response.
      - Detects whether the agent followed the most efficient path to accomplish the user's goal.
      - Measures the correctness and coherence of an agentic trajectory by validating it against user-specified natural language tests.
      - Assesses whether a chatbot interaction left the user feeling satisfied and positive, or frustrated and dissatisfied, based on tone, engagement, and overall experience.
      - Detects a significant shift in the user's primary conversational goal or workflow during a session, relative to their initial stated intent.
      - Detects a significant shift in the user's primary conversational goal or workflow during a session that includes images or documents.
      - Detects a significant shift in the user's primary conversational goal or workflow during a session that includes audio.
      - Evaluates whether the SQL query semantically adheres to the natural language query.
      - 'Evaluates the SQL query on two independent binary dimensions: syntactic correctness and schematic adherence.'
      - Evaluates whether the SQL query is structurally efficient and free of common performance anti-patterns.
      - Detects SQL injection risks and other security exploits in the query.
      - Measures the coherence of the reasoning process by evaluating the consistency and logical flow of the reasoning steps.
      - Measures the coherence of the reasoning process by evaluating the consistency and logical flow of reasoning steps with image or document context.
      - Measures the coherence of the reasoning process by evaluating the consistency and logical flow of reasoning steps with audio context.
      - Determines whether the input image / PDF is of sufficient quality to complete the given task.
      - Evaluates whether the generated image / PDF complies with the provided rules.
      - Identifies barge-ins by the user or the LLM in an audio conversation.
      title: MetricDescriptions
    CorrectnessScorer:
      properties:
        name:
          type: string
          const: correctness
          title: Name
          default: correctness
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        type:
          type: string
          const: plus
          title: Type
          default: plus
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
          description: Alias of the model to use for the scorer.
        num_judges:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 1.0
          - type: 'null'
          title: Num Judges
          description: Number of judges for the scorer.
      type: object
      title: CorrectnessScorer
    GenAIProjectSettings:
      properties:
        scorers_config:
          anyOf:
          - $ref: '#/components/schemas/ScorersConfig'
          - type: 'null'
        metric_weights_configuration:
          anyOf:
          - additionalProperties:
              $ref: '#/components/schemas/MetricWeight'
            type: object
          - type: 'null'
          title: Metric Weights Configuration
        alerts_configuration:
          anyOf:
          - $ref: '#/components/schemas/AlertsConfiguration'
          - type: 'null'
      type: object
      title: GenAIProjectSettings
    ModalityFilter:
      properties:
        name:
          type: string
          const: modality
          title: Name
          default: modality
        operator:
          type: string
          enum:
          - eq
          - ne
          - one_of
          - not_in
          title: Operator
        value:
          anyOf:
          - type: string
            description: Single enum value - specific options depend on the concrete enum type used
            example: ENUM_VALUE
          - items:
              type: string
              example: ENUM_VALUE
            type: array
            description: Array of enum values
            example:
            - ENUM_VALUE_1
            - ENUM_VALUE_2
          title: Value
      type: object
      required:
      - operator
      - value
      title: ModalityFilter
      description: 'Filters on content modalities in scorer jobs.

        Matches if at least one of the specified modalities is present.'
    GeneratedScorerConfig:
      properties:
        name:
          type: string
          title: Name
          description: Name of the scorer to enable.
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
      type: object
      required:
      - name
      title: GeneratedScorerConfig
    OutputSexistScorer:
      properties:
        name:
          type: string
          const: output_sexist
          title: Name
          default: output_sexist
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        type:
          type: string
          enum:
          - luna
          - plus
          title: Type
          default: luna
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
          description: Alias of the model to use for the scorer.
        num_judges:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 1.0
          - type: 'null'
          title: Num Judges
          description: Number of judges for the scorer.
      type: object
      title: OutputSexistScorer
    InputToneScorer:
      properties:
        name:
          type: string
          const: input_tone
          title: Name
          default: input_tone
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
      type: object
      title: InputToneScorer
    InputToxicityScorer:
      properties:
        name:
          type: string
          const: input_toxicity
          title: Name
          default: input_toxicity
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        type:
          type: string
          enum:
          - luna
          - plus
          title: Type
          default: luna
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
          description: Alias of the model to use for the scorer.
        num_judges:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 1.0
          - type: 'null'
          title: Num Judges
          description: Number of judges for the scorer.
      type: object
      title: InputToxicityScorer
    ObserveProjectSettings:
      properties:
        scorers_config:
          anyOf:
          - $ref: '#/components/schemas/ScorersConfig'
          - type: 'null'
        alerts_configuration:
          anyOf:
          - $ref: '#/components/schemas/AlertsConfiguration'
          - type: 'null'
        scorers_configuration:
          anyOf:
          - $ref: '#/components/schemas/ScorersConfiguration'
          - type: 'null'
        registered_scorers_configuration:
          anyOf:
          - items:
              $ref: '#/components/schemas/RegisteredScorer'
            type: array
          - type: 'null'
          title: Registered Scorers Configuration
        generated_scorers_configuration:
          anyOf:
          - items:
              $ref: '#/components/schemas/GeneratedScorerConfig'
            type: array
          - type: 'null'
          title: Generated Scorers Configuration
        customized_scorers_configuration:
          anyOf:
          - items:
              $ref: '#/components/schemas/CustomizedScorer'
            type: array
          - type: 'null'
          title: Customized Scorers Configuration
      type: object
      title: ObserveProjectSettings
    Webhook:
      properties:
        url:
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
          title: Url
        status:
          $ref: '#/components/schemas/WebhookStatus'
          default: untested
        notes:
          type: string
          maxLength: 255
          title: Notes
          default: ''
      type: object
      required:
      - url
      title: Webhook
    ToolSelectionQualityScorer:
      properties:
        name:
          type: string
          const: tool_selection_quality
          title: Name
          default: tool_selection_quality
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        type:
          type: string
          enum:
          - luna
          - plus
          title: Type
          default: plus
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
          description: Alias of the model to use for the scorer.
        num_judges:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 1.0
          - type: 'null'
          title: Num Judges
          description: Number of judges for the scorer.
      type: object
      title: ToolSelectionQualityScorer
    GroundTruthAdherenceScorer:
      properties:
        name:
          type: string
          const: ground_truth_adherence
          title: Name
          default: ground_truth_adherence
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        type:
          type: string
          const: plus
          title: Type
          default: plus
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
          description: Alias of the model to use for the scorer.
        num_judges:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 1.0
          - type: 'null'
          title: Num Judges
          description: Number of judges for the scorer.
      type: object
      title: GroundTruthAdherenceScorer
    AgenticWorkflowSuccessScorer:
      properties:
        name:
          type: string
          const: agentic_workflow_success
          title: Name
          default: agentic_workflow_success
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        type:
          type: string
          enum:
          - luna
          - plus
          title: Type
          default: plus
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
          description: Alias of the model to use for the scorer.
        num_judges:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 1.0
          - type: 'null'
          title: Num Judges
          description: Number of judges for the scorer.
      type: object
      title: AgenticWorkflowSuccessScorer
    PromptInjectionScorer:
      properties:
        name:
          type: string
          const: prompt_injection
          title: Name
          default: prompt_injection
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        type:
          type: string
          enum:
          - luna
          - plus
          title: Type
          default: luna
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
          description: Alias of the model to use for the scorer.
        num_judges:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 1.0
          - type: 'null'
          title: Num Judges
          description: Number of judges for the scorer.
      type: object
      title: PromptInjectionScorer
    OutputToxicityScorer:
      properties:
        name:
          type: string
          const: output_toxicity
          title: Name
          default: output_toxicity
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        type:
          type: string
          enum:
          - luna
          - plus
          title: Type
          default: luna
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
          description: Alias of the model to use for the scorer.
        num_judges:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 1.0
          - type: 'null'
          title: Num Judges
          description: Number of judges for the scorer.
      type: object
      title: OutputToxicityScorer
    CustomizedScorerName:
      type: string
      enum:
      - _customized_agentic_workflow_success
      - _customized_agentic_session_success
      - _customized_chunk_attribution_utilization_gpt
      - _customized_completeness_gpt
      - _customized_groundedness
      - _customized_factuality
      - _customized_ground_truth_adherence
      - _customized_instruction_adherence
      - _customized_prompt_injection_gpt
      - _customized_tool_error_rate
      - _customized_tool_selection_quality
      - _customized_sexist_gpt
      - _customized_input_sexist_gpt
      - _customized_toxicity_gpt
      - _customized_input_toxicity_gpt
      title: CustomizedScorerName
    ToolErrorRateScorer:
      properties:
        name:
          type: string
          const: tool_error_rate
          title: Name
          default: tool_error_rate
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        type:
          type: string
          enum:
          - luna
          - plus
          title: Type
          default: plus
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
          description: Alias of the model to use for the scorer.
      type: object
      title: ToolErrorRateScorer
    InputSexistScorer:
      properties:
        name:
          type: string
          const: input_sexist
          title: Name
          default: input_sexist
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        type:
          type: string
          enum:
          - luna
          - plus
          title: Type
          default: luna
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
          description: Alias of the model to use for the scorer.
        num_judges:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 1.0
          - type: 'null'
          title: Num Judges
          description: Number of judges for the scorer.
      type: object
      title: InputSexistScorer
    CompletenessScorer:
      properties:
        name:
          type: string
          const: completeness
          title: Name
          default: completeness
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        type:
          type: string
          enum:
          - luna
          - plus
          title: Type
          default: luna
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
          description: Alias of the model to use for the scorer.
        num_judges:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 1.0
          - type: 'null'
          title: Num Judges
          description: Number of judges for the scorer.
      type: object
      title: CompletenessScorer
    CompositeProjectSettings:
      properties:
        scorers_config:
          anyOf:
          - $ref: '#/components/schemas/ScorersConfig'
          - type: 'null'
        metric_weights_configuration:
          anyOf:
          - additionalProperties:
              $ref: '#/components/schemas/MetricWeight'
            type: object
          - type: 'null'
          title: Metric Weights Configuration
        alerts_configuration:
          anyOf:
          - $ref: '#/components/schemas/AlertsConfiguration'
          - type: 'null'
        scorers_configuration:
          anyOf:
          - $ref: '#/components/schemas/ScorersConfiguration'
          - type: 'null'
        registered_scorers_configuration:
          anyOf:
          - items:
              $ref: '#/components/schemas/RegisteredScorer'
            type: array
          - type: 'null'
          title: Registered Scorers Configuration
        generated_scorers_configuration:
          anyOf:
          - items:
              $ref: '#/components/schemas/GeneratedScorerConfig'
            type: array
          - type: 'null'
          title: Generated Scorers Configuration
        customized_scorers_configuration:
          anyOf:
          - items:
              $ref: '#/components/schemas/CustomizedScorer'
            type: array
          - type: 'null'
          title: Customized Scorers Configuration
      type: object
      title: CompositeProjectSettings
  securitySchemes:
    ClassicAPIKeyHeader:
      type: apiKey
      in: header
      name: Galileo-API-Key
    APIKeyHeader:
      type: apiKey
      in: header
      name: Splunk-AO-API-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://api.galileo.ai/login
    HTTPBasic:
      type: http
      scheme: basic
