openapi: 3.1.0
info:
  title: Galileo API Server annotation jobs API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: jobs
paths:
  /jobs:
    post:
      tags:
      - jobs
      summary: Create Job
      description: Create a job for a project run and enqueue it for processing.
      operationId: create_job_jobs_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateJobResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
components:
  schemas:
    BaseScorer:
      properties:
        scorer_name:
          type: string
          title: Scorer Name
          default: ''
        name:
          type: string
          title: Name
          default: ''
        scores:
          anyOf:
          - items: {}
            type: array
          - type: 'null'
          title: Scores
        indices:
          anyOf:
          - items:
              type: integer
            type: array
          - type: 'null'
          title: Indices
        aggregates:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Aggregates
        aggregate_keys:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Aggregate Keys
        extra:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra
        sub_scorers:
          items:
            $ref: '#/components/schemas/promptgalileo__schemas__scorer_name__ScorerName'
          type: array
          title: Sub Scorers
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
        metric_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Metric Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        chainpoll_template:
          anyOf:
          - $ref: '#/components/schemas/ChainPollTemplate'
          - type: 'null'
        model_alias:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Alias
        num_judges:
          anyOf:
          - type: integer
          - type: 'null'
          title: Num Judges
        default_model_alias:
          anyOf:
          - type: string
          - type: 'null'
          title: Default Model Alias
        ground_truth:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Ground Truth
        regex_field:
          type: string
          title: Regex Field
          default: ''
        registered_scorer_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Registered Scorer Id
        generated_scorer_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Generated Scorer Id
        scorer_version_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Scorer Version Id
        user_code:
          anyOf:
          - type: string
          - type: 'null'
          title: User Code
        can_copy_to_llm:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Can Copy To Llm
        scoreable_node_types:
          anyOf:
          - items:
              $ref: '#/components/schemas/NodeType'
            type: array
          - type: 'null'
          title: Scoreable Node Types
        cot_enabled:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Cot Enabled
        output_type:
          anyOf:
          - $ref: '#/components/schemas/OutputTypeEnum'
          - type: 'null'
        input_type:
          anyOf:
          - $ref: '#/components/schemas/InputTypeEnum'
          - type: 'null'
        multimodal_capabilities:
          anyOf:
          - items:
              $ref: '#/components/schemas/MultimodalCapability'
            type: array
          - type: 'null'
          title: Multimodal Capabilities
        requires_tools_in_llm_span:
          type: boolean
          title: Requires Tools In Llm Span
          default: false
        required_scorers:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Required Scorers
        required_metric_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Required Metric Ids
        roll_up_strategy:
          anyOf:
          - $ref: '#/components/schemas/RollUpStrategy'
          - type: 'null'
        roll_up_methods:
          anyOf:
          - items:
              $ref: '#/components/schemas/NumericRollUpMethod'
            type: array
          - items:
              $ref: '#/components/schemas/CategoricalRollUpMethod'
            type: array
          - type: 'null'
          title: Roll Up Methods
        prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: Prompt
        lora_task_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Lora Task Id
        lora_weights_path:
          anyOf:
          - type: string
          - type: 'null'
          title: Lora Weights Path
        luna_input_type:
          anyOf:
          - $ref: '#/components/schemas/LunaInputTypeEnum'
          - type: 'null'
        luna_output_type:
          anyOf:
          - $ref: '#/components/schemas/LunaOutputTypeEnum'
          - type: 'null'
        class_name_to_vocab_ix:
          anyOf:
          - additionalProperties:
              items:
                type: integer
              type: array
              uniqueItems: true
            type: object
          - additionalProperties:
              type: integer
            type: object
          - type: 'null'
          title: Class Name To Vocab Ix
        scorer_path_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Scorer Path Name
      type: object
      title: BaseScorer
    PromptRunSettings-Input:
      properties:
        logprobs:
          type: boolean
          title: Logprobs
          default: true
        top_logprobs:
          type: integer
          title: Top Logprobs
          default: 5
        echo:
          type: boolean
          title: Echo
          default: false
        n:
          type: integer
          title: N
          default: 1
        reasoning_effort:
          type: string
          title: Reasoning Effort
          default: medium
        verbosity:
          type: string
          title: Verbosity
          default: medium
        deployment_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Deployment Name
        model_alias:
          type: string
          title: Model Alias
          default: gpt-5.1
        temperature:
          anyOf:
          - type: number
          - type: 'null'
          title: Temperature
        max_tokens:
          type: integer
          title: Max Tokens
          default: 4096
        stop_sequences:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Stop Sequences
        top_p:
          type: number
          title: Top P
          default: 1.0
        top_k:
          type: integer
          title: Top K
          default: 40
        frequency_penalty:
          type: number
          title: Frequency Penalty
          default: 0.0
        presence_penalty:
          type: number
          title: Presence Penalty
          default: 0.0
        tools:
          anyOf:
          - items:
              additionalProperties: true
              type: object
            type: array
          - type: 'null'
          title: Tools
        tool_choice:
          anyOf:
          - type: string
          - $ref: '#/components/schemas/OpenAIToolChoice'
          - type: 'null'
          title: Tool Choice
        response_format:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Response Format
        known_models:
          items:
            $ref: '#/components/schemas/Model'
          type: array
          title: Known Models
      type: object
      title: PromptRunSettings
      description: Prompt run settings.
    ScorersConfiguration:
      properties:
        latency:
          type: boolean
          title: Latency
          default: true
        cost:
          type: boolean
          title: Cost
          default: true
        pii:
          type: boolean
          title: Pii
          default: false
        input_pii:
          type: boolean
          title: Input Pii
          default: false
        protect_status:
          type: boolean
          title: Protect Status
          default: true
        context_relevance:
          type: boolean
          title: Context Relevance
          default: false
        toxicity:
          type: boolean
          title: Toxicity
          default: false
        input_toxicity:
          type: boolean
          title: Input Toxicity
          default: false
        tone:
          type: boolean
          title: Tone
          default: false
        input_tone:
          type: boolean
          title: Input Tone
          default: false
        sexist:
          type: boolean
          title: Sexist
          default: false
        input_sexist:
          type: boolean
          title: Input Sexist
          default: false
        prompt_injection:
          type: boolean
          title: Prompt Injection
          default: false
        adherence_nli:
          type: boolean
          title: Adherence Nli
          default: false
        chunk_attribution_utilization_nli:
          type: boolean
          title: Chunk Attribution Utilization Nli
          default: false
        context_adherence_luna:
          type: boolean
          title: Context Adherence Luna
          default: false
        context_relevance_luna:
          type: boolean
          title: Context Relevance Luna
          default: false
        chunk_relevance_luna:
          type: boolean
          title: Chunk Relevance Luna
          default: false
        completeness_luna:
          type: boolean
          title: Completeness Luna
          default: false
        completeness_nli:
          type: boolean
          title: Completeness Nli
          default: false
        tool_error_rate_luna:
          type: boolean
          title: Tool Error Rate Luna
          default: false
        tool_selection_quality_luna:
          type: boolean
          title: Tool Selection Quality Luna
          default: false
        action_completion_luna:
          type: boolean
          title: Action Completion Luna
          default: false
        action_advancement_luna:
          type: boolean
          title: Action Advancement Luna
          default: false
        factuality:
          type: boolean
          title: Factuality
          default: false
        groundedness:
          type: boolean
          title: Groundedness
          default: false
        chunk_attribution_utilization_gpt:
          type: boolean
          title: Chunk Attribution Utilization Gpt
          default: false
        completeness_gpt:
          type: boolean
          title: Completeness Gpt
          default: false
        instruction_adherence:
          type: boolean
          title: Instruction Adherence
          default: false
        ground_truth_adherence:
          type: boolean
          title: Ground Truth Adherence
          default: false
        tool_selection_quality:
          type: boolean
          title: Tool Selection Quality
          default: false
        tool_error_rate:
          type: boolean
          title: Tool Error Rate
          default: false
        agentic_session_success:
          type: boolean
          title: Agentic Session Success
          default: false
        agentic_workflow_success:
          type: boolean
          title: Agentic Workflow Success
          default: false
        prompt_injection_gpt:
          type: boolean
          title: Prompt Injection Gpt
          default: false
        sexist_gpt:
          type: boolean
          title: Sexist Gpt
          default: false
        input_sexist_gpt:
          type: boolean
          title: Input Sexist Gpt
          default: false
        toxicity_gpt:
          type: boolean
          title: Toxicity Gpt
          default: false
        input_toxicity_gpt:
          type: boolean
          title: Input Toxicity Gpt
          default: false
      type: object
      title: ScorersConfiguration
      description: 'Configure which scorers to enable for a particular prompt run.


        The keys here are sorted by their approximate execution time to execute the scorers that we anticipate will be the

        fastest first, and the slowest last.'
    BaseScorerVersionDB:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        version:
          type: integer
          title: Version
        scorer_id:
          type: string
          format: uuid4
          title: Scorer Id
        generated_scorer:
          anyOf:
          - $ref: '#/components/schemas/BaseGeneratedScorerDB'
          - type: 'null'
        registered_scorer:
          anyOf:
          - $ref: '#/components/schemas/BaseRegisteredScorerDB'
          - type: 'null'
        finetuned_scorer:
          anyOf:
          - $ref: '#/components/schemas/BaseFinetunedScorerDB'
          - type: 'null'
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
        num_judges:
          anyOf:
          - type: integer
          - type: 'null'
          title: Num Judges
        scoreable_node_types:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Scoreable Node Types
          description: List of node types that can be scored by this scorer. Defaults to llm/chat.
        cot_enabled:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Cot Enabled
          description: Whether to enable chain of thought for this scorer. Defaults to False for llm scorers.
        output_type:
          anyOf:
          - $ref: '#/components/schemas/OutputTypeEnum'
          - type: 'null'
          description: What type of output to use for model-based scorers (sessions_normalized, trace_io_only, etc.).
        input_type:
          anyOf:
          - $ref: '#/components/schemas/InputTypeEnum'
          - type: 'null'
          description: What type of input to use for model-based scorers (sessions_normalized, trace_io_only, etc.).
      type: object
      required:
      - id
      - version
      - scorer_id
      title: BaseScorerVersionDB
      description: Scorer version from the scorer_versions table.
    RollUpStrategy:
      type: string
      enum:
      - avg
      - sum
      - first
      - last
      - none
      title: RollUpStrategy
      description: Strategies for rolling metrics up the Session/Trace/Span hierarchy.
    OutputTypeEnum:
      type: string
      enum:
      - boolean
      - categorical
      - count
      - discrete
      - freeform
      - percentage
      - multilabel
      - retrieved_chunk_list_boolean
      - boolean_multilabel
      title: OutputTypeEnum
      description: Enumeration of output types.
    Model:
      properties:
        name:
          type: string
          title: Name
        alias:
          type: string
          title: Alias
        integration:
          $ref: '#/components/schemas/LLMIntegration'
          default: openai
        user_role:
          anyOf:
          - type: string
          - type: 'null'
          title: User Role
        assistant_role:
          anyOf:
          - type: string
          - type: 'null'
          title: Assistant Role
        system_supported:
          type: boolean
          title: System Supported
          default: false
        input_modalities:
          items:
            $ref: '#/components/schemas/ContentModality'
          type: array
          title: Input Modalities
          description: Input modalities that the model can accept.
        alternative_names:
          items:
            type: string
          type: array
          title: Alternative Names
          description: Alternative names for the model, used for matching with various current, versioned or legacy names.
        input_token_limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Input Token Limit
        output_token_limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Output Token Limit
        token_limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Token Limit
        cost_by:
          $ref: '#/components/schemas/ModelCostBy'
          default: tokens
        is_chat:
          type: boolean
          title: Is Chat
          default: false
        provides_log_probs:
          type: boolean
          title: Provides Log Probs
          default: false
        formatting_tokens:
          type: integer
          title: Formatting Tokens
          default: 0
        response_prefix_tokens:
          type: integer
          title: Response Prefix Tokens
          default: 0
        api_version:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Version
        legacy_mistral_prompt_format:
          type: boolean
          title: Legacy Mistral Prompt Format
          default: false
        requires_max_tokens:
          type: boolean
          title: Requires Max Tokens
          default: false
        max_top_p:
          anyOf:
          - type: number
          - type: 'null'
          title: Max Top P
        params_map:
          $ref: '#/components/schemas/RunParamsMap'
        output_map:
          anyOf:
          - $ref: '#/components/schemas/OutputMap'
          - type: 'null'
        input_map:
          anyOf:
          - $ref: '#/components/schemas/InputMap'
          - type: 'null'
      type: object
      required:
      - name
      - alias
      title: Model
    ContextAdherenceScorer:
      properties:
        name:
          type: string
          const: context_adherence
          title: Name
          default: context_adherence
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        type:
          type: string
          enum:
          - luna
          - plus
          title: Type
          default: luna
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
          description: Alias of the model to use for the scorer.
        num_judges:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 1.0
          - type: 'null'
          title: Num Judges
          description: Number of judges for the scorer.
      type: object
      title: ContextAdherenceScorer
    CustomizedCompletenessGPTScorer:
      properties:
        scorer_name:
          type: string
          const: _customized_completeness_gpt
          title: Scorer Name
          default: _customized_completeness_gpt
        model_alias:
          type: string
          title: Model Alias
          default: gpt-4.1-mini
        num_judges:
          type: integer
          title: Num Judges
          default: 3
        name:
          type: string
          const: completeness
          title: Name
          default: completeness
        scores:
          anyOf:
          - items: {}
            type: array
          - type: 'null'
          title: Scores
        indices:
          anyOf:
          - items:
              type: integer
            type: array
          - type: 'null'
          title: Indices
        aggregates:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Aggregates
        aggregate_keys:
          items:
            type: string
          type: array
          title: Aggregate Keys
          default:
          - average_completeness_gpt
        extra:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra
        sub_scorers:
          items:
            $ref: '#/components/schemas/promptgalileo__schemas__scorer_name__ScorerName'
          type: array
          title: Sub Scorers
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
        metric_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Metric Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        chainpoll_template:
          $ref: '#/components/schemas/CompletenessTemplate'
          default:
            value_field_name: completeness
            explanation_field_name: explanation
            template: "I asked someone to answer a question based on one or more documents. On a scale of 0 to 1, tell me how well their response covered the relevant information from the documents.\n\nHere is what I said to them, as a JSON string:\n\n```\n{query_json}\n```\n\nHere is what they told me, as a JSON string:\n\n```\n{response_json}\n```\n\nRespond in the following JSON format:\n\n```\n{{\n    \"explanation\": string,\n    \"completeness\": number\n}}\n```\n\n\"explanation\": A string with your step-by-step reasoning process. List out each piece of information covered in the documents. For each one, explain why it was or was not relevant to the question, and how well the response covered it. Do *not* give an overall assessment of the response here, just think step by step about each piece of information, one at a time. Present your work in a document-by-document format, considering each document separately, ensure the value is a valid string.\n\n\"completeness\": A floating-point number rating the Completeness of the response on a scale of 0 to 1. This number should equal the amount of relevant information that was comprehensively covered in the response, divided by the total amount of relevant information in the documents.\n\nYou must respond with a valid JSON string."
            metric_few_shot_examples: []
        default_model_alias:
          anyOf:
          - type: string
          - type: 'null'
          title: Default Model Alias
        ground_truth:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Ground Truth
        regex_field:
          type: string
          title: Regex Field
          default: ''
        registered_scorer_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Registered Scorer Id
        generated_scorer_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Generated Scorer Id
        scorer_version_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Scorer Version Id
        user_code:
          anyOf:
          - type: string
          - type: 'null'
          title: User Code
        can_copy_to_llm:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Can Copy To Llm
        scoreable_node_types:
          anyOf:
          - items:
              $ref: '#/components/schemas/NodeType'
            type: array
          - type: 'null'
          title: Scoreable Node Types
        cot_enabled:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Cot Enabled
        output_type:
          anyOf:
          - $ref: '#/components/schemas/OutputTypeEnum'
          - type: 'null'
        input_type:
          anyOf:
          - $ref: '#/components/schemas/InputTypeEnum'
          - type: 'null'
        multimodal_capabilities:
          anyOf:
          - items:
              $ref: '#/components/schemas/MultimodalCapability'
            type: array
          - type: 'null'
          title: Multimodal Capabilities
        requires_tools_in_llm_span:
          type: boolean
          title: Requires Tools In Llm Span
          default: false
        required_scorers:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Required Scorers
        required_metric_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Required Metric Ids
        roll_up_strategy:
          anyOf:
          - $ref: '#/components/schemas/RollUpStrategy'
          - type: 'null'
        roll_up_methods:
          anyOf:
          - items:
              $ref: '#/components/schemas/NumericRollUpMethod'
            type: array
          - items:
              $ref: '#/components/schemas/CategoricalRollUpMethod'
            type: array
          - type: 'null'
          title: Roll Up Methods
        prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: Prompt
        lora_task_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Lora Task Id
        lora_weights_path:
          anyOf:
          - type: string
          - type: 'null'
          title: Lora Weights Path
        luna_input_type:
          anyOf:
          - $ref: '#/components/schemas/LunaInputTypeEnum'
          - type: 'null'
        luna_output_type:
          anyOf:
          - $ref: '#/components/schemas/LunaOutputTypeEnum'
          - type: 'null'
        class_name_to_vocab_ix:
          anyOf:
          - additionalProperties:
              items:
                type: integer
              type: array
              uniqueItems: true
            type: object
          - additionalProperties:
              type: integer
            type: object
          - type: 'null'
          title: Class Name To Vocab Ix
        scorer_path_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Scorer Path Name
      type: object
      title: CustomizedCompletenessGPTScorer
    AgenticWorkflowSuccessTemplate:
      properties:
        metric_system_prompt:
          type: string
          title: Metric System Prompt
          default: "You will receive the chat history from a chatbot application between a user and an AI. At the end of the chat history, it is AI’s turn to act.\n\nIn the chat history, the user can either ask questions, which are answered with words, or make requests that require calling tools and actions to resolve. Sometimes these are given as orders, and these should be treated as questions or requests. The AI's turn may involve several steps which are a combination of internal reflections, planning, selecting tools, calling tools, and ends with the AI replying to the user. \nYour task involves the following steps:\n\n########################\n\nStep 1: user_last_input and user_ask\n\nFirst, identify the user's last input in the chat history. From this input, create a list with one entry for each user question, request, or order. If there are no user asks in the user's last input, leave the list empty and skip ahead, considering the AI's turn successful.\n\n########################\n\nStep 2: ai_final_response and answer_or_resolution\n\nIdentify the AI's final response to the user: it is the very last step in the AI's turn.\n\nFor every user_ask, focus on ai_final_response and try to extract either an answer or a resolution using the following definitions:\n- An answer is a part of the AI's final response that directly responds to all or part of a user's question, or asks for further information or clarification.\n- A resolution is a part of the AI's final response that confirms a successful resolution, or asks for further information or clarification in order to answer a user's request.\n\nIf the AI's final response does not address the user ask, simply write \"No answer or resolution provided in the final response\". Do not shorten the answer or resolution; provide the entire relevant part.\n\n########################\n\nStep 3: tools_input_output\n\nExamine every step in the AI's turn and identify which tool/function step seemingly contributed to creating the answer or resolution. Every tool call should be linked to a user ask. If an AI step immediately before or after the tool call mentions planning or using a tool for answering a user ask, the tool call should be associated with that user ask. If the answer or resolution strongly resembles the output of a tool, the tool call should also be associated with that user ask.\n\nCreate a list containing the concatenation of the entire input and output of every tool used in formulating the answer or resolution. The tool input is listed as an AI step before calling the tool, and the tool output is listed as a tool step.\n\n########################\n\nStep 4: properties, boolean_properties and answer_successful\n\nFor every answer or resolution from Step 2, check the following properties one by one to determine which are satisfied:\n- factually_wrong: the answer contains factual errors.\n- addresses_different_ask: the answer or resolution addresses a slightly different user ask (make sure to differentiate this from asking clarifying questions related to the current ask).\n- not_adherent_to_tools_output: the answer or resolution includes citations from a tool's output, but some are wrongly copied or attributed.\n- mentions_inability: the answer or resolution mentions an inability to complete the user ask.\n- mentions_unsuccessful_attempt: the answer or resolution mentions an unsuccessful or failed attempt to complete the user ask.\n\nThen copy all the properties (only the boolean value) in the list boolean_properties.\n\nFinally, set answer_successful to `false` if any entry in boolean_properties is set to `true`, otherwise set answer_successful to `true`.\n\n########################\n\nYou must respond in the following JSON format:\n```\n{\n    \"user_last_input\": string,\n    \"ai_final_response\": string,\n    \"asks_and_answers\": list[dict],\n    \"ai_turn_is_successful\": boolean,\n    \"explanation\": string\n}\n```\n\nYour tasks are defined as follows:\n\n- **\"asks_and_answers\"**: Perform all the tasks described in the steps above. Your answer should be a list where each user ask appears as:\n\n```\n{\n    \"user_ask\": string,\n    \"answer_or_resolution\": string,\n    \"tools_input_output\": list[string],\n    \"properties\" : {\n        \"factually_wrong\": boolean,\n        \"addresses_different_ask\": boolean,\n        \"not_adherent_to_tools_output\": boolean,\n        \"mentions_inability\": boolean,\n        \"mentions_unsuccessful_attempt\": boolean\n    },\n    \"boolean_properties\": list[boolean],\n    \"answer_successful\": boolean\n}\n```\n\n- **\"ai_turn_is_successful\"**: Respond `true` if at least one answer_successful is True, otherwise respond `false`.\n\n- **\"explanation\"**: If at least one answer was considered successful, explain why. Otherwise explain why all answers were not successful.\n\nYou must respond with a valid JSON object; be sure to escape special characters."
        metric_description:
          type: string
          title: Metric Description
          default: 'I have a multi-turn chatbot application where the assistant is an agent that has access to tools. An assistant workflow can involves possibly multiple tool selections steps, tool calls steps, and finally a reply to the user. I want a metric that assesses whether each assistant''s workflow was thoughtfully planned and ended up helping answer the queries.

            '
        value_field_name:
          type: string
          title: Value Field Name
          default: ai_turn_is_successful
        explanation_field_name:
          type: string
          title: Explanation Field Name
          description: Field name to look for in the chainpoll response, for the explanation.
          default: explanation
        template:
          type: string
          title: Template
          default: 'Chatbot history:

            ```

            {query}

            ```


            AI''s turn:

            ```

            {response}

            ```'
        metric_few_shot_examples:
          items:
            $ref: '#/components/schemas/FewShotExample'
          type: array
          title: Metric Few Shot Examples
          default:
          - generation_prompt_and_response: 'Chatbot history:

              ```

              system: You are a helpful assistant, with no access to external functions.

              user: Can you analyze the given C# code and identify any errors present? Please mention the line numbers where the errors occur, describe their nature, suggest the necessary changes to rectify them and also mention any security vulnerabilities present in the code.

              ```


              AI''s turn:

              ```

              assistant: Sure, please provide the C# code so I can analyze it for errors and security vulnerabilities. <|endoftext|>

              ```'
            evaluating_response: '{"user_last_input": "Can you analyze the given C# code and identify any errors present? Please mention the line numbers where the errors occur, describe their nature, suggest the necessary changes to rectify them and also mention any security vulnerabilities present in the code.", "ai_final_response": "Sure, please provide the C# code so I can analyze it for errors and security vulnerabilities. <|endoftext|>", "asks_and_answers": [{"user_ask": "Can you analyze the given C# code and identify any errors present? Please mention the line numbers where the errors occur, describe their nature, suggest the necessary changes to rectify them and also mention any security vulnerabilities present in the code.", "answer_or_resolution": "Sure, please provide the C# code so I can analyze it for errors and security vulnerabilities.", "tools_input_output": [], "properties": {"factually_wrong": false, "addresses_different_ask": false, "not_adherent_to_tools_output": false, "mentions_inability": false, "mentions_unsuccessful_attempt": false}, "boolean_properties": [false, false, false, false, false], "answer_successful": true}], "ai_turn_is_successful": true, "explanation": "The answer was successful because the AI correctly requested further information (the C# code) from the user in order to fulfill the user''s request. No errors or issues were present in the response."}'
          - generation_prompt_and_response: 'Chatbot history:

              ```

              user: Could you please provide me with the list of available languages for text to speech? I want to convert a text into speech in different languages and need to know which languages are supported by the API.

              Begin!


              ```


              AI''s turn:

              ```

              assistant: I am making this API call to get the list of available languages for text to speech, as the user wants to convert text into speech in different languages. By calling the ''get_language_for_text_to_speech'' function with no arguments, I can retrieve the supported languages from the API. This will provide me with the necessary information to assist the user in their query.

              assistant: {''arguments'': ''{}'', ''name'': ''get_language_for_text_to_speech''}

              function: {"error": "", "response": "{\"af\":\"Afrikaans\",\"sq\":\"Albanian\",\"ar\":\"Arabic\",\"hy\":\"Armenian\",\"ca\":\"Catalan\",\"zh\":\"Chinese\",\"zh-cn\":\"Chinese (Mandarin/China)\",\"zh-tw\":\"Chinese (Mandarin/Taiwan)\",\"zh-yue\":\"Chinese (Cantonese)\",\"hr\":\"Croatian\",\"cs\":\"Czech\",\"da\":\"Danish\",\"nl\":\"Dutch\",\"en\":\"English\",\"en-au\":\"English (Australia)\",\"en-uk\":\"English (United Kingdom)\",\"en-us\":\"English (United States)\",\"eo\":\"Esperanto\",\"fi\":\"Finnish\",\"fr\":\"French\",\"de\":\"German\",\"el\":\"Greek\",\"ht\":\"Haitian Creole\",\"hi\":\"Hindi\",\"hu\":\"Hungarian\",\"is\":\"Icelandic\",\"id\":\"Indonesian\",\"it\":\"Italian\",\"ja\":\"Japanese\",\"ko\":\"Korean\",\"la\":\"Latin\",\"lv\":\"Latvian\",\"mk\":\"Macedonian\",\"no\":\"Norwegian\",\"pl\":\"Polish\",\"pt\":\"Portuguese\",\"pt-br\":\"Portuguese (Brazil)\",\"ro\":\"Romanian\",\"ru\":\"Russian\",\"sr\":\"Serbian\",\"sk\":\"Slovak\",\"es\":\"Spanish\",\"es-es\":\"Spanish (Spain)\",\"es-us\":\"Spanish (United ...

              assistant: The available languages for text to speech are Afrikaans, Albanian, Arabic, Armenian, Catalan, Chinese, Croatian, Czech, Danish, Dutch, English, Esperanto, Finnish, French, German, Greek, Haitian Creole, Hindi, Hungarian, Icelandic, Indonesian, Italian, Japanese, Korean, Latin, Latvian, Macedonian, Norwegian, Polish, Portuguese, Romanian, Russian, Serbian, Slovak, Spanish, Swedish, Turkish, and Vietnamese.

              ```'
            evaluating_response: '{"user_last_input": "Could you please provide me with the list of available languages for text to speech? I want to convert a text into speech in different languages and need to know which languages are supported by the API.\nBegin!", "ai_final_response": "The available languages for text to speech are Afrikaans, Albanian, Arabic, Armenian, Catalan, Chinese, Croatian, Czech, Danish, Dutch, English, Esperanto, Finnish, French, German, Greek, Haitian Creole, Hindi, Hungarian, Icelandic, Indonesian, Italian, Japanese, Korean, Latin, Latvian, Macedonian, Norwegian, Polish, Portuguese, Romanian, Russian, Serbian, Slovak, Spanish, Swedish, Turkish, and Vietnamese.", "asks_and_answers": [{"user_ask": "Could you please provide me with the list of available languages for text to speech?", "answer_or_resolution": "The available languages for text to speech are Afrikaans, Albanian, Arabic, Armenian, Catalan, Chinese, Croatian, Czech, Danish, Dutch, English, Esperanto, Finnish, French, German, Greek, Haitian Creole, Hindi, Hungarian, Icelandic, Indonesian, Italian, Japanese, Korean, Latin, Latvian, Macedonian, Norwegian, Polish, Portuguese, Romanian, Russian, Serbian, Slovak, Spanish, Swedish, Turkish, and Vietnamese.", "tools_input_output": ["{''arguments'': ''{}'', ''name'': ''get_language_for_text_to_speech''}", "{\"error\": \"\", \"response\": \"{\\\"af\\\":\\\"Afrikaans\\\",\\\"sq\\\":\\\"Albanian\\\",\\\"ar\\\":\\\"Arabic\\\",\\\"hy\\\":\\\"Armenian\\\",\\\"ca\\\":\\\"Catalan\\\",\\\"zh\\\":\\\"Chinese\\\",\\\"zh-cn\\\":\\\"Chinese (Mandarin/China)\\\",\\\"zh-tw\\\":\\\"Chinese (Mandarin/Taiwan)\\\",\\\"zh-yue\\\":\\\"Chinese (Cantonese)\\\",\\\"hr\\\":\\\"Croatian\\\",\\\"cs\\\":\\\"Czech\\\",\\\"da\\\":\\\"Danish\\\",\\\"nl\\\":\\\"Dutch\\\",\\\"en\\\":\\\"English\\\",\\\"en-au\\\":\\\"English (Australia)\\\",\\\"en-uk\\\":\\\"English (United Kingdom)\\\",\\\"en-us\\\":\\\"English (United States)\\\",\\\"eo\\\":\\\"Esperanto\\\",\\\"fi\\\":\\\"Finnish\\\",\\\"fr\\\":\\\"French\\\",\\\"de\\\":\\\"German\\\",\\\"el\\\":\\\"Greek\\\",\\\"ht\\\":\\\"Haitian Creole\\\",\\\"hi\\\":\\\"Hindi\\\",\\\"hu\\\":\\\"Hungarian\\\",\\\"is\\\":\\\"Icelandic\\\",\\\"id\\\":\\\"Indonesian\\\",\\\"it\\\":\\\"Italian\\\",\\\"ja\\\":\\\"Japanese\\\",\\\"ko\\\":\\\"Korean\\\",\\\"la\\\":\\\"Latin\\\",\\\"lv\\\":\\\"Latvian\\\",\\\"mk\\\":\\\"Macedonian\\\",\\\"no\\\":\\\"Norwegian\\\",\\\"pl\\\":\\\"Polish\\\",\\\"pt\\\":\\\"Portuguese\\\",\\\"pt-br\\\":\\\"Portuguese (Brazil)\\\",\\\"ro\\\":\\\"Romanian\\\",\\\"ru\\\":\\\"Russian\\\",\\\"sr\\\":\\\"Serbian\\\",\\\"sk\\\":\\\"Slovak\\\",\\\"es\\\":\\\"Spanish\\\",\\\"es-es\\\":\\\"Spanish (Spain)\\\",\\\"es-us\\\":\\\"Spanish (United..."], "properties": {"factually_wrong": false, "addresses_different_ask": false, "not_adherent_to_tools_output": true, "mentions_inability": false, "mentions_unsuccessful_attempt": false}, "boolean_properties": [false, false, true, false, false], "answer_successful": false}], "ai_turn_is_successful": false, "explanation": "The provided answer was not successful because it was not adherent to the tool''s output. Some languages and dialects, such as ''Chinese (Mandarin/China)'', ''Chinese (Mandarin/Taiwan)'', ''Chinese (Cantonese)'', ''English (Australia)'', ''English (United Kingdom)'', ''English (United States)'', ''Portuguese (Brazil)'', ''Spanish (Spain)'', and ''Spanish (United States)'' specified in the API response were omitted in the final response to the user."}'
        response_schema:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Response Schema
          description: Response schema for the output
      type: object
      title: AgenticWorkflowSuccessTemplate
      description: 'Template for the agentic workflow success metric,

        containing all the info necessary to send the agentic workflow success prompt.'
    ChunkAttributionUtilizationTemplate:
      properties:
        metric_system_prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: Metric System Prompt
          description: System prompt for the metric.
        metric_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Metric Description
          description: Description of what the metric should do.
        value_field_name:
          type: string
          title: Value Field Name
          description: Field name to look for in the chainpoll response, for the rating.
          default: rating
        explanation_field_name:
          type: string
          title: Explanation Field Name
          description: Field name to look for in the chainpoll response, for the explanation.
          default: explanation
        template:
          type: string
          title: Template
          default: "I asked someone to answer a question based on one or more documents. You will tell me which of the documents their answer was sourced from, and which specific sentences from the documents they used.\n\nHere are the documents, with each document split up into sentences. Each sentence is given a unique key, such as '0a' for the first sentence of Document 0. You'll use these keys in your response to identify which sentences were used.\n\n```\n{chunks}\n```\n\nThe question was:\n\n```\n{question}\n```\n\nTheir response was:\n\n```\n{response}\n```\n\nRespond with a JSON object matching this schema:\n\n```\n{{\n  \"source_sentence_keys\": [string]\n}}\n```\n\nThe source_sentence_keys field is a list identifying the sentences in the documents that were used to construct the answer. Each entry MUST be a sentence key, such as '0a', that appears in the document list above. Include the key of every sentence that was used to construct the answer, even if it was not used in its entirety. Omit keys for sentences that were not used, and could have been removed from the document without affecting the answer.\n\nYou must respond with a valid JSON string."
        metric_few_shot_examples:
          items:
            $ref: '#/components/schemas/FewShotExample'
          type: array
          title: Metric Few Shot Examples
          description: Few-shot examples for the metric.
        response_schema:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Response Schema
          description: Response schema for the output
      type: object
      title: ChunkAttributionUtilizationTemplate
    NodeNameFilter:
      properties:
        name:
          type: string
          const: node_name
          title: Name
          default: node_name
        operator:
          type: string
          enum:
          - eq
          - ne
          - contains
          - one_of
          - not_in
          title: Operator
        value:
          anyOf:
          - type: string
          - items:
              type: string
            type: array
          title: Value
        case_sensitive:
          type: boolean
          title: Case Sensitive
          default: true
      type: object
      required:
      - operator
      - value
      title: NodeNameFilter
      description: Filters on node names in scorer jobs.
    CustomizedToolErrorRateGPTScorer:
      properties:
        scorer_name:
          type: string
          const: _customized_tool_error_rate
          title: Scorer Name
          default: _customized_tool_error_rate
        model_alias:
          type: string
          title: Model Alias
          default: gpt-4.1-mini
        num_judges:
          type: integer
          title: Num Judges
          default: 1
        name:
          type: string
          const: tool_error_rate
          title: Name
          default: tool_error_rate
        scores:
          anyOf:
          - items: {}
            type: array
          - type: 'null'
          title: Scores
        indices:
          anyOf:
          - items:
              type: integer
            type: array
          - type: 'null'
          title: Indices
        aggregates:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Aggregates
        aggregate_keys:
          items:
            type: string
          type: array
          title: Aggregate Keys
          default:
          - count_tool_error_rate
        extra:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra
        sub_scorers:
          items:
            $ref: '#/components/schemas/promptgalileo__schemas__scorer_name__ScorerName'
          type: array
          title: Sub Scorers
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
        metric_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Metric Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        chainpoll_template:
          $ref: '#/components/schemas/ToolErrorRateTemplate'
          default:
            metric_system_prompt: "One or more functions have been called, and you will receive their output. The output format could be a string containing the tool's result, it could be in JSON or XML format with additional metadata and information, or it could be a list of the outputs in any such format.\n\nYour task is to determine whether at least one function call didn't execute correctly and errored out. If at least one call failed, then you should consider the entire call as a failure. \nYou should NOT evaluate any other aspect of the tool call. In particular you should not evaluate whether the output is well formatted, coherent or contains spelling mistakes.\n\nIf you conclude that the call failed, provide an explanation as to why. You may summarize any error message you encounter. If the call was successful, no explanation is needed.\n\nRespond in the following JSON format:\n\n```\n{\n   \"function_errored_out\": boolean,\n   \"explanation\": string\n}\n```\n\n- **\"function_errored_out\"**: Use `false` if all tool calls were successful, and `true` if at least one errored out.\n\n- **\"explanation\"**: If a tool call failed, provide your step-by-step reasoning to determine why it might have failed. If all tool calls were succesful, leave this blank.\n\nYou must respond with a valid JSON object; don't forget to escape special characters."
            metric_description: I have a multi-turn chatbot application where the assistant is an agent that has access to tools. I want a metric to evaluate whether a tool invocation was successful or if it resulted in an error.
            value_field_name: function_errored_out
            explanation_field_name: explanation
            template: 'Tools output:

              ```

              {response}

              ```'
            metric_few_shot_examples:
            - evaluating_response: "{\n  \"function_errored_out\": false,\n  \"explanation\": \"\"\n}"
              generation_prompt_and_response: 'Tools output:

                ```

                0

                ```'
            - evaluating_response: "{\n  \"function_errored_out\": true,\n  \"explanation\": \"The call failed due to an InvalidFunctionArgumentException.\",\n}"
              generation_prompt_and_response: "Tools output:\n```\n{\n  \"error\": \"InvalidFunctionArgumentException\",\n  \"status_code\": 400\n}\n```"
        default_model_alias:
          anyOf:
          - type: string
          - type: 'null'
          title: Default Model Alias
        ground_truth:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Ground Truth
        regex_field:
          type: string
          title: Regex Field
          default: ''
        registered_scorer_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Registered Scorer Id
        generated_scorer_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Generated Scorer Id
        scorer_version_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Scorer Version Id
        user_code:
          anyOf:
          - type: string
          - type: 'null'
          title: User Code
        can_copy_to_llm:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Can Copy To Llm
        scoreable_node_types:
          anyOf:
          - items:
              $ref: '#/components/schemas/NodeType'
            type: array
          - type: 'null'
          title: Scoreable Node Types
        cot_enabled:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Cot Enabled
        output_type:
          anyOf:
          - $ref: '#/components/schemas/OutputTypeEnum'
          - type: 'null'
        input_type:
          anyOf:
          - $ref: '#/components/schemas/InputTypeEnum'
          - type: 'null'
        multimodal_capabilities:
          anyOf:
          - items:
              $ref: '#/components/schemas/MultimodalCapability'
            type: array
          - type: 'null'
          title: Multimodal Capabilities
        requires_tools_in_llm_span:
          type: boolean
          title: Requires Tools In Llm Span
          default: false
        required_scorers:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Required Scorers
        required_metric_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Required Metric Ids
        roll_up_strategy:
          anyOf:
          - $ref: '#/components/schemas/RollUpStrategy'
          - type: 'null'
        roll_up_methods:
          anyOf:
          - items:
              $ref: '#/components/schemas/NumericRollUpMethod'
            type: array
          - items:
              $ref: '#/components/schemas/CategoricalRollUpMethod'
            type: array
          - type: 'null'
          title: Roll Up Methods
        prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: Prompt
        lora_task_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Lora Task Id
        lora_weights_path:
          anyOf:
          - type: string
          - type: 'null'
          title: Lora Weights Path
        luna_input_type:
          anyOf:
          - $ref: '#/components/schemas/LunaInputTypeEnum'
          - type: 'null'
        luna_output_type:
          anyOf:
          - $ref: '#/components/schemas/LunaOutputTypeEnum'
          - type: 'null'
        class_name_to_vocab_ix:
          anyOf:
          - additionalProperties:
              items:
                type: integer
              type: array
              uniqueItems: true
            type: object
          - additionalProperties:
              type: integer
            type: object
          - type: 'null'
          title: Class Name To Vocab Ix
        scorer_path_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Scorer Path Name
      type: object
      title: CustomizedToolErrorRateGPTScorer
    InputMap:
      properties:
        prompt:
          type: string
          title: Prompt
        prefix:
          type: string
          title: Prefix
          default: ''
        suffix:
          type: string
          title: Suffix
          default: ''
      type: object
      required:
      - prompt
      title: InputMap
    CategoricalRollUpMethod:
      type: string
      enum:
      - category_count
      title: CategoricalRollUpMethod
      description: Roll up methods for aggregating categorical metrics up the session/trace/span hierarchy.
    CreateJobResponse:
      properties:
        resource_limits:
          anyOf:
          - $ref: '#/components/schemas/TaskResourceLimits'
          - type: 'null'
        project_id:
          type: string
          format: uuid4
          title: Project Id
        run_id:
          type: string
          format: uuid4
          title: Run Id
        job_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Job Id
        job_name:
          type: string
          title: Job Name
          default: log_stream_scorer
        should_retry:
          type: boolean
          title: Should Retry
          default: true
        user_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: User Id
        task_type:
          anyOf:
          - $ref: '#/components/schemas/TaskType'
          - type: 'null'
        labels:
          anyOf:
          - items:
              items:
                type: string
              type: array
            type: array
          - items:
              type: string
            type: array
          title: Labels
        ner_labels:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Ner Labels
        tasks:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Tasks
        non_inference_logged:
          type: boolean
          title: Non Inference Logged
          default: false
        migration_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Migration Name
        xray:
          type: boolean
          title: Xray
          default: true
        process_existing_inference_runs:
          type: boolean
          title: Process Existing Inference Runs
          default: false
        feature_names:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Feature Names
        prompt_dataset_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Prompt Dataset Id
        dataset_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Dataset Id
        dataset_version_index:
          anyOf:
          - type: integer
          - type: 'null'
          title: Dataset Version Index
        prompt_template_version_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Prompt Template Version Id
        batch_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Batch Id
        protect_trace_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Protect Trace Id
        protect_scorer_payload:
          anyOf:
          - type: string
            contentMediaType: application/octet-stream
          - type: 'null'
          title: Protect Scorer Payload
        prompt_settings:
          anyOf:
          - $ref: '#/components/schemas/PromptRunSettings-Output'
          - type: 'null'
        scorers:
          anyOf:
          - items:
              $ref: '#/components/schemas/ScorerConfig'
            type: array
          - items:
              oneOf:
              - $ref: '#/components/schemas/AgenticWorkflowSuccessScorer'
              - $ref: '#/components/schemas/AgenticSessionSuccessScorer'
              - $ref: '#/components/schemas/ChunkAttributionUtilizationScorer'
              - $ref: '#/components/schemas/CompletenessScorer'
              - $ref: '#/components/schemas/ContextAdherenceScorer'
              - $ref: '#/components/schemas/ContextRelevanceScorer'
              - $ref: '#/components/schemas/CorrectnessScorer'
              - $ref: '#/components/schemas/GroundTruthAdherenceScorer'
              - $ref: '#/components/schemas/InputPIIScorer'
              - $ref: '#/components/schemas/InputSexistScorer'
              - $ref: '#/components/schemas/InputToneScorer'
              - $ref: '#/components/schemas/InputToxicityScorer'
              - $ref: '#/components/schemas/InstructionAdherenceScorer'
              - $ref: '#/components/schemas/OutputPIIScorer'
              - $ref: '#/components/schemas/OutputSexistScorer'
              - $ref: '#/components/schemas/OutputToneScorer'
              - $ref: '#/components/schemas/OutputToxicityScorer'
              - $ref: '#/components/schemas/PromptInjectionScorer'
              - $ref: '#/components/schemas/ToolErrorRateScorer'
              - $ref: '#/components/schemas/ToolSelectionQualityScorer'
              discriminator:
                propertyName: name
                mapping:
                  agentic_session_success: '#/components/schemas/AgenticSessionSuccessScorer'
                  agentic_workflow_success: '#/components/schemas/AgenticWorkflowSuccessScorer'
                  chunk_attribution_utilization: '#/components/schemas/ChunkAttributionUtilizationScorer'
                  completeness: '#/components/schemas/CompletenessScorer'
                  context_adherence: '#/components/schemas/ContextAdherenceScorer'
                  context_relevance: '#/components/schemas/ContextRelevanceScorer'
                  correctness: '#/components/schemas/CorrectnessScorer'
                  ground_truth_adherence: '#/components/schemas/GroundTruthAdherenceScorer'
                  input_pii: '#/components/schemas/InputPIIScorer'
                  input_sexist: '#/components/schemas/InputSexistScorer'
                  input_tone: '#/components/schemas/InputToneScorer'
                  input_toxicity: '#/components/schemas/InputToxicityScorer'
                  instruction_adherence: '#/components/schemas/InstructionAdherenceScorer'
                  output_pii: '#/components/schemas/OutputPIIScorer'
                  output_sexist: '#/components/schemas/OutputSexistScorer'
                  output_tone: '#/components/schemas/OutputToneScorer'
                  output_toxicity: '#/components/schemas/OutputToxicityScorer'
                  prompt_injection: '#/components/schemas/PromptInjectionScorer'
                  tool_error_rate: '#/components/schemas/ToolErrorRateScorer'
                  tool_selection_quality: '#/components/schemas/ToolSelectionQualityScorer'
            type: array
          - type: 'null'
          title: Scorers
          description: For G2.0 we send all scorers as ScorerConfig, for G1.0 we send preset scorers  as GalileoScorer
        prompt_registered_scorers_configuration:
          anyOf:
          - items:
              $ref: '#/components/schemas/RegisteredScorer'
            type: array
          - type: 'null'
          title: Prompt Registered Scorers Configuration
        prompt_generated_scorers_configuration:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Prompt Generated Scorers Configuration
        prompt_finetuned_scorers_configuration:
          anyOf:
          - items:
              $ref: '#/components/schemas/FineTunedScorer'
            type: array
          - type: 'null'
          title: Prompt Finetuned Scorers Configuration
        prompt_scorers_configuration:
          anyOf:
          - $ref: '#/components/schemas/ScorersConfiguration'
          - type: 'null'
        prompt_customized_scorers_configuration:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/CustomizedAgenticSessionSuccessGPTScorer'
              - $ref: '#/components/schemas/CustomizedAgenticWorkflowSuccessGPTScorer'
              - $ref: '#/components/schemas/CustomizedChunkAttributionUtilizationGPTScorer'
              - $ref: '#/components/schemas/CustomizedCompletenessGPTScorer'
              - $ref: '#/components/schemas/CustomizedFactualityGPTScorer'
              - $ref: '#/components/schemas/CustomizedGroundednessGPTScorer'
              - $ref: '#/components/schemas/CustomizedInstructionAdherenceGPTScorer'
              - $ref: '#/components/schemas/CustomizedGroundTruthAdherenceGPTScorer'
              - $ref: '#/components/schemas/CustomizedPromptInjectionGPTScorer'
              - $ref: '#/components/schemas/CustomizedSexistGPTScorer'
              - $ref: '#/components/schemas/CustomizedInputSexistGPTScorer'
              - $ref: '#/components/schemas/CustomizedToolSelectionQualityGPTScorer'
              - $ref: '#/components/schemas/CustomizedToolErrorRateGPTScorer'
              - $ref: '#/components/schemas/CustomizedToxicityGPTScorer'
              - $ref: '#/components/schemas/CustomizedInputToxicityGPTScorer'
              discriminator:
                propertyName: scorer_name
                mapping:
                  _customized_agentic_session_success: '#/components/schemas/CustomizedAgenticSessionSuccessGPTScorer'
                  _customized_agentic_workflow_success: '#/components/schemas/CustomizedAgenticWorkflowSuccessGPTScorer'
                  _customized_chunk_attribution_utilization_gpt: '#/components/schemas/CustomizedChunkAttributionUtilizationGPTScorer'
                  _customized_completeness_gpt: '#/components/schemas/CustomizedCompletenessGPTScorer'
                  _customized_factuality: '#/components/schemas/CustomizedFactualityGPTScorer'
                  _customized_ground_truth_adherence: '#/components/schemas/CustomizedGroundTruthAdherenceGPTScorer'
                  _customized_groundedness: '#/components/schemas/CustomizedGroundednessGPTScorer'
                  _customized_input_sexist_gpt: '#/components/schemas/CustomizedInputSexistGPTScorer'
                  _customized_input_toxicity_gpt: '#/components/schemas/CustomizedInputToxicityGPTScorer'
                  _customized_instruction_adherence: '#/components/schemas/CustomizedInstructionAdherenceGPTScorer'
                  _customized_prompt_injection_gpt: '#/components/schemas/CustomizedPromptInjectionGPTScorer'
                  _customized_sexist_gpt: '#/components/schemas/CustomizedSexistGPTScorer'
                  _customized_tool_error_rate: '#/components/schemas/CustomizedToolErrorRateGPTScorer'
                  _customized_tool_selection_quality: '#/components/schemas/CustomizedToolSelectionQualityGPTScorer'
                  _customized_toxicity_gpt: '#/components/schemas/CustomizedToxicityGPTScorer'
            type: array
          - type: 'null'
          title: Prompt Customized Scorers Configuration
        prompt_scorer_settings:
          anyOf:
          - $ref: '#/components/schemas/BaseScorer'
          - type: 'null'
        scorer_config:
          anyOf:
          - $ref: '#/components/schemas/ScorerConfig'
          - type: 'null'
        sub_scorers:
          items:
            $ref: '#/components/schemas/promptgalileo__schemas__scorer_name__ScorerName'
          type: array
          title: Sub Scorers
        luna_model:
          anyOf:
          - type: string
          - type: 'null'
          title: Luna Model
        segment_filters:
          anyOf:
          - items:
              $ref: '#/components/schemas/SegmentFilter'
            type: array
          - type: 'null'
          title: Segment Filters
        is_session:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Session
        validation_config:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Validation Config
        upload_data_in_separate_task:
          type: boolean
          title: Upload Data In Separate Task
          default: true
        log_metric_computing_records:
          type: boolean
          title: Log Metric Computing Records
          default: true
        stream_metrics:
          type: boolean
          title: Stream Metrics
          default: false
        multijudge_average_boolean_metrics:
          type: boolean
          title: Multijudge Average Boolean Metrics
          default: false
        store_metric_ids:
          type: boolean
          title: Store Metric Ids
          default: false
        trace_ids:
          items:
            type: string
            format: uuid4
          type: array
          maxItems: 64
          title: Trace Ids
        message:
          type: string
          title: Message
        link:
          type: string
          title: Link
      type: object
      required:
      - project_id
      - run_id
      - message
      - link
      title: CreateJobResponse
    BaseFinetunedScorerDB:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        name:
          type: string
          title: Name
        lora_task_id:
          type: integer
          title: Lora Task Id
        lora_weights_path:
          anyOf:
          - type: string
          - type: 'null'
          title: Lora Weights Path
        prompt:
          type: string
          title: Prompt
        luna_input_type:
          anyOf:
          - $ref: '#/components/schemas/LunaInputTypeEnum'
          - type: 'null'
        luna_output_type:
          anyOf:
          - $ref: '#/components/schemas/LunaOutputTypeEnum'
          - type: 'null'
        class_name_to_vocab_ix:
          anyOf:
          - additionalProperties:
              items:
                type: integer
              type: array
              uniqueItems: true
            type: object
          - additionalProperties:
              type: integer
            type: object
          - type: 'null'
          title: Class Name To Vocab Ix
        executor:
          anyOf:
          - $ref: '#/components/schemas/galileo_core__schemas__shared__scorers__scorer_name__ScorerName'
          - type: 'null'
          description: Executor pipeline. Defaults to finetuned scorer pipeline but can run custom galileo score pipelines.
      type: object
      required:
      - id
      - name
      - lora_task_id
      - prompt
      title: BaseFinetunedScorerDB
    TaskType:
      type: integer
      enum:
      - 7
      - 9
      - 12
      - 13
      - 15
      - 16
      - 17
      - 18
      title: TaskType
      description: 'Valid task types for modeling.


        We store these as ints instead of strings because we will be looking this up in the database frequently.'
    CustomizedGroundTruthAdherenceGPTScorer:
      properties:
        scorer_name:
          type: string
          const: _customized_ground_truth_adherence
          title: Scorer Name
          default: _customized_ground_truth_adherence
        model_alias:
          type: string
          title: Model Alias
          default: gpt-4.1-mini
        num_judges:
          type: integer
          title: Num Judges
          default: 3
        name:
          type: string
          const: ground_truth_adherence
          title: Name
          default: ground_truth_adherence
        scores:
          anyOf:
          - items: {}
            type: array
          - type: 'null'
          title: Scores
        indices:
          anyOf:
          - items:
              type: integer
            type: array
          - type: 'null'
          title: Indices
        aggregates:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Aggregates
        aggregate_keys:
          items:
            type: string
          type: array
          title: Aggregate Keys
          default:
          - average_ground_truth_adherence
        extra:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra
        sub_scorers:
          items:
            $ref: '#/components/schemas/promptgalileo__schemas__scorer_name__ScorerName'
          type: array
          title: Sub Scorers
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
        metric_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Metric Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        chainpoll_template:
          $ref: '#/components/schemas/GroundTruthAdherenceTemplate'
          default:
            metric_system_prompt: "I will give you two different texts, called the \"ground truth\" and the \"response.\"\n\nRead both texts, then tell me whether they are \"equivalent,\" in the sense that they basically mean the same thing.\n\nKeep the following guidelines in mind.\n\n- Two texts can be equivalent if they use different phrasing, as long as the phrasing doesn't affect meaning.\n- Two texts can be equivalent if there are _slight_ differences in meaning that wouldn't affect the conclusions that a reasonable reader would draw upon reading them.\n- Imagine that you are grading a free-response exam.  The ground truth given in the answer key for an exam question, and the response is a student's answer to the same question. If you would give the student full marks for this question, that means the two texts are equivalent. If you wouldn't, that means the two texts are not equivalent.\n\nRespond in the following JSON format:\n\n```\n{{\n    \"explanation\": string,\n    \"equivalent\": boolean\n}}\n```\n\n\"explanation\": A step-by-step breakdown of the similarities and differences between the text. For each difference you note (if any), consider why the difference might or might not make the texts non-equivalent, note down your reasoning clearly and explicitly, and ultimately draw a conclusion about whether that difference makes the text non-equivalent.\n\n\"equivalent\": `true` if the texts are equivalent in the sense given above, `false` if they are non-equivalent.\n\nYou must respond with valid JSON."
            metric_description: This metric computes whether a response from a large language model matches a provided ground truth text.
            value_field_name: equivalent
            explanation_field_name: explanation
            template: 'Ground truth:


              ```

              {ground_truth}

              ```


              Response:


              ```

              {response}

              ```'
            metric_few_shot_examples: []
        default_model_alias:
          anyOf:
          - type: string
          - type: 'null'
          title: Default Model Alias
        ground_truth:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Ground Truth
        regex_field:
          type: string
          title: Regex Field
          default: ''
        registered_scorer_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Registered Scorer Id
        generated_scorer_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Generated Scorer Id
        scorer_version_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Scorer Version Id
        user_code:
          anyOf:
          - type: string
          - type: 'null'
          title: User Code
        can_copy_to_llm:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Can Copy To Llm
        scoreable_node_types:
          anyOf:
          - items:
              $ref: '#/components/schemas/NodeType'
            type: array
          - type: 'null'
          title: Scoreable Node Types
        cot_enabled:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Cot Enabled
        output_type:
          anyOf:
          - $ref: '#/components/schemas/OutputTypeEnum'
          - type: 'null'
        input_type:
          anyOf:
          - $ref: '#/components/schemas/InputTypeEnum'
          - type: 'null'
        multimodal_capabilities:
          anyOf:
          - items:
              $ref: '#/components/schemas/MultimodalCapability'
            type: array
          - type: 'null'
          title: Multimodal Capabilities
        requires_tools_in_llm_span:
          type: boolean
          title: Requires Tools In Llm Span
          default: false
        required_scorers:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Required Scorers
        required_metric_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Required Metric Ids
        roll_up_strategy:
          anyOf:
          - $ref: '#/components/schemas/RollUpStrategy'
          - type: 'null'
        roll_up_methods:
          anyOf:
          - items:
              $ref: '#/components/schemas/NumericRollUpMethod'
            type: array
          - items:
              $ref: '#/components/schemas/CategoricalRollUpMethod'
            type: array
          - type: 'null'
          title: Roll Up Methods
        prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: Prompt
        lora_task_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Lora Task Id
        lora_weights_path:
          anyOf:
          - type: string
          - type: 'null'
          title: Lora Weights Path
        luna_input_type:
          anyOf:
          - $ref: '#/components/schemas/LunaInputTypeEnum'
          - type: 'null'
        luna_output_type:
          anyOf:
          - $ref: '#/components/schemas/LunaOutputTypeEnum'
          - type: 'null'
        class_name_to_vocab_ix:
          anyOf:
          - additionalProperties:
              items:
                type: integer
              type: array
              uniqueItems: true
            type: object
          - additionalProperties:
              type: integer
            type: object
          - type: 'null'
          title: Class Name To Vocab Ix
        scorer_path_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Scorer Path Name
      type: object
      title: CustomizedGroundTruthAdherenceGPTScorer
    OutputSexistScorer:
      properties:
        name:
          type: string
          const: output_sexist
          title: Name
          default: output_sexist
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        type:
          type: string
          enum:
          - luna
          - plus
          title: Type
          default: luna
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
          description: Alias of the model to use for the scorer.
        num_judges:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 1.0
          - type: 'null'
          title: Num Judges
          description: Number of judges for the scorer.
      type: object
      title: OutputSexistScorer
    CustomizedToolSelectionQualityGPTScorer:
      properties:
        scorer_name:
          type: string
          const: _customized_tool_selection_quality
          title: Scorer Name
          default: _customized_tool_selection_quality
        model_alias:
          type: string
          title: Model Alias
          default: gpt-4.1-mini
        num_judges:
          type: integer
          title: Num Judges
          default: 3
        name:
          type: string
          const: tool_selection_quality
          title: Name
          default: tool_selection_quality
        scores:
          anyOf:
          - items: {}
            type: array
          - type: 'null'
          title: Scores
        indices:
          anyOf:
          - items:
              type: integer
            type: array
          - type: 'null'
          title: Indices
        aggregates:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Aggregates
        aggregate_keys:
          items:
            type: string
          type: array
          title: Aggregate Keys
          default:
          - average_tool_selection_quality
        extra:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra
        sub_scorers:
          items:
            $ref: '#/components/schemas/promptgalileo__schemas__scorer_name__ScorerName'
          type: array
          title: Sub Scorers
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
        metric_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Metric Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        chainpoll_template:
          $ref: '#/components/schemas/ToolSelectionQualityTemplate'
          default:
            metric_system_prompt: "You will receive the chat history from a chatbot application. At the end of the  conversation, it will be the bot’s turn to act. The bot has several options: it can reflect and plan its next steps, choose to call tools, or respond directly to the user. If the bot opts to use tools, the tools execute separately, and the bot will subsequently review the output from those tools. Ultimately, the bot should reply to the user, choosing the relevant parts of the tools' output.\n\nYour task is to evaluate the bot's decision-making process and ensure it follows these guidelines:\n- If all user queries have already been answered and can be found in the chat history, the bot should not call tools.\n- If no suitable tools are available to assist with user queries, the bot should not call tools.\n- If the chat history contains all the necessary information to directly answer all user queries, the bot should not call tools.\n- If the bot decided to call tools, the tools and argument values selected must relate to at least part of one user query.\n- If the bot decided to call tools, all arguments marked as \"required\" in the tools' schema must be provided with values.\n\nRemember that there are many ways the bot's actions can comply with these rules. Your role is to determine whether the bot fundamentally violated any of these rules, not whether it chose the most optimal response.\n\nRespond in the following JSON format:\n```\n{\n    \"explanation\": string,\n    \"bot_answer_follows_rules\": boolean\n}\n```\n\n- **\"explanation\"**: Provide your step-by-step reasoning to determine whether the bot's reply follows the above-mentioned guidelines.\n\n- **\"bot_answer_follows_rules\"**: Respond `true` if you believe the bot followed the above guidelines, respond `false` otherwise.\n\nYou must respond with a valid JSON object; don't forget to escape special characters."
            metric_description: I have a multi-turn chatbot application where the assistant is an agent that has access to tools. I want a metric that assesses whether the assistant made the correct decision in choosing to either use tools or to directly respond, and in cases where it uses tools, whether it selected the correct tools with the correct arguments.
            value_field_name: bot_answer_follows_rules
            explanation_field_name: explanation
            template: 'Chatbot history:

              ```

              {query}

              ```


              The bot''s available tools:

              ```

              {tools}

              ```


              The answer to evaluate:

              ```

              {response}

              ```'
            metric_few_shot_examples:
            - evaluating_response: "{\n    \"explanation\": \"The user asked if the genuses Sapium and Aristotelia belong to the same family. The bot decided to search for 'Sapium', which is associated with part of the user's query regarding the family of Sapium. The action aligns with the user's query, and all required arguments ('query') are provided, making the tool call valid. Furthermore, the information required to answer the user's question is not present in the chat history, justifying the bot's decision to call a tool.\",\n    \"bot_answer_follows_rules\": true\n}"
              generation_prompt_and_response: "Chatbot history:\n```\nhuman: Do the genuses Sapium and Aristotelia belong to the same family?\n```\n\nThe bot's available tools:\n```\n[{'name': 'Search',\n  'description': 'Search for the query',\n  'parameters': {'type': 'object',\n   'properties': {'query': {'type': 'string',\n     'description': 'the query to search'}},\n   'required': ['query']}},\n {'name': 'Lookup',\n  'description': 'Lookup the keyword',\n  'parameters': {'type': 'object',\n   'properties': {'keyword': {'type': 'string',\n     'description': 'the keyword to lookup'}},\n   'required': ['keyword']}}]\n```\n\nThe answer to evaluate:\n```\n{\"Thought\": \"I need to search Sapium and Aristotelia, find their families, then find if they are the same.\", \"Action\": {\"name\": \"Search\", \"arguments\": {\"query\": \"Sapium\"}}}\n```"
        default_model_alias:
          anyOf:
          - type: string
          - type: 'null'
          title: Default Model Alias
        ground_truth:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Ground Truth
        regex_field:
          type: string
          title: Regex Field
          default: ''
        registered_scorer_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Registered Scorer Id
        generated_scorer_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Generated Scorer Id
        scorer_version_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Scorer Version Id
        user_code:
          anyOf:
          - type: string
          - type: 'null'
          title: User Code
        can_copy_to_llm:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Can Copy To Llm
        scoreable_node_types:
          anyOf:
          - items:
              $ref: '#/components/schemas/NodeType'
            type: array
          - type: 'null'
          title: Scoreable Node Types
        cot_enabled:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Cot Enabled
        output_type:
          anyOf:
          - $ref: '#/components/schemas/OutputTypeEnum'
          - type: 'null'
        input_type:
          anyOf:
          - $ref: '#/components/schemas/InputTypeEnum'
          - type: 'null'
        multimodal_capabilities:
          anyOf:
          - items:
              $ref: '#/components/schemas/MultimodalCapability'
            type: array
          - type: 'null'
          title: Multimodal Capabilities
        requires_tools_in_llm_span:
          type: boolean
          title: Requires Tools In Llm Span
          default: false
        required_scorers:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Required Scorers
        required_metric_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Required Metric Ids
        roll_up_strategy:
          anyOf:
          - $ref: '#/components/schemas/RollUpStrategy'
          - type: 'null'
        roll_up_methods:
          anyOf:
          - items:
              $ref: '#/components/schemas/NumericRollUpMethod'
            type: array
          - items:
              $ref: '#/components/schemas/CategoricalRollUpMethod'
            type: array
          - type: 'null'
          title: Roll Up Methods
        prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: Prompt
        lora_task_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Lora Task Id
        lora_weights_path:
          anyOf:
          - type: string
          - type: 'null'
          title: Lora Weights Path
        luna_input_type:
          anyOf:
          - $ref: '#/components/schemas/LunaInputTypeEnum'
          - type: 'null'
        luna_output_type:
          anyOf:
          - $ref: '#/components/schemas/LunaOutputTypeEnum'
          - type: 'null'
        class_name_to_vocab_ix:
          anyOf:
          - additionalProperties:
              items:
                type: integer
              type: array
              uniqueItems: true
            type: object
          - additionalProperties:
              type: integer
            type: object
          - type: 'null'
          title: Class Name To Vocab Ix
        scorer_path_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Scorer Path Name
      type: object
      title: CustomizedToolSelectionQualityGPTScorer
    ContentModality:
      type: string
      enum:
      - text
      - document
      - image
      - audio
      - video
      title: ContentModality
      description: Classification of content modality
    AgenticWorkflowSuccessScorer:
      properties:
        name:
          type: string
          const: agentic_workflow_success
          title: Name
          default: agentic_workflow_success
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        type:
          type: string
          enum:
          - luna
          - plus
          title: Type
          default: plus
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
          description: Alias of the model to use for the scorer.
        num_judges:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 1.0
          - type: 'null'
          title: Num Judges
          description: Number of judges for the scorer.
      type: object
      title: AgenticWorkflowSuccessScorer
    CustomizedAgenticSessionSuccessGPTScorer:
      properties:
        scorer_name:
          type: string
          const: _customized_agentic_session_success
          title: Scorer Name
          default: _customized_agentic_session_success
        model_alias:
          type: string
          title: Model Alias
          default: gpt-4.1
        num_judges:
          type: integer
          title: Num Judges
          default: 3
        name:
          type: string
          const: agentic_session_success
          title: Name
          default: agentic_session_success
        scores:
          anyOf:
          - items: {}
            type: array
          - type: 'null'
          title: Scores
        indices:
          anyOf:
          - items:
              type: integer
            type: array
          - type: 'null'
          title: Indices
        aggregates:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Aggregates
        aggregate_keys:
          items:
            type: string
          type: array
          title: Aggregate Keys
          default:
          - average_agentic_session_success
        extra:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra
        sub_scorers:
          items:
            $ref: '#/components/schemas/promptgalileo__schemas__scorer_name__ScorerName'
          type: array
          title: Sub Scorers
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
        metric_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Metric Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        chainpoll_template:
          $ref: '#/components/schemas/AgenticSessionSuccessTemplate'
          default:
            metric_system_prompt: "You will receive the complete chat history from a chatbot application between a user and an assistant.\n\nIn the chat history, the user will ask questions, which are answered with words, or make requests that require calling tools and resolving actions. Sometimes these are given as orders; treat them as if they were questions or requests. Each assistant turn may involve several steps that combine internal reflections, planning steps, selecting tools, and calling tools, and should always end with the assistant replying back to the user.\n\nYou will analyze the entire chat history and will respond back in the following JSON format:\n```json\n{\n    \"all_user_asks\": list[string],\n    \"tasks\": list[dict],\n    \"ai_answered_all_asks\": boolean,\n    \"explanation\": string\n}\n```\nwhere I will now explain how to populate each field.\n\n# Populating: all_user_asks\n\nPopulate `all_user_asks` with a list containing every user ask from the chat history. Review the chat history and generate a list with one entry for each user question, request, order, follow-up, clarification, etc. Ensure that every user ask is a separate item, even if this requires splitting the text mid-sentence. Each item should include enough context to be understandable on its own. It is acceptable to have shared context between items and to incorporate parts of sentences as needed.\n\n# Populating: Tasks\n\nThis is the most complex field to populate. You will write a JSON array where each element is called a task and follows the schema:\n\n```json\n{\n    \"initial_user_ask\": string,\n    \"user_ask_refinements\": list[string],\n    \"final_user_ask\": string,\n    \"direct_answer\": string,\n    \"indirect_answer\": string,\n    \"tools_input_output\": list[string],\n    \"properties\" : {\n        \"coherent\": boolean,\n        \"factually_correct\": boolean,\n        \"comprehensively_answers_final_user_ask\": boolean,\n        \"does_not_contradict_tools_output\": boolean,\n        \"tools_output_summary_is_accurate\": boolean,\n    },\n    \"boolean_properties\": list[boolean],\n    \"answer_satisfies_properties\": boolean\n}\n```\n\nThe high-level goal is to list all tasks and their resolutions and to determine whether each task has been successfully accomplished.\n\n## Step 1: initial_user_ask, user_ask_refinements and final_user_ask\n\nFirst, identify the `initial_user_ask` that starts the task, as well as any `user_ask_refinements` related to the same task. To do this, first loop through the entries in `all_user_asks`. If an entry already appears in a previous task, ignore it; otherwise, consider it as the `initial_user_ask`. Next, examine the remaining entries in `all_user_asks` and fill `user_ask_refinements` with all those related to the `initial_user_ask`, meaning they either refine it or continue the same ask.\n\nFinally, create a coherent `final_user_ask` containing the most updated version of the ask by starting with the initial one and incorporating or replacing any parts with their refinements. This will be the ask that the assistant will attempt to answer.\n\n## Step 2: direct_answer and indirect_answer\n\nExtract every direct and indirect answer that responds to the `final_user_ask`.\n\nAn indirect answer is a part of the assistant's reponse that tries to respond to `final_user_ask` and satisfies any of the following:\n- it mentions limitations or the inability to complete the `final_user_ask`,\n- it references a failed attempt to complete the `final_user_ask`,\n- it suggests offering help with a different ask than the `final_user_ask`,\n- it requests further information or clarifications from the user.\nAdd any piece of the assistant's response looking like an indirect answer to `indirect_answer`.\n\nA direct answer is a part of an assistant's response that either:\n- directly responds to the `final_user_ask`,\n- confirms a successful resolution of the `final_user_ask`.\nIf there are multiple direct answers, simply concatenate them into a longer answer. If there are no direct answers satisfying the above conditions, leave the field `direct_answer` empty.\n\nNote that a piece of an answer cannot be both direct and indirect, you
[...]
