openapi: 3.1.0
info:
  title: Galileo API Server annotation prompts API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: prompts
paths:
  /prompts/models/all:
    get:
      tags:
      - prompts
      summary: Get All Models
      operationId: get_all_models_prompts_models_all_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: with_custom_models
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: With Custom Models
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ModelInfo'
                title: Response Get All Models Prompts Models All Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/version/luna:
    post:
      tags:
      - prompts
      summary: Create Luna Scorer Version
      operationId: create_luna_scorer_version_scorers__scorer_id__version_luna_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomLunaScorerVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/llm/validate:
    post:
      tags:
      - prompts
      summary: Manual Llm Validate
      operationId: manual_llm_validate_scorers_llm_validate_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedScorerValidationResponse'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /scorers/llm/validate/multipart:
    post:
      tags:
      - prompts
      summary: Manual Llm Validate Multipart
      operationId: manual_llm_validate_multipart_scorers_llm_validate_multipart_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_manual_llm_validate_multipart_scorers_llm_validate_multipart_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedScorerValidationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /scorers:
    post:
      tags:
      - prompts
      summary: Create
      operationId: create_scorers_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScorerRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /scorers/{scorer_id}:
    patch:
      tags:
      - prompts
      summary: Update
      operationId: update_scorers__scorer_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScorerRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - prompts
      summary: Delete Scorer
      operationId: delete_scorer_scorers__scorer_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - prompts
      summary: Get Scorer
      operationId: get_scorer_scorers__scorer_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: actions
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ScorerAction'
          description: Actions to include in the 'permissions' field of the scorer.
          title: Actions
        description: Actions to include in the 'permissions' field of the scorer.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/version/llm:
    post:
      tags:
      - prompts
      summary: Create Llm Scorer Version
      operationId: create_llm_scorer_version_scorers__scorer_id__version_llm_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLLMScorerVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/code/validate:
    post:
      tags:
      - prompts
      summary: Validate Code Scorer
      description: Validate a code scorer with optional simple input/output test.
      operationId: validate_code_scorer_scorers_code_validate_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_validate_code_scorer_scorers_code_validate_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCodeScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /scorers/code/validate/log_record:
    post:
      tags:
      - prompts
      summary: Validate Code Scorer Log Record
      description: Validate a code scorer using actual log records.
      operationId: validate_code_scorer_log_record_scorers_code_validate_log_record_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_validate_code_scorer_log_record_scorers_code_validate_log_record_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateScorerLogRecordResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /scorers/code/validate/{task_id}:
    get:
      tags:
      - prompts
      summary: Get Validate Code Scorer Task Result
      description: 'Poll for a code-scorer validation task result (returns status/result).


        The validation job creates an entry in `registered_scorer_task_results` (pending) and the runner

        will PATCH the internal task-results endpoint when it finishes. This GET allows clients to poll

        the current task result.'
      operationId: get_validate_code_scorer_task_result_scorers_code_validate__task_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Task Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredScorerTaskResultResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/version/code:
    post:
      tags:
      - prompts
      summary: Create Code Scorer Version
      operationId: create_code_scorer_version_scorers__scorer_id__version_code_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_create_code_scorer_version_scorers__scorer_id__version_code_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - prompts
      summary: Get Scorer Version Code
      operationId: get_scorer_version_code_scorers__scorer_id__version_code_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: version number, defaults to latest version
          title: Version
        description: version number, defaults to latest version
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/version/preset:
    post:
      tags:
      - prompts
      summary: Create Preset Scorer Version
      description: Create a preset scorer version.
      operationId: create_preset_scorer_version_scorers__scorer_id__version_preset_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScorerVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/list:
    post:
      tags:
      - prompts
      summary: List Scorers With Filters
      operationId: list_scorers_with_filters_scorers_list_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: actions
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ScorerAction'
          description: Actions to include in the 'permissions' field of the scorers.
          title: Actions
        description: Actions to include in the 'permissions' field of the scorers.
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListScorersRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScorersResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/tags:
    get:
      tags:
      - prompts
      summary: List Tags
      operationId: list_tags_scorers_tags_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                title: Response List Tags Scorers Tags Get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /scorers/{scorer_id}/version:
    get:
      tags:
      - prompts
      summary: Get Scorer Version Or Latest
      operationId: get_scorer_version_or_latest_scorers__scorer_id__version_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version
        in: query
        required: false
        schema:
          type: integer
          title: Version
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/versions:
    get:
      tags:
      - prompts
      summary: List All Versions For Scorer
      operationId: list_all_versions_for_scorer_scorers__scorer_id__versions_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: run_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Run Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScorerVersionsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/scope:
    put:
      tags:
      - prompts
      summary: Set Scorer Scope
      description: Full-replace a scorer's access scope (Share / manage visibility). metrics_rbac only.
      operationId: set_scorer_scope_scorers__scorer_id__scope_put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScorerScopeRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/projects:
    get:
      tags:
      - prompts
      summary: List Projects For Scorer Route
      description: List all projects associated with a specific scorer.
      operationId: list_projects_for_scorer_route_scorers__scorer_id__projects_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api__schemas__project_v2__GetProjectsPaginatedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/versions/{scorer_version_id}/projects:
    get:
      tags:
      - prompts
      summary: List Projects For Scorer Version Route
      description: List all projects associated with a specific scorer version.
      operationId: list_projects_for_scorer_version_route_scorers_versions__scorer_version_id__projects_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_version_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Version Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api__schemas__project_v2__GetProjectsPaginatedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/versions/{version_number}/restore:
    post:
      tags:
      - prompts
      summary: Restore Scorer Version
      description: List all scorers.
      operationId: restore_scorer_version_scorers__scorer_id__versions__version_number__restore_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version_number
        in: path
        required: true
        schema:
          type: integer
          title: Version Number
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/llm/autogen:
    post:
      tags:
      - prompts
      summary: Autogen Llm Scorer
      description: 'Autogenerate an LLM scorer configuration.


        Returns a Celery task ID that can be used to poll for the autogeneration results.'
      operationId: autogen_llm_scorer_scorers_llm_autogen_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLLMScorerAutogenRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /scorers/llm/validate/log_record:
    post:
      tags:
      - prompts
      summary: Validate Llm Scorer Log Record
      operationId: validate_llm_scorer_log_record_scorers_llm_validate_log_record_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateLLMScorerLogRecordRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateLLMScorerLogRecordResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /scorers/llm/validate/dataset:
    post:
      tags:
      - prompts
      summary: Validate Llm Scorer Dataset
      operationId: validate_llm_scorer_dataset_scorers_llm_validate_dataset_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateLLMScorerDatasetRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateLLMScorerDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /scorers/code/validate/dataset:
    post:
      tags:
      - prompts
      summary: Validate Code Scorer Dataset
      description: Validate a code scorer against dataset rows.
      operationId: validate_code_scorer_dataset_scorers_code_validate_dataset_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_validate_code_scorer_dataset_scorers_code_validate_dataset_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCodeScorerDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /projects/{project_id}/metrics-testing/{run_id}/health-score:
    post:
      tags:
      - prompts
      summary: Compute Health Score Endpoint
      description: Compute the health score metric for a metrics testing run.
      operationId: compute_health_score_endpoint_projects__project_id__metrics_testing__run_id__health_score_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputeHealthScoreRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthScoreResult'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/health-scores:
    get:
      tags:
      - prompts
      summary: Get Scorer Health Scores
      description: 'Return all persisted health scores for a scorer against a dataset, ordered by version ASC.


        scores[0] is the baseline (first recorded), scores[-1] is the latest.'
      operationId: get_scorer_health_scores_scorers__scorer_id__health_scores_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: dataset_id
        in: query
        required: true
        schema:
          type: string
          format: uuid4
          title: Dataset Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerHealthScoresResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scorers/{scorer_id}/versions/{version_number}/health-scores:
    post:
      tags:
      - prompts
      summary: Write Scorer Version Health Score
      description: 'Persist the health score for a scorer version against a dataset.


        Called by the UI after saving a metric version, passing the score from the last compute.'
      operationId: write_scorer_version_health_score_scorers__scorer_id__versions__version_number__health_scores_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version_number
        in: path
        required: true
        schema:
          type: integer
          title: Version Number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WriteHealthScoreRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerVersionHealthScoreEntry'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/templates:
    post:
      tags:
      - prompts
      summary: Create Prompt Template With Version
      description: "For a given project, create a prompt template.\n\nWe first create a prompt template version, and then create a prompt template that\npoints to that version as the selected version.\n\nParameters\n----------\nproject_id : UUID4\n    Project ID.\ncreate_request : CreatePromptTemplateWithVersionRequestBody, optional\n    Request body, by default Body( ...,\n        examples=\n        [BasePromptTemplateVersion.test_data() | BasePromptTemplate.test_data()],\n    )\n\nReturns\n-------\nCreatePromptTemplateResponse\n    Details about the created prompt template."
      operationId: create_prompt_template_with_version_projects__project_id__templates_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePromptTemplateWithVersionRequestBody'
              examples:
              - template: tell me a story about {a} and {b}
                raw: false
                name: test_template
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasePromptTemplateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - prompts
      summary: Get Project Templates
      description: "Get all prompt templates for a project.\n\nParameters\n----------\nproject_id : UUID4\n    Project ID.\n\nReturns\n-------\nList[BasePromptTemplateResponse]\n    List of prompt template responses."
      operationId: get_project_templates_projects__project_id__templates_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasePromptTemplateResponse'
                title: Response Get Project Templates Projects  Project Id  Templates Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/templates/versions:
    get:
      tags:
      - prompts
      summary: Get Template Version By Name
      description: "Get a prompt template from a project.\n\nParameters\n----------\nproject_id : UUID4\n    Project ID.\ntemplate_name : str\n    Prompt template name.\nversion : Optional[int]\n    Version number to fetch. defaults to selected version.\n\nReturns\n-------\nBasePromptTemplateVersionResponse\n    Prompt template response."
      operationId: get_template_version_by_name_projects__project_id__templates_versions_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: template_name
        in: query
        required: true
        schema:
          type: string
          title: Template Name
      - name: version
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          title: Version
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasePromptTemplateVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/templates/{template_id}:
    get:
      tags:
      - prompts
      summary: Get Template From Project
      description: "Get a prompt template from a project.\n\nParameters\n----------\ntemplate_id : UUID4\n    Prompt template ID.\nproject_id : UUID4\n    Project ID.\n\nReturns\n-------\nBasePromptTemplateResponse\n    Prompt template response."
      operationId: get_template_from_project_projects__project_id__templates__template_id__get
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasePromptTemplateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - prompts
      summary: Delete Template
      operationId: delete_template_projects__project_id__templates__template_id__delete
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePromptResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/templates/{template_id}/versions:
    post:
      tags:
      - prompts
      summary: Create Prompt Template Version
      description: "Create a prompt template version for a given prompt template.\n\nParameters\n----------\nproject_id : UUID4\n    Project ID.\ntemplate_id : UUID4\n    Prompt template ID.\nbase_prompt_template_version : BasePromptTemplateVersion\n    Version details to create.\n\nReturns\n-------\nBasePromptTemplateVersionResponse\n    Response with details about the created prompt template version."
      operationId: create_prompt_template_version_projects__project_id__templates__template_id__versions_post
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasePromptTemplateVersion'
              examples:
              - template: tell me a story about {a} and {b}
                raw: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasePromptTemplateVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /templates/query:
    post:
      tags:
      - prompts
      summary: Query Templates
      description: "Query prompt templates the user has access to.\n\nParameters\n----------\nparams : ListPromptTemplateParams\n    Query parameters for filtering and sorting.\npagination : PaginationRequestMixin\n    Pagination parameters.\n\nReturns\n-------\nListPromptTemplateResponse\n    Paginated list of prompt template responses that the user has access to."
      operationId: query_templates_templates_query_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPromptTemplateParams'
              default:
                filters: []
                sort:
                  name: created_at
                  ascending: false
                  sort_type: column
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPromptTemplateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /templates/{template_id}/versions/query:
    post:
      tags:
      - prompts
      summary: Query Template Versions
      description: "Query versions of a specific prompt template.\n\nParameters\n----------\nparams : ListPromptTemplateVersionParams\n    Query parameters for filtering and sorting.\npagination : PaginationRequestMixin\n    Pagination parameters.\n\nReturns\n-------\nListPromptTemplateVersionResponse\n    Paginated list of template version responses."
      operationId: query_template_versions_templates__template_id__versions_query_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPromptTemplateVersionParams'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPromptTemplateVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/templates/{template_id}/versions/{version}:
    get:
      tags:
      - prompts
      summary: Get Template Version
      description: "Get a specific version of a prompt template.\n\nParameters\n----------\ntemplate_id : UUID4\n    Template ID.\nversion : int\n    Version number to fetch.\n\nReturns\n-------\nBasePromptTemplateVersionResponse\n    Prompt template version response."
      operationId: get_template_version_projects__project_id__templates__template_id__versions__version__get
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      - name: version
        in: path
        required: true
        schema:
          type: integer
          title: Version
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasePromptTemplateVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - prompts
      summary: Set Selected Template Version
      operationId: set_selected_template_version_projects__project_id__templates__template_id__versions__version__put
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      - name: version
        in: path
        required: true
        schema:
          type: integer
          title: Version
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasePromptTemplateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /render_template:
    post:
      tags:
      - prompts
      summary: Render Template
      operationId: render_template_render_template_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenderTemplateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenderTemplateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /input_stub:
    post:
      tags:
      - prompts
      summary: Generate Template Input Stub
      operationId: generate_template_input_stub_input_stub_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateStubRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /templates:
    post:
      tags:
      - prompts
      summary: Create Global Prompt Template
      description: "Create a global prompt template.\n\nParameters\n----------\ncreate_request : CreatePromptTemplateWithVersionRequestBody\n    Request body containing template name and content.\nprincipal : Principal\n    Principal object.\n\nReturns\n-------\nBasePromptTemplateResponse\n    Details about the created prompt template."
      operationId: create_global_prompt_template_templates_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePromptTemplateWithVersionRequestBody'
              examples:
              - template: tell me a story about {a} and {b}
                raw: false
                name: test_template
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasePromptTemplateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /templates/bulk_delete:
    delete:
      tags:
      - prompts
      summary: Bulk Delete Global Templates
      description: "Delete multiple global prompt templates in bulk.\n\nThis endpoint allows efficient deletion of multiple global prompt templates at once.\nIt validates permissions for each template in the service and provides detailed\nfeedback about successful and failed deletions for each template.\n\nParameters\n----------\ndelete_request : BulkDeletePromptTemplatesRequest\n    Request containing list of template IDs to delete (max 100).\n\nReturns\n-------\nBulkDeletePromptTemplatesResponse\n    Details about the bulk deletion operation including deleted count and failures."
      operationId: bulk_delete_global_templates_templates_bulk_delete_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeletePromptTemplatesRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeletePromptTemplatesResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /templates/{template_id}:
    get:
      tags:
      - prompts
      summary: Get Global Template
      description: "Get a global prompt template given a template ID.\n\nParameters\n----------\ntemplate_id : UUID4\n    Prompt template id.\nprincipal : Principal\n    Principal object.\n\nReturns\n-------\nBasePromptTemplateResponse\n    Details about the prompt template."
      operationId: get_global_template_templates__template_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasePromptTemplateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - prompts
      summary: Update Global Template
      description: "Update a global prompt template.\n\nParameters\n----------\nupdate_template_request : UpdatePromptTemplateRequest\n    Request containing the fields to update.\ntemplate : PromptTemplate\n    Prompt template to update.\nprincipal : Principal\n    Principal object.\n\nReturns\n-------\nBasePromptTemplateResponse\n    Updated prompt template."
      operationId: update_global_template_templates__template_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePromptTemplateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasePromptTemplateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - prompts
      summary: Delete Global Template
      description: "Delete a global prompt template given a template ID.\n\nParameters\n----------\ntemplate_id : UUID4\n    Prompt template id.\n\nReturns\n-------\nDeletePromptResponse\n    Message indicating the prompt template was deleted."
      operationId: delete_global_template_templates__template_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePromptResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /templates/{template_id}/versions:
    post:
      tags:
      - prompts
      summary: Create Global Prompt Template Version
      description: "Create a prompt template version for a given prompt template.\n\nParameters\n----------\ntemplate_id : UUID4\n    Prompt template ID.\nbase_prompt_template_version : BasePromptTemplateVersion\n    Version details to create.\n\nReturns\n-------\nBasePromptTemplateVersionResponse\n    Response with details about the created prompt template version."
      operationId: create_global_prompt_template_version_templates__template_id__versions_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasePromptTemplateVersion'
              examples:
              - template: tell me a story about {a} and {b}
                raw: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasePromptTemplateVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /templates/{template_id}/versions/{version}:
    get:
      tags:
      - prompts
      summary: Get Global Template Version
      description: "Get a global prompt template version given a template ID and version number.\n\nParameters\n----------\ntemplate_id : UUID4\n    Prompt template id.\nversion : int\n    Version number.\n\nReturns\n-------\nBasePromptTemplateVersionResponse\n    Details about the prompt template version."
      operationId: get_global_template_version_templates__template_id__versions__version__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      - name: version
        in: path
        required: true
        schema:
          type: integer
          title: Version
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasePromptTemplateVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - prompts
      summary: Set Selected Global Template Version
      description: "Set a global prompt template version as the selected version.\n\nParameters\n----------\ntemplate_id : UUID4\n    Prompt template id.\nversion : int\n    Version number.\n\nReturns\n-------\nBasePromptTemplateResponse\n    Details about the prompt template."
      operationId: set_selected_global_template_version_templates__template_id__versions__version__put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      - name: version
        in: path
        required: true
        schema:
          type: integer
          title: Version
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasePromptTemplateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /templates/{template_id}/users:
    post:
      tags:
      - prompts
      summary: Create User Prompt Template Collaborators
      operationId: create_user_prompt_template_collaborators_templates__template_id__users_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UserCollaboratorCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserCollaborator'
                title: Response Create User Prompt Template Collaborators Templates  Template Id  Users Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - prompts
      summary: List User Prompt Template Collaborators
      description: List the users with which the prompt template has been shared.
      operationId: list_user_prompt_template_collaborators_templates__template_id__users_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserCollaboratorsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /templates/{template_id}/users/{user_id}:
    patch:
      tags:
      - prompts
      summary: Update User Prompt Template Collaborator
      description: Update the sharing permissions of a user on a prompt template.
      operationId: update_user_prompt_template_collaborator_templates__template_id__users__user_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCollaborator'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - prompts
      summary: Delete User Prompt Template Collaborator
      description: Remove a user's access to a prompt template.
      operationId: delete_user_prompt_template_collaborator_templates__template_id__users__user_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: User Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /templates/{template_id}/groups:
    post:
      tags:
      - prompts
      summary: Create Group Prompt Template Collaborators
      description: Share a prompt template with groups.
      operationId: create_group_prompt_template_collaborators_templates__template_id__groups_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GroupCollaboratorCreate'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupCollaborator'
                title: Response Create Group Prompt Template Collaborators Templates  Template Id  Groups Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - prompts
      summary: List Group Prompt Template Collaborators
      description: List the groups with which the prompt template has been shared.
      operationId: list_group_prompt_template_collaborators_templates__template_id__groups_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGroupCollaboratorsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /templates/{template_id}/groups/{group_id}:
    patch:
      tags:
      - prompts
      summary: Update Group Prompt Template Collaborator
      description: Update the sharing permissions of a group on a prompt template.
      operationId: update_group_prompt_template_collaborator_templates__template_id__groups__group_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupCollaborator'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - prompts
      summary: Delete Group Prompt Template Collaborator
      description: Remove a group's access to a prompt template.
      operationId: delete_group_prompt_template_collaborator_templates__template_id__groups__group_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/{scorer_id}/version/luna:
    post:
      tags:
      - prompts
      summary: Create Luna Scorer Version
      operationId: create_luna_scorer_version_v2_scorers__scorer_id__version_luna_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomLunaScorerVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/llm/validate:
    post:
      tags:
      - prompts
      summary: Manual Llm Validate
      operationId: manual_llm_validate_v2_scorers_llm_validate_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedScorerValidationResponse'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/scorers/llm/validate/multipart:
    post:
      tags:
      - prompts
      summary: Manual Llm Validate Multipart
      operationId: manual_llm_validate_multipart_v2_scorers_llm_validate_multipart_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_manual_llm_validate_multipart_v2_scorers_llm_validate_multipart_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedScorerValidationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/scorers:
    post:
      tags:
      - prompts
      summary: Create
      operationId: create_v2_scorers_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScorerRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/scorers/{scorer_id}:
    patch:
      tags:
      - prompts
      summary: Update
      operationId: update_v2_scorers__scorer_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScorerRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - prompts
      summary: Delete Scorer
      operationId: delete_scorer_v2_scorers__scorer_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - prompts
      summary: Get Scorer
      operationId: get_scorer_v2_scorers__scorer_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: actions
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ScorerAction'
          description: Actions to include in the 'permissions' field of the scorer.
          title: Actions
        description: Actions to include in the 'permissions' field of the scorer.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/{scorer_id}/version/llm:
    post:
      tags:
      - prompts
      summary: Create Llm Scorer Version
      operationId: create_llm_scorer_version_v2_scorers__scorer_id__version_llm_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLLMScorerVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/code/validate:
    post:
      tags:
      - prompts
      summary: Validate Code Scorer
      description: Validate a code scorer with optional simple input/output test.
      operationId: validate_code_scorer_v2_scorers_code_validate_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_validate_code_scorer_v2_scorers_code_validate_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCodeScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/scorers/code/validate/log_record:
    post:
      tags:
      - prompts
      summary: Validate Code Scorer Log Record
      description: Validate a code scorer using actual log records.
      operationId: validate_code_scorer_log_record_v2_scorers_code_validate_log_record_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_validate_code_scorer_log_record_v2_scorers_code_validate_log_record_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateScorerLogRecordResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/scorers/code/validate/{task_id}:
    get:
      tags:
      - prompts
      summary: Get Validate Code Scorer Task Result
      description: 'Poll for a code-scorer validation task result (returns status/result).


        The validation job creates an entry in `registered_scorer_task_results` (pending) and the runner

        will PATCH the internal task-results endpoint when it finishes. This GET allows clients to poll

        the current task result.'
      operationId: get_validate_code_scorer_task_result_v2_scorers_code_validate__task_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Task Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredScorerTaskResultResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/{scorer_id}/version/code:
    post:
      tags:
      - prompts
      summary: Create Code Scorer Version
      operationId: create_code_scorer_version_v2_scorers__scorer_id__version_code_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_create_code_scorer_version_v2_scorers__scorer_id__version_code_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - prompts
      summary: Get Scorer Version Code
      operationId: get_scorer_version_code_v2_scorers__scorer_id__version_code_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: version number, defaults to latest version
          title: Version
        description: version number, defaults to latest version
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/{scorer_id}/version/preset:
    post:
      tags:
      - prompts
      summary: Create Preset Scorer Version
      description: Create a preset scorer version.
      operationId: create_preset_scorer_version_v2_scorers__scorer_id__version_preset_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScorerVersionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/list:
    post:
      tags:
      - prompts
      summary: List Scorers With Filters
      operationId: list_scorers_with_filters_v2_scorers_list_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: actions
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ScorerAction'
          description: Actions to include in the 'permissions' field of the scorers.
          title: Actions
        description: Actions to include in the 'permissions' field of the scorers.
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListScorersRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScorersResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/tags:
    get:
      tags:
      - prompts
      summary: List Tags
      operationId: list_tags_v2_scorers_tags_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                title: Response List Tags V2 Scorers Tags Get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/scorers/{scorer_id}/version:
    get:
      tags:
      - prompts
      summary: Get Scorer Version Or Latest
      operationId: get_scorer_version_or_latest_v2_scorers__scorer_id__version_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version
        in: query
        required: false
        schema:
          type: integer
          title: Version
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/{scorer_id}/versions:
    get:
      tags:
      - prompts
      summary: List All Versions For Scorer
      operationId: list_all_versions_for_scorer_v2_scorers__scorer_id__versions_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: run_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Run Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScorerVersionsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/{scorer_id}/scope:
    put:
      tags:
      - prompts
      summary: Set Scorer Scope
      description: Full-replace a scorer's access scope (Share / manage visibility). metrics_rbac only.
      operationId: set_scorer_scope_v2_scorers__scorer_id__scope_put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScorerScopeRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/{scorer_id}/projects:
    get:
      tags:
      - prompts
      summary: List Projects For Scorer Route
      description: List all projects associated with a specific scorer.
      operationId: list_projects_for_scorer_route_v2_scorers__scorer_id__projects_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api__schemas__project_v2__GetProjectsPaginatedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/versions/{scorer_version_id}/projects:
    get:
      tags:
      - prompts
      summary: List Projects For Scorer Version Route
      description: List all projects associated with a specific scorer version.
      operationId: list_projects_for_scorer_version_route_v2_scorers_versions__scorer_version_id__projects_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_version_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Version Id
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api__schemas__project_v2__GetProjectsPaginatedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/{scorer_id}/versions/{version_number}/restore:
    post:
      tags:
      - prompts
      summary: Restore Scorer Version
      description: List all scorers.
      operationId: restore_scorer_version_v2_scorers__scorer_id__versions__version_number__restore_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: scorer_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Scorer Id
      - name: version_number
        in: path
        required: true
        schema:
          type: integer
          title: Version Number
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseScorerVersionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/scorers/llm/autogen:
    post:
      tags:
      - prompts
      summary: Autogen Llm Scorer
      description: 'Autogenerate an LLM scorer configuration.


        Returns a Celery task ID that can be used to poll for the autogeneration results.'
      operationId: autogen_llm_scorer_v2_scorers_llm_autogen_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLLMScorerAutogenRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/scorers/llm/validate/log_record:
    post:
      tags:
      - prompts
      summary: Validate Llm Scorer Log Record
      operationId: validate_llm_scorer_log_record_v2_scorers_llm_validate_log_record_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateLLMScorerLogRecordRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateLLMScorerLogRecordResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/scorers/llm/validate/dataset:
    post:
      tags:
      - prompts
      summary: Validate Llm Scorer Dataset
      operationId: validate_llm_scorer_dataset_v2_scorers_llm_validate_dataset_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateLLMScorerDatasetRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateLLMScorerDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/scorers/code/validate/dataset:
    post:
      tags:
      - prompts
      summary: Validate Code Scorer Dataset
      description: Validate a code scorer against dataset rows.
      operationId: validate_code_scorer_dataset_v2_scorers_code_validate_dataset_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_validate_code_scorer_dataset_v2_scorers_code_validate_dataset_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCodeScorerDatasetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /v2/projects/{project_id}/metrics-testing/{run_id}/health-score:
    post:
      tags:
      - prompts
      summary: Compute Health Score Endpoint
      description: Compute the health score metric for a metrics testing run.
      operationId: compute_health_score_endpoint_v2_projects__project_id__metrics_testing__run_id__health_score_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputeHealthScoreRequest'
      responses:
        '200':
[...]
