openapi: 3.1.0
info:
  title: Galileo API Server annotation feedback API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: feedback
paths:
  /projects/{project_id}/feedback/templates:
    post:
      tags:
      - feedback
      summary: Create Feedback Template
      operationId: create_feedback_template_projects__project_id__feedback_templates_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackTemplateCreate'
              examples:
              - name: creativity
                criteria: How creative was the response?
                constraints:
                  feedback_type: score
                  min: 1
                  max: 10
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackTemplateDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - feedback
      summary: List Feedback Templates
      operationId: list_feedback_templates_projects__project_id__feedback_templates_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeedbackTemplateDB'
                title: Response List Feedback Templates Projects  Project Id  Feedback Templates Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/feedback/templates/{template_id}:
    patch:
      tags:
      - feedback
      summary: Update Feedback Template
      operationId: update_feedback_template_projects__project_id__feedback_templates__template_id__patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackTemplateUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackTemplateDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - feedback
      summary: Get Feedback Template
      operationId: get_feedback_template_projects__project_id__feedback_templates__template_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackTemplateDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - feedback
      summary: Delete Feedback Template
      operationId: delete_feedback_template_projects__project_id__feedback_templates__template_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/runs/{run_id}/feedback/templates/{template_id}/index/{index}/rating:
    put:
      tags:
      - feedback
      summary: Create Feedback Rating
      description: Record a feedack rating for a specific sample in a run. For prompt chains, the index must be the root node.
      operationId: create_feedback_rating_projects__project_id__runs__run_id__feedback_templates__template_id__index__index__rating_put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      - name: index
        in: path
        required: true
        schema:
          type: integer
          title: Index
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackRatingCreate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackRatingDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - feedback
      summary: Get Feedback Rating
      operationId: get_feedback_rating_projects__project_id__runs__run_id__feedback_templates__template_id__index__index__rating_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      - name: index
        in: path
        required: true
        schema:
          type: integer
          title: Index
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackRatingDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - feedback
      summary: Delete Feedback Rating
      operationId: delete_feedback_rating_projects__project_id__runs__run_id__feedback_templates__template_id__index__index__rating_delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      - name: index
        in: path
        required: true
        schema:
          type: integer
          title: Index
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/runs/{run_id}/ratings:
    post:
      tags:
      - feedback
      summary: Apply Bulk Feedback
      description: Record multiple feedback ratings
      operationId: apply_bulk_feedback_projects__project_id__runs__run_id__ratings_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkFeedbackRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BulkFeedbackRatingStatus'
                title: Response Apply Bulk Feedback Projects  Project Id  Runs  Run Id  Ratings Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/feedback/templates:
    post:
      tags:
      - feedback
      summary: Create Feedback Template V2
      operationId: create_feedback_template_v2_v2_projects__project_id__feedback_templates_post
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackTemplateCreate'
              examples:
              - name: creativity
                criteria: How creative was the response?
                constraints:
                  feedback_type: score
                  min: 1
                  max: 10
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackTemplateDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - feedback
      summary: List Feedback Templates V2
      operationId: list_feedback_templates_v2_v2_projects__project_id__feedback_templates_get
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeedbackTemplateDB'
                title: Response List Feedback Templates V2 V2 Projects  Project Id  Feedback Templates Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/feedback/templates/{template_id}:
    patch:
      tags:
      - feedback
      summary: Update Feedback Template
      operationId: update_feedback_template_v2_projects__project_id__feedback_templates__template_id__patch
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackTemplateUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackTemplateDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - feedback
      summary: Get Feedback Template V2
      operationId: get_feedback_template_v2_v2_projects__project_id__feedback_templates__template_id__get
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackTemplateDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - feedback
      summary: Delete Feedback Template
      operationId: delete_feedback_template_v2_projects__project_id__feedback_templates__template_id__delete
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/feedback/templates/reorder:
    post:
      tags:
      - feedback
      summary: Reorder Feedback Templates
      operationId: reorder_feedback_templates_v2_projects__project_id__feedback_templates_reorder_post
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackTemplateReorder'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/feedback/templates/{template_id}/traces/{trace_id}/rating:
    put:
      tags:
      - feedback
      summary: Create Feedback Rating V2
      operationId: create_feedback_rating_v2_v2_projects__project_id__feedback_templates__template_id__traces__trace_id__rating_put
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: trace_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Trace Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackRatingCreate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackRatingDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - feedback
      summary: Get Feedback Rating V2
      operationId: get_feedback_rating_v2_v2_projects__project_id__feedback_templates__template_id__traces__trace_id__rating_get
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: trace_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Trace Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackRatingDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - feedback
      summary: Delete Feedback Rating V2
      operationId: delete_feedback_rating_v2_v2_projects__project_id__feedback_templates__template_id__traces__trace_id__rating_delete
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: trace_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Trace Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/feedback/ratings:
    post:
      tags:
      - feedback
      summary: Apply Bulk Feedback V2
      operationId: apply_bulk_feedback_v2_v2_projects__project_id__feedback_ratings_post
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkFeedbackRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BulkFeedbackRatingStatus'
                title: Response Apply Bulk Feedback V2 V2 Projects  Project Id  Feedback Ratings Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/feedback/templates:
    post:
      tags:
      - feedback
      summary: Create Feedback Template V2
      operationId: create_feedback_template_v2_public_v2_projects__project_id__feedback_templates_post
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackTemplateCreate'
              examples:
              - name: creativity
                criteria: How creative was the response?
                constraints:
                  feedback_type: score
                  min: 1
                  max: 10
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackTemplateDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - feedback
      summary: List Feedback Templates V2
      operationId: list_feedback_templates_v2_public_v2_projects__project_id__feedback_templates_get
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeedbackTemplateDB'
                title: Response List Feedback Templates V2 Public V2 Projects  Project Id  Feedback Templates Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/feedback/templates/{template_id}:
    patch:
      tags:
      - feedback
      summary: Update Feedback Template
      operationId: update_feedback_template_public_v2_projects__project_id__feedback_templates__template_id__patch
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackTemplateUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackTemplateDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - feedback
      summary: Get Feedback Template V2
      operationId: get_feedback_template_v2_public_v2_projects__project_id__feedback_templates__template_id__get
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackTemplateDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - feedback
      summary: Delete Feedback Template
      operationId: delete_feedback_template_public_v2_projects__project_id__feedback_templates__template_id__delete
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/feedback/templates/reorder:
    post:
      tags:
      - feedback
      summary: Reorder Feedback Templates
      operationId: reorder_feedback_templates_public_v2_projects__project_id__feedback_templates_reorder_post
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackTemplateReorder'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/feedback/templates/{template_id}/traces/{trace_id}/rating:
    put:
      tags:
      - feedback
      summary: Create Feedback Rating V2
      operationId: create_feedback_rating_v2_public_v2_projects__project_id__feedback_templates__template_id__traces__trace_id__rating_put
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: trace_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Trace Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackRatingCreate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackRatingDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - feedback
      summary: Get Feedback Rating V2
      operationId: get_feedback_rating_v2_public_v2_projects__project_id__feedback_templates__template_id__traces__trace_id__rating_get
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: trace_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Trace Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackRatingDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - feedback
      summary: Delete Feedback Rating V2
      operationId: delete_feedback_rating_v2_public_v2_projects__project_id__feedback_templates__template_id__traces__trace_id__rating_delete
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: trace_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Trace Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: template_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Template Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/feedback/ratings:
    post:
      tags:
      - feedback
      summary: Apply Bulk Feedback V2
      operationId: apply_bulk_feedback_v2_public_v2_projects__project_id__feedback_ratings_post
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkFeedbackRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BulkFeedbackRatingStatus'
                title: Response Apply Bulk Feedback V2 Public V2 Projects  Project Id  Feedback Ratings Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    FeedbackTemplateDB:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
        include_explanation:
          type: boolean
          title: Include Explanation
        criteria:
          anyOf:
          - type: string
            minLength: 1
          - type: 'null'
          title: Criteria
        constraints:
          oneOf:
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__LikeDislikeConstraints'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__StarConstraints'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__ScoreConstraints'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__TagsConstraints'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__TextConstraints'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__ChoiceConstraints'
          - $ref: '#/components/schemas/TreeChoiceConstraints-Output'
          title: Constraints
          discriminator:
            propertyName: feedback_type
            mapping:
              choice: '#/components/schemas/libs__python__schemas__log_records__feedback__ChoiceConstraints'
              like_dislike: '#/components/schemas/libs__python__schemas__log_records__feedback__LikeDislikeConstraints'
              score: '#/components/schemas/libs__python__schemas__log_records__feedback__ScoreConstraints'
              star: '#/components/schemas/libs__python__schemas__log_records__feedback__StarConstraints'
              tags: '#/components/schemas/libs__python__schemas__log_records__feedback__TagsConstraints'
              text: '#/components/schemas/libs__python__schemas__log_records__feedback__TextConstraints'
              tree_choice: '#/components/schemas/TreeChoiceConstraints-Output'
        id:
          type: string
          format: uuid4
          title: Id
        created_at:
          type: string
          format: date-time
          title: Created At
        created_by:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Created By
        position:
          type: integer
          title: Position
        usage_count:
          anyOf:
          - type: integer
          - type: 'null'
          title: Usage Count
          description: Number of feedback ratings using the template.
      type: object
      required:
      - name
      - include_explanation
      - constraints
      - id
      - created_at
      - created_by
      - position
      title: FeedbackTemplateDB
    FeedbackTemplateReorder:
      properties:
        ordering:
          items:
            type: string
            format: uuid4
          type: array
          title: Ordering
      type: object
      required:
      - ordering
      title: FeedbackTemplateReorder
      description: 'Request to re-order the feedback templates of a project.


        - Expects a list of strings where each string is the ID of a template in the project in the order

        we want the templates to appear in.

        - Expects the list to be complete list of all template IDs.'
    libs__python__schemas__log_records__feedback__ScoreConstraints:
      properties:
        feedback_type:
          type: string
          const: score
          title: Feedback Type
        min:
          type: integer
          minimum: 0.0
          title: Min
        max:
          type: integer
          minimum: 0.0
          title: Max
      type: object
      required:
      - feedback_type
      - min
      - max
      title: ScoreConstraints
    libs__python__schemas__log_records__feedback__TreeChoiceNode-Output:
      properties:
        label:
          anyOf:
          - type: string
            maxLength: 255
            minLength: 1
          - type: 'null'
          title: Label
        value:
          type: string
          minLength: 1
          title: Value
        children:
          items:
            $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__TreeChoiceNode-Output'
          type: array
          title: Children
      type: object
      required:
      - value
      title: TreeChoiceNode
    FeedbackRatingDB:
      properties:
        explanation:
          anyOf:
          - type: string
            minLength: 1
          - type: 'null'
          title: Explanation
        rating:
          oneOf:
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__LikeDislikeRating'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__StarRating'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__ScoreRating'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__TagsRating'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__TextRating'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__ChoiceRating'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__TreeChoiceRating'
          title: Rating
          discriminator:
            propertyName: feedback_type
            mapping:
              choice: '#/components/schemas/libs__python__schemas__log_records__feedback__ChoiceRating'
              like_dislike: '#/components/schemas/libs__python__schemas__log_records__feedback__LikeDislikeRating'
              score: '#/components/schemas/libs__python__schemas__log_records__feedback__ScoreRating'
              star: '#/components/schemas/libs__python__schemas__log_records__feedback__StarRating'
              tags: '#/components/schemas/libs__python__schemas__log_records__feedback__TagsRating'
              text: '#/components/schemas/libs__python__schemas__log_records__feedback__TextRating'
              tree_choice: '#/components/schemas/libs__python__schemas__log_records__feedback__TreeChoiceRating'
        created_at:
          type: string
          format: date-time
          title: Created At
        created_by:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Created By
      type: object
      required:
      - rating
      - created_at
      - created_by
      title: FeedbackRatingDB
    FeedbackRatingOperationType:
      type: string
      enum:
      - create
      - delete
      title: FeedbackRatingOperationType
      description: Operation type for bulk feedback rating operations.
    libs__python__schemas__log_records__feedback__TreeChoiceRating:
      properties:
        feedback_type:
          type: string
          const: tree_choice
          title: Feedback Type
          default: tree_choice
        value:
          type: string
          minLength: 1
          title: Value
      type: object
      required:
      - value
      title: TreeChoiceRating
    libs__python__schemas__log_records__feedback__TagsConstraints:
      properties:
        feedback_type:
          type: string
          const: tags
          title: Feedback Type
        tags:
          items:
            type: string
            maxLength: 255
            minLength: 1
          type: array
          title: Tags
        allow_other:
          type: boolean
          title: Allow Other
          default: false
      type: object
      required:
      - feedback_type
      - tags
      title: TagsConstraints
    BulkFeedbackRatingCreate:
      properties:
        explanation:
          anyOf:
          - type: string
            minLength: 1
          - type: 'null'
          title: Explanation
        rating:
          oneOf:
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__LikeDislikeRating'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__StarRating'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__ScoreRating'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__TagsRating'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__TextRating'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__ChoiceRating'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__TreeChoiceRating'
          title: Rating
          discriminator:
            propertyName: feedback_type
            mapping:
              choice: '#/components/schemas/libs__python__schemas__log_records__feedback__ChoiceRating'
              like_dislike: '#/components/schemas/libs__python__schemas__log_records__feedback__LikeDislikeRating'
              score: '#/components/schemas/libs__python__schemas__log_records__feedback__ScoreRating'
              star: '#/components/schemas/libs__python__schemas__log_records__feedback__StarRating'
              tags: '#/components/schemas/libs__python__schemas__log_records__feedback__TagsRating'
              text: '#/components/schemas/libs__python__schemas__log_records__feedback__TextRating'
              tree_choice: '#/components/schemas/libs__python__schemas__log_records__feedback__TreeChoiceRating'
        feedback_template_id:
          type: string
          format: uuid4
          title: Feedback Template Id
        operation_type:
          type: string
          const: create
          title: Operation Type
          default: create
      type: object
      required:
      - rating
      - feedback_template_id
      title: BulkFeedbackRatingCreate
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    FeedbackTemplateUpdate:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
        criteria:
          anyOf:
          - type: string
            minLength: 1
          - type: 'null'
          title: Criteria
      type: object
      required:
      - name
      - criteria
      title: FeedbackTemplateUpdate
    SelectorType:
      type: string
      enum:
      - indexes
      - traces
      title: SelectorType
    libs__python__schemas__log_records__feedback__TextRating:
      properties:
        feedback_type:
          type: string
          const: text
          title: Feedback Type
          default: text
        value:
          type: string
          minLength: 1
          title: Value
      type: object
      required:
      - value
      title: TextRating
    libs__python__schemas__log_records__feedback__LikeDislikeRating:
      properties:
        feedback_type:
          type: string
          const: like_dislike
          title: Feedback Type
          default: like_dislike
        value:
          type: boolean
          title: Value
      type: object
      required:
      - value
      title: LikeDislikeRating
    libs__python__schemas__log_records__feedback__StarRating:
      properties:
        feedback_type:
          type: string
          const: star
          title: Feedback Type
          default: star
        value:
          type: integer
          maximum: 5.0
          minimum: 1.0
          title: Value
      type: object
      required:
      - value
      title: StarRating
    libs__python__schemas__log_records__feedback__TreeChoiceNode-Input:
      properties:
        label:
          anyOf:
          - type: string
            maxLength: 255
            minLength: 1
          - type: 'null'
          title: Label
        value:
          type: string
          minLength: 1
          title: Value
        children:
          items:
            $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__TreeChoiceNode-Input'
          type: array
          title: Children
      type: object
      required:
      - value
      title: TreeChoiceNode
    libs__python__schemas__log_records__feedback__TextConstraints:
      properties:
        feedback_type:
          type: string
          const: text
          title: Feedback Type
      type: object
      required:
      - feedback_type
      title: TextConstraints
    TreeChoiceConstraints-Output:
      properties:
        feedback_type:
          type: string
          const: tree_choice
          title: Feedback Type
        choices_tree:
          items:
            $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__TreeChoiceNode-Output'
          type: array
          minItems: 1
          title: Choices Tree
      type: object
      required:
      - feedback_type
      - choices_tree
      title: TreeChoiceConstraints
      description: 'Tree-choice node values must be globally unique leaf-path values.


        Callers that start from nested YAML should use build_tree_choice_nodes_from_yaml

        so duplicate ids or labels in different branches are converted to unambiguous

        slash-delimited path values before model validation.'
    IndexSelector:
      properties:
        selector_type:
          type: string
          const: indexes
          title: Selector Type
          default: indexes
        indexes:
          items:
            type: integer
          type: array
          title: Indexes
      type: object
      required:
      - indexes
      title: IndexSelector
      description: Choose specific indexes to apply the bulk operation to.
    libs__python__schemas__log_records__feedback__ScoreRating:
      properties:
        feedback_type:
          type: string
          const: score
          title: Feedback Type
          default: score
        value:
          type: integer
          title: Value
      type: object
      required:
      - value
      title: ScoreRating
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    libs__python__schemas__log_records__feedback__TreeChoiceConstraints-Input:
      properties:
        feedback_type:
          type: string
          const: tree_choice
          title: Feedback Type
        choices_tree:
          items:
            $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__TreeChoiceNode-Input'
          type: array
          minItems: 1
          title: Choices Tree
      type: object
      required:
      - feedback_type
      - choices_tree
      title: TreeChoiceConstraints
      description: 'Tree-choice node values must be globally unique leaf-path values.


        Callers that start from nested YAML should use build_tree_choice_nodes_from_yaml

        so duplicate ids or labels in different branches are converted to unambiguous

        slash-delimited path values before model validation.'
    libs__python__schemas__log_records__feedback__TagsRating:
      properties:
        feedback_type:
          type: string
          const: tags
          title: Feedback Type
          default: tags
        value:
          items:
            type: string
            maxLength: 255
            minLength: 1
          type: array
          title: Value
      type: object
      required:
      - value
      title: TagsRating
    libs__python__schemas__log_records__feedback__StarConstraints:
      properties:
        feedback_type:
          type: string
          const: star
          title: Feedback Type
      type: object
      required:
      - feedback_type
      title: StarConstraints
    BulkFeedbackRatingDelete:
      properties:
        feedback_template_id:
          type: string
          format: uuid4
          title: Feedback Template Id
        operation_type:
          type: string
          const: delete
          title: Operation Type
          default: delete
      type: object
      required:
      - feedback_template_id
      title: BulkFeedbackRatingDelete
    libs__python__schemas__log_records__feedback__ChoiceConstraints:
      properties:
        feedback_type:
          type: string
          const: choice
          title: Feedback Type
        choices:
          items:
            type: string
            maxLength: 255
            minLength: 1
          type: array
          maxItems: 50
          minItems: 2
          title: Choices
        allow_other:
          type: boolean
          title: Allow Other
          default: false
      type: object
      required:
      - feedback_type
      - choices
      title: ChoiceConstraints
    libs__python__schemas__log_records__feedback__ChoiceRating:
      properties:
        feedback_type:
          type: string
          const: choice
          title: Feedback Type
          default: choice
        value:
          type: string
          maxLength: 255
          minLength: 1
          title: Value
      type: object
      required:
      - value
      title: ChoiceRating
    FeedbackRatingCreate:
      properties:
        explanation:
          anyOf:
          - type: string
            minLength: 1
          - type: 'null'
          title: Explanation
        rating:
          oneOf:
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__LikeDislikeRating'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__StarRating'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__ScoreRating'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__TagsRating'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__TextRating'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__ChoiceRating'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__TreeChoiceRating'
          title: Rating
          discriminator:
            propertyName: feedback_type
            mapping:
              choice: '#/components/schemas/libs__python__schemas__log_records__feedback__ChoiceRating'
              like_dislike: '#/components/schemas/libs__python__schemas__log_records__feedback__LikeDislikeRating'
              score: '#/components/schemas/libs__python__schemas__log_records__feedback__ScoreRating'
              star: '#/components/schemas/libs__python__schemas__log_records__feedback__StarRating'
              tags: '#/components/schemas/libs__python__schemas__log_records__feedback__TagsRating'
              text: '#/components/schemas/libs__python__schemas__log_records__feedback__TextRating'
              tree_choice: '#/components/schemas/libs__python__schemas__log_records__feedback__TreeChoiceRating'
      type: object
      required:
      - rating
      title: FeedbackRatingCreate
    FeedbackTemplateCreate:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
        include_explanation:
          type: boolean
          title: Include Explanation
          default: false
        criteria:
          anyOf:
          - type: string
            minLength: 1
          - type: 'null'
          title: Criteria
        constraints:
          oneOf:
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__LikeDislikeConstraints'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__StarConstraints'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__ScoreConstraints'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__TagsConstraints'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__TextConstraints'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__ChoiceConstraints'
          - $ref: '#/components/schemas/libs__python__schemas__log_records__feedback__TreeChoiceConstraints-Input'
          title: Constraints
          discriminator:
            propertyName: feedback_type
            mapping:
              choice: '#/components/schemas/libs__python__schemas__log_records__feedback__ChoiceConstraints'
              like_dislike: '#/components/schemas/libs__python__schemas__log_records__feedback__LikeDislikeConstraints'
              score: '#/components/schemas/libs__python__schemas__log_records__feedback__ScoreConstraints'
              star: '#/components/schemas/libs__python__schemas__log_records__feedback__StarConstraints'
              tags: '#/components/schemas/libs__python__schemas__log_records__feedback__TagsConstraints'
              text: '#/components/schemas/libs__python__schemas__log_records__feedback__TextConstraints'
              tree_choice: '#/components/schemas/libs__python__schemas__log_records__feedback__TreeChoiceConstraints-Input'
      type: object
      required:
      - name
      - constraints
      title: FeedbackTemplateCreate
    TraceSelector:
      properties:
        selector_type:
          type: string
          const: traces
          title: Selector Type
          default: traces
        traces:
          items:
            type: string
            format: uuid4
          type: array
          title: Traces
      type: object
      required:
      - traces
      title: TraceSelector
      description: Choose specific traces to apply the bulk operation to.
    BulkFeedbackRequest:
      properties:
        operations:
          items:
            oneOf:
            - $ref: '#/components/schemas/BulkFeedbackRatingCreate'
            - $ref: '#/components/schemas/BulkFeedbackRatingDelete'
            discriminator:
              propertyName: operation_type
              mapping:
                create: '#/components/schemas/BulkFeedbackRatingCreate'
                delete: '#/components/schemas/BulkFeedbackRatingDelete'
          type: array
          title: Operations
        selector:
          oneOf:
          - $ref: '#/components/schemas/IndexSelector'
          - $ref: '#/components/schemas/TraceSelector'
          title: Selector
          discriminator:
            propertyName: selector_type
            mapping:
              indexes: '#/components/schemas/IndexSelector'
              traces: '#/components/schemas/TraceSelector'
      type: object
      required:
      - operations
      - selector
      title: BulkFeedbackRequest
    BulkFeedbackRatingStatus:
      properties:
        selector:
          $ref: '#/components/schemas/SelectorType'
          default: indexes
        index:
          anyOf:
          - type: integer
          - type: 'null'
          title: Index
        trace:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trace
        operation:
          $ref: '#/components/schemas/FeedbackRatingOperationType'
        success:
          type: boolean
          title: Success
        message:
          anyOf:
          - type: string
          - type: 'null'
          title: Message
      type: object
      required:
      - operation
      - success
      - message
      title: BulkFeedbackRatingStatus
    libs__python__schemas__log_records__feedback__LikeDislikeConstraints:
      properties:
        feedback_type:
          type: string
          const: like_dislike
          title: Feedback Type
      type: object
      required:
      - feedback_type
      title: LikeDislikeConstraints
  securitySchemes:
    ClassicAPIKeyHeader:
      type: apiKey
      in: header
      name: Galileo-API-Key
    APIKeyHeader:
      type: apiKey
      in: header
      name: Splunk-AO-API-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://api.galileo.ai/login
    HTTPBasic:
      type: http
      scheme: basic
