openapi: 3.1.0
info:
  title: Galileo API Server annotation run_insights_settings API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: run_insights_settings
paths:
  /projects/{project_id}/runs/{run_id}/insights-settings:
    patch:
      tags:
      - run_insights_settings
      summary: Upsert Insights Config
      operationId: upsert_insights_config_projects__project_id__runs__run_id__insights_settings_patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunInsightsRequest'
              default:
                insights:
                  logstream:
                    enabled: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunInsightsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - run_insights_settings
      summary: Get Settings
      operationId: get_settings_projects__project_id__runs__run_id__insights_settings_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunInsightsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/runs/{run_id}/insights-settings:
    patch:
      tags:
      - run_insights_settings
      summary: Upsert Insights Config
      operationId: upsert_insights_config_v2_projects__project_id__runs__run_id__insights_settings_patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunInsightsRequest'
              default:
                insights:
                  logstream:
                    enabled: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunInsightsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - run_insights_settings
      summary: Get Settings
      operationId: get_settings_v2_projects__project_id__runs__run_id__insights_settings_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunInsightsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/runs/{run_id}/insights-settings:
    patch:
      tags:
      - run_insights_settings
      summary: Upsert Insights Config
      operationId: upsert_insights_config_public_v2_projects__project_id__runs__run_id__insights_settings_patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunInsightsRequest'
              default:
                insights:
                  logstream:
                    enabled: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunInsightsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - run_insights_settings
      summary: Get Settings
      operationId: get_settings_public_v2_projects__project_id__runs__run_id__insights_settings_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Run Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunInsightsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    RunInsightsSettingsSchema:
      properties:
        logstream:
          $ref: '#/components/schemas/LogstreamInsightConfig'
          description: Logstream insights configuration.
      type: object
      title: RunInsightsSettingsSchema
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    RunInsightsRequest:
      properties:
        insights:
          $ref: '#/components/schemas/RunInsightsSettingsSchema'
          description: The insights configuration for the run.
      type: object
      title: RunInsightsRequest
    RunInsightsResponse:
      properties:
        insights:
          $ref: '#/components/schemas/RunInsightsSettingsSchema'
          description: The insights configuration for the run.
        run_id:
          type: string
          format: uuid4
          title: Run Id
          description: The ID of the run this settings belong to.
      type: object
      required:
      - run_id
      title: RunInsightsResponse
    LogstreamInsightConfig:
      properties:
        enabled:
          type: boolean
          title: Enabled
          description: Whether logstream insights are enabled for this run.
          default: false
        start_time:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Start Time
          description: Start time for generating logstream insights.
      type: object
      title: LogstreamInsightConfig
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    ClassicAPIKeyHeader:
      type: apiKey
      in: header
      name: Galileo-API-Key
    APIKeyHeader:
      type: apiKey
      in: header
      name: Splunk-AO-API-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://api.galileo.ai/login
    HTTPBasic:
      type: http
      scheme: basic
