openapi: 3.1.0
info:
  title: Galileo API Server annotation system_users_authentication API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: system_users_authentication
paths:
  /generate_password_reset_email:
    get:
      tags:
      - system_users_authentication
      summary: Generate Password Reset Email
      operationId: generate_password_reset_email_generate_password_reset_email_get
      security:
      - OAuth2PasswordBearer: []
      parameters:
      - name: user_email
        in: query
        required: true
        schema:
          type: string
          format: email
          title: User Email
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PasswordResetEmailResponse'
        '429':
          description: Too many password reset requests
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /password_reset:
    post:
      tags:
      - system_users_authentication
      summary: Password Reset
      description: 'Reset a system user''s password.


        A password reset with a valid token should always verify the user. (See default of

        UserPasswordResetRequest.email_is_verified is True)'
      operationId: password_reset_password_reset_post
      parameters:
      - name: reset_token
        in: query
        required: true
        schema:
          type: string
          title: Reset Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPasswordResetRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemUserDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /resend_verification_email:
    post:
      tags:
      - system_users_authentication
      summary: Resend Verification Email
      description: Resend verification email to an unverified user.
      operationId: resend_verification_email_resend_verification_email_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationRequest'
              examples:
              - email: user@example.com
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendVerificationEmailResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2PasswordBearer: []
components:
  schemas:
    SystemUserDB:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
        email:
          type: string
          title: Email
        first_name:
          anyOf:
          - type: string
          - type: 'null'
          title: First Name
        last_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Name
        email_is_verified:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Email Is Verified
        status:
          $ref: '#/components/schemas/SystemUserStatus'
        role:
          $ref: '#/components/schemas/SystemRole'
        auth_method:
          type: string
          title: Auth Method
      type: object
      required:
      - id
      - created_at
      - updated_at
      - email
      - status
      - role
      - auth_method
      title: SystemUserDB
    SystemUserStatus:
      type: string
      enum:
      - requested
      - invited
      - enabled
      - disabled
      title: SystemUserStatus
    EmailVerificationRequest:
      properties:
        email:
          type: string
          format: email
          title: Email
      type: object
      required:
      - email
      title: EmailVerificationRequest
    UserPasswordResetRequest:
      properties:
        email:
          type: string
          title: Email
        password:
          anyOf:
          - type: string
            format: password
            writeOnly: true
          - type: 'null'
          title: Password
        email_is_verified:
          type: boolean
          title: Email Is Verified
          default: true
      type: object
      required:
      - email
      title: UserPasswordResetRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    PasswordResetEmailResponse:
      properties: {}
      type: object
      title: PasswordResetEmailResponse
    SystemRole:
      type: string
      enum:
      - system_admin
      - system_user
      title: SystemRole
    ResendVerificationEmailResponse:
      properties: {}
      type: object
      title: ResendVerificationEmailResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    ClassicAPIKeyHeader:
      type: apiKey
      in: header
      name: Galileo-API-Key
    APIKeyHeader:
      type: apiKey
      in: header
      name: Splunk-AO-API-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://api.galileo.ai/login
    HTTPBasic:
      type: http
      scheme: basic
