openapi: 3.1.0
info:
  title: Galileo API Server annotation trends_dashboard API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: trends_dashboard
paths:
  /projects/{project_id}/log_streams/{log_stream_id}/trends:
    get:
      tags:
      - trends_dashboard
      summary: Get Trends
      operationId: get_trends_projects__project_id__log_streams__log_stream_id__trends_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendsDashboardResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - trends_dashboard
      summary: Update Trends
      operationId: update_trends_projects__project_id__log_streams__log_stream_id__trends_put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrendsDashboardUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendsDashboardResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/log_streams/{log_stream_id}/trends/widgets:
    post:
      tags:
      - trends_dashboard
      summary: Create Widget
      operationId: create_widget_projects__project_id__log_streams__log_stream_id__trends_widgets_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetCreateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/log_streams/{log_stream_id}/trends/widgets/{widget_id}:
    put:
      tags:
      - trends_dashboard
      summary: Update Widget
      operationId: update_widget_projects__project_id__log_streams__log_stream_id__trends_widgets__widget_id__put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: widget_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Widget Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - trends_dashboard
      summary: Delete Widget
      operationId: delete_widget_projects__project_id__log_streams__log_stream_id__trends_widgets__widget_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: widget_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Widget Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/log_streams/{log_stream_id}/trends/sections:
    post:
      tags:
      - trends_dashboard
      summary: Create Section
      operationId: create_section_projects__project_id__log_streams__log_stream_id__trends_sections_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SectionCreateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/log_streams/{log_stream_id}/trends/sections/{section_id}:
    put:
      tags:
      - trends_dashboard
      summary: Update Section
      operationId: update_section_projects__project_id__log_streams__log_stream_id__trends_sections__section_id__put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: section_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Section Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SectionUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - trends_dashboard
      summary: Delete Section
      description: Delete section. If ungroup=True, keep widgets by moving them to dashboard top-level (clear section_id).
      operationId: delete_section_projects__project_id__log_streams__log_stream_id__trends_sections__section_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: section_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Section Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: ungroup
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Ungroup
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/log_streams/{log_stream_id}/trends/dashboards:
    get:
      tags:
      - trends_dashboard
      summary: List Dashboards
      operationId: list_dashboards_projects__project_id__log_streams__log_stream_id__trends_dashboards_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrendsDashboardSummary'
                title: Response List Dashboards Projects  Project Id  Log Streams  Log Stream Id  Trends Dashboards Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/log_streams/{log_stream_id}/trends/dashboards/{trends_dashboard_id}/duplicate:
    post:
      tags:
      - trends_dashboard
      summary: Duplicate Dashboard
      operationId: duplicate_dashboard_projects__project_id__log_streams__log_stream_id__trends_dashboards__trends_dashboard_id__duplicate_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: trends_dashboard_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Trends Dashboard Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrendsDashboardDuplicateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendsDashboardResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/log_streams/{log_stream_id}/trends/dashboards/{trends_dashboard_id}/favorite:
    post:
      tags:
      - trends_dashboard
      summary: Favorite Dashboard
      operationId: favorite_dashboard_projects__project_id__log_streams__log_stream_id__trends_dashboards__trends_dashboard_id__favorite_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: trends_dashboard_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Trends Dashboard Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: visibility
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/TrendsDashboardVisibility'
          default: user
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/log_streams/{log_stream_id}/trends/dashboards/favorite:
    delete:
      tags:
      - trends_dashboard
      summary: Unfavorite Dashboard
      operationId: unfavorite_dashboard_projects__project_id__log_streams__log_stream_id__trends_dashboards_favorite_delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: visibility
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/TrendsDashboardVisibility'
          default: user
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/log_streams/{log_stream_id}/trends/dashboards/{trends_dashboard_id}:
    delete:
      tags:
      - trends_dashboard
      summary: Delete Dashboard
      operationId: delete_dashboard_projects__project_id__log_streams__log_stream_id__trends_dashboards__trends_dashboard_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: trends_dashboard_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Trends Dashboard Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/log_streams/{log_stream_id}/trends:
    get:
      tags:
      - trends_dashboard
      summary: Get Trends
      operationId: get_trends_v2_projects__project_id__log_streams__log_stream_id__trends_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendsDashboardResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - trends_dashboard
      summary: Update Trends
      operationId: update_trends_v2_projects__project_id__log_streams__log_stream_id__trends_put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrendsDashboardUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendsDashboardResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/log_streams/{log_stream_id}/trends/widgets:
    post:
      tags:
      - trends_dashboard
      summary: Create Widget
      operationId: create_widget_v2_projects__project_id__log_streams__log_stream_id__trends_widgets_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetCreateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/log_streams/{log_stream_id}/trends/widgets/{widget_id}:
    put:
      tags:
      - trends_dashboard
      summary: Update Widget
      operationId: update_widget_v2_projects__project_id__log_streams__log_stream_id__trends_widgets__widget_id__put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: widget_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Widget Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - trends_dashboard
      summary: Delete Widget
      operationId: delete_widget_v2_projects__project_id__log_streams__log_stream_id__trends_widgets__widget_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: widget_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Widget Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/log_streams/{log_stream_id}/trends/sections:
    post:
      tags:
      - trends_dashboard
      summary: Create Section
      operationId: create_section_v2_projects__project_id__log_streams__log_stream_id__trends_sections_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SectionCreateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/log_streams/{log_stream_id}/trends/sections/{section_id}:
    put:
      tags:
      - trends_dashboard
      summary: Update Section
      operationId: update_section_v2_projects__project_id__log_streams__log_stream_id__trends_sections__section_id__put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: section_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Section Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SectionUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - trends_dashboard
      summary: Delete Section
      description: Delete section. If ungroup=True, keep widgets by moving them to dashboard top-level (clear section_id).
      operationId: delete_section_v2_projects__project_id__log_streams__log_stream_id__trends_sections__section_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: section_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Section Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: ungroup
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Ungroup
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/log_streams/{log_stream_id}/trends/dashboards:
    get:
      tags:
      - trends_dashboard
      summary: List Dashboards
      operationId: list_dashboards_v2_projects__project_id__log_streams__log_stream_id__trends_dashboards_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrendsDashboardSummary'
                title: Response List Dashboards V2 Projects  Project Id  Log Streams  Log Stream Id  Trends Dashboards Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/log_streams/{log_stream_id}/trends/dashboards/{trends_dashboard_id}/duplicate:
    post:
      tags:
      - trends_dashboard
      summary: Duplicate Dashboard
      operationId: duplicate_dashboard_v2_projects__project_id__log_streams__log_stream_id__trends_dashboards__trends_dashboard_id__duplicate_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: trends_dashboard_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Trends Dashboard Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrendsDashboardDuplicateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendsDashboardResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/log_streams/{log_stream_id}/trends/dashboards/{trends_dashboard_id}/favorite:
    post:
      tags:
      - trends_dashboard
      summary: Favorite Dashboard
      operationId: favorite_dashboard_v2_projects__project_id__log_streams__log_stream_id__trends_dashboards__trends_dashboard_id__favorite_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: trends_dashboard_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Trends Dashboard Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: visibility
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/TrendsDashboardVisibility'
          default: user
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/log_streams/{log_stream_id}/trends/dashboards/favorite:
    delete:
      tags:
      - trends_dashboard
      summary: Unfavorite Dashboard
      operationId: unfavorite_dashboard_v2_projects__project_id__log_streams__log_stream_id__trends_dashboards_favorite_delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: visibility
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/TrendsDashboardVisibility'
          default: user
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/log_streams/{log_stream_id}/trends/dashboards/{trends_dashboard_id}:
    delete:
      tags:
      - trends_dashboard
      summary: Delete Dashboard
      operationId: delete_dashboard_v2_projects__project_id__log_streams__log_stream_id__trends_dashboards__trends_dashboard_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: trends_dashboard_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Trends Dashboard Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/log_streams/{log_stream_id}/trends:
    get:
      tags:
      - trends_dashboard
      summary: Get Trends
      operationId: get_trends_public_v2_projects__project_id__log_streams__log_stream_id__trends_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendsDashboardResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - trends_dashboard
      summary: Update Trends
      operationId: update_trends_public_v2_projects__project_id__log_streams__log_stream_id__trends_put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrendsDashboardUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendsDashboardResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/log_streams/{log_stream_id}/trends/widgets:
    post:
      tags:
      - trends_dashboard
      summary: Create Widget
      operationId: create_widget_public_v2_projects__project_id__log_streams__log_stream_id__trends_widgets_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetCreateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/log_streams/{log_stream_id}/trends/widgets/{widget_id}:
    put:
      tags:
      - trends_dashboard
      summary: Update Widget
      operationId: update_widget_public_v2_projects__project_id__log_streams__log_stream_id__trends_widgets__widget_id__put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: widget_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Widget Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - trends_dashboard
      summary: Delete Widget
      operationId: delete_widget_public_v2_projects__project_id__log_streams__log_stream_id__trends_widgets__widget_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: widget_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Widget Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/log_streams/{log_stream_id}/trends/sections:
    post:
      tags:
      - trends_dashboard
      summary: Create Section
      operationId: create_section_public_v2_projects__project_id__log_streams__log_stream_id__trends_sections_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SectionCreateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/log_streams/{log_stream_id}/trends/sections/{section_id}:
    put:
      tags:
      - trends_dashboard
      summary: Update Section
      operationId: update_section_public_v2_projects__project_id__log_streams__log_stream_id__trends_sections__section_id__put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: section_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Section Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SectionUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - trends_dashboard
      summary: Delete Section
      description: Delete section. If ungroup=True, keep widgets by moving them to dashboard top-level (clear section_id).
      operationId: delete_section_public_v2_projects__project_id__log_streams__log_stream_id__trends_sections__section_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: section_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Section Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: ungroup
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Ungroup
      - name: trends_dashboard_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Trends Dashboard Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/log_streams/{log_stream_id}/trends/dashboards:
    get:
      tags:
      - trends_dashboard
      summary: List Dashboards
      operationId: list_dashboards_public_v2_projects__project_id__log_streams__log_stream_id__trends_dashboards_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrendsDashboardSummary'
                title: Response List Dashboards Public V2 Projects  Project Id  Log Streams  Log Stream Id  Trends Dashboards Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/log_streams/{log_stream_id}/trends/dashboards/{trends_dashboard_id}/duplicate:
    post:
      tags:
      - trends_dashboard
      summary: Duplicate Dashboard
      operationId: duplicate_dashboard_public_v2_projects__project_id__log_streams__log_stream_id__trends_dashboards__trends_dashboard_id__duplicate_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: trends_dashboard_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Trends Dashboard Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrendsDashboardDuplicateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendsDashboardResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/log_streams/{log_stream_id}/trends/dashboards/{trends_dashboard_id}/favorite:
    post:
      tags:
      - trends_dashboard
      summary: Favorite Dashboard
      operationId: favorite_dashboard_public_v2_projects__project_id__log_streams__log_stream_id__trends_dashboards__trends_dashboard_id__favorite_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: trends_dashboard_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Trends Dashboard Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: visibility
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/TrendsDashboardVisibility'
          default: user
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/log_streams/{log_stream_id}/trends/dashboards/favorite:
    delete:
      tags:
      - trends_dashboard
      summary: Unfavorite Dashboard
      operationId: unfavorite_dashboard_public_v2_projects__project_id__log_streams__log_stream_id__trends_dashboards_favorite_delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      - name: visibility
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/TrendsDashboardVisibility'
          default: user
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/log_streams/{log_stream_id}/trends/dashboards/{trends_dashboard_id}:
    delete:
      tags:
      - trends_dashboard
      summary: Delete Dashboard
      operationId: delete_dashboard_public_v2_projects__project_id__log_streams__log_stream_id__trends_dashboards__trends_dashboard_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: trends_dashboard_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Trends Dashboard Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: log_stream_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Log Stream Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    TrendsDashboardDuplicateRequest:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
        description:
          anyOf:
          - type: string
            maxLength: 1000
          - type: 'null'
          title: Description
        visibility:
          anyOf:
          - $ref: '#/components/schemas/TrendsDashboardVisibility'
          - type: 'null'
          description: '''user'' or ''project''. Defaults to source''s visibility.'
      type: object
      required:
      - name
      title: TrendsDashboardDuplicateRequest
      description: Request to duplicate a dashboard.
    ? NotNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input
    : properties:
        not:
          anyOf:
          - $ref: '#/components/schemas/FilterLeaf_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____'
          - $ref: '#/components/schemas/AndNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input'
          - $ref: '#/components/schemas/OrNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input'
          - $ref: '#/components/schemas/NotNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input'
          title: Not
      type: object
      required:
      - not
      title: NotNode[Annotated[Union[LogRecordsIDFilter, LogRecordsDateFilter, LogRecordsNumberFilter, LogRecordsBooleanFilter, LogRecordsCollectionFilter, LogRecordsTextFilter, LogRecordsFullyAnnotatedFilter], FieldInfo(annotation=NoneType, required=True, discriminator='type')]]
    ? FilterLeaf_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____
    : properties:
        filter:
          oneOf:
          - $ref: '#/components/schemas/LogRecordsIDFilter'
          - $ref: '#/components/schemas/LogRecordsDateFilter'
          - $ref: '#/components/schemas/LogRecordsNumberFilter'
          - $ref: '#/components/schemas/LogRecordsBooleanFilter'
          - $ref: '#/components/schemas/LogRecordsCollectionFilter'
          - $ref: '#/components/schemas/LogRecordsTextFilter'
          - $ref: '#/components/schemas/LogRecordsFullyAnnotatedFilter'
          title: Filter
          discriminator:
            propertyName: type
            mapping:
              boolean: '#/components/schemas/LogRecordsBooleanFilter'
              collection: '#/components/schemas/LogRecordsCollectionFilter'
              date: '#/components/schemas/LogRecordsDateFilter'
              fully_annotated: '#/components/schemas/LogRecordsFullyAnnotatedFilter'
              id: '#/components/schemas/LogRecordsIDFilter'
              number: '#/components/schemas/LogRecordsNumberFilter'
              text: '#/components/schemas/LogRecordsTextFilter'
      type: object
      required:
      - filter
      title: FilterLeaf[Annotated[Union[LogRecordsIDFilter, LogRecordsDateFilter, LogRecordsNumberFilter, LogRecordsBooleanFilter, LogRecordsCollectionFilter, LogRecordsTextFilter, LogRecordsFullyAnnotatedFilter], FieldInfo(annotation=NoneType, required=True, discriminator='type')]]
    LogRecordsCollectionFilter:
      properties:
        column_id:
          type: string
          title: Column Id
          description: ID of the column to filter.
        operator:
          type: string
          enum:
          - eq
          - contains
          - one_of
          - not_in
          title: Operator
        value:
          anyOf:
          - type: string
          - items:
              type: string
            type: array
          title: Value
        case_sensitive:
          type: boolean
          title: Case Sensitive
          default: true
        type:
          type: string
          const: collection
          title: Type
          default: collection
      type: object
      required:
      - column_id
      - operator
      - value
      title: LogRecordsCollectionFilter
    LogRecordsTextFilter:
      properties:
        column_id:
          type: string
          title: Column Id
          description: ID of the column to filter.
        operator:
          type: string
          enum:
          - eq
          - ne
          - contains
          - one_of
          - not_in
          title: Operator
        value:
          anyOf:
          - type: string
          - items:
              type: string
            type: array
          title: Value
        case_sensitive:
          type: boolean
          title: Case Sensitive
          default: true
        type:
          type: string
          const: text
          title: Type
          default: text
      type: object
      required:
      - column_id
      - operator
      - value
      title: LogRecordsTextFilter
    LogRecordsBooleanFilter:
      properties:
        column_id:
          type: string
          title: Column Id
          description: ID of the column to filter.
        operator:
          type: string
          enum:
          - eq
          - ne
          title: Operator
          default: eq
        value:
          type: boolean
          title: Value
        type:
          type: string
          const: boolean
          title: Type
          default: boolean
      type: object
      required:
      - column_id
      - value
      title: LogRecordsBooleanFilter
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    TrendsDashboardVisibility:
      type: string
      enum:
      - user
      - project
      title: TrendsDashboardVisibility
    MetricAggregation:
      type: string
      enum:
      - Count
      - Sum
      - Average
      - Min
      - Max
      - P50
      - P90
      - P95
      - P99
      - PercentageFalse
      - PercentageTrue
      title: MetricAggregation
    LogRecordsDateFilter:
      properties:
        column_id:
          type: string
          title: Column Id
          description: ID of the column to filter.
        operator:
          type: string
          enum:
          - eq
          - ne
          - gt
          - gte
          - lt
          - lte
          title: Operator
        value:
          type: string
          format: date-time
          title: Value
        type:
          type: string
          const: date
          title: Type
          default: date
      type: object
      required:
      - column_id
      - operator
      - value
      title: LogRecordsDateFilter
    LogRecordsIDFilter:
      properties:
        column_id:
          type: string
          title: Column Id
          description: ID of the column to filter.
        operator:
          type: string
          enum:
          - eq
          - ne
          - one_of
          - not_in
          - contains
          title: Operator
          default: eq
        value:
          anyOf:
          - type: string
            format: uuid4
          - items:
              anyOf:
              - type: string
                format: uuid4
              - type: string
            type: array
          - type: string
          title: Value
        type:
          type: string
          const: id
          title: Type
          default: id
      type: object
      required:
      - column_id
      - value
      title: LogRecordsIDFilter
    TrendsDashboardUpdateRequest:
      properties:
        name:
          anyOf:
          - type: string
            maxLength: 255
            minLength: 1
          - type: 'null'
          title: Name
        description:
          anyOf:
          - type: string
            maxLength: 1000
          - type: 'null'
          title: Description
        interval_mins:
          anyOf:
          - type: integer
          - type: 'null'
          title: Interval Mins
        layout_map:
          anyOf:
          - additionalProperties:
              items:
                type: integer
              type: array
            type: object
          - type: 'null'
          title: Layout Map
        start_time:
          anyOf:
          - type: integer
          - type: 'null'
          title: Start Time
        end_time:
          anyOf:
          - type: integer
          - type: 'null'
          title: End Time
        relative_time:
          anyOf:
          - type: string
            maxLength: 64
            pattern: ^last_\d+_(seconds?|minutes?|hours?|days?|weeks?|months?)$
          - type: 'null'
          title: Relative Time
          description: Rolling window from now, e.g. last_7_days, last_12_hours (max 5 years)
        filter_tree:
          anyOf:
          - $ref: '#/components/schemas/FilterExpression_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input'
          - type: 'null'
        group_by:
          anyOf:
          - type: string
          - type: 'null'
          title: Group By
      type: object
      title: TrendsDashboardUpdateRequest
      description: 'Update dashboard properties: filter_tree, group_by, interval_mins, layout_map, and time range.


        Time range: provide either (start_time, end_time) for absolute timestamps, or relative_time

        (e.g. "last_7_days", "last_12_hours", "last_3_months") for a rolling window from now.'
    WidgetUpdateRequest:
      properties:
        name:
          anyOf:
          - type: string
            maxLength: 100
            minLength: 1
          - type: 'null'
          title: Name
        description:
          anyOf:
          - type: string
            maxLength: 500
          - type: 'null'
          title: Description
        type:
          anyOf:
          - $ref: '#/components/schemas/WidgetType'
          - type: 'null'
        dataset:
          anyOf:
          - items:
              additionalProperties:
                items:
                  type: string
                type: array
              type: object
            type: array
            maxItems: 50
          - type: 'null'
          title: Dataset
        metric:
          anyOf:
          - type: string
          - type: 'null'
          title: Metric
        aggregation:
          anyOf:
          - $ref: '#/components/schemas/MetricAggregation'
          - type: 'null'
        section_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Section Id
      type: object
      title: WidgetUpdateRequest
    SectionCreateRequest:
      properties:
        name:
          type: string
          maxLength: 100
          minLength: 1
          title: Name
        description:
          anyOf:
          - type: string
            maxLength: 500
          - type: 'null'
          title: Description
        color:
          anyOf:
          - type: string
            maxLength: 7
            pattern: ^#[0-9A-Fa-f]{6}$
          - type: 'null'
          title: Color
      type: object
      required:
      - name
      title: SectionCreateRequest
      description: Request to create a section.
    ? NotNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Output
    : properties:
        not:
          anyOf:
          - $ref: '#/components/schemas/FilterLeaf_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____'
          - $ref: '#/components/schemas/AndNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Output'
          - $ref: '#/components/schemas/OrNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Output'
          - $ref: '#/components/schemas/NotNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Output'
          title: Not
      type: object
      required:
      - not
      title: NotNode[Annotated[Union[LogRecordsIDFilter, LogRecordsDateFilter, LogRecordsNumberFilter, LogRecordsBooleanFilter, LogRecordsCollectionFilter, LogRecordsTextFilter, LogRecordsFullyAnnotatedFilter], FieldInfo(annotation=NoneType, required=True, discriminator='type')]]
    WidgetResponse:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        name:
          type: string
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        type:
          $ref: '#/components/schemas/WidgetType'
        dataset:
          anyOf:
          - items:
              additionalProperties:
                items:
                  type: string
                type: array
              type: object
            type: array
            maxItems: 50
          - type: 'null'
          title: Dataset
        metric:
          type: string
          title: Metric
        aggregation:
          $ref: '#/components/schemas/MetricAggregation'
        section_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Section Id
      type: object
      required:
      - id
      - name
      - type
      - metric
      - aggregation
      title: WidgetResponse
    LogRecordsNumberFilter:
      properties:
        column_id:
          type: string
          title: Column Id
          description: ID of the column to filter.
        operator:
          type: string
          enum:
          - eq
          - ne
          - gt
          - gte
          - lt
          - lte
          - between
          title: Operator
        value:
          anyOf:
          - type: integer
          - type: number
          - items:
              type: integer
            type: array
          - items:
              type: number
            type: array
          title: Value
        type:
          type: string
          const: number
          title: Type
          default: number
      type: object
      required:
      - column_id
      - operator
      - value
      title: LogRecordsNumberFilter
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    WidgetType:
      type: string
      enum:
      - bar_chart
      - line_chart
      - number
      - table
      title: WidgetType
    SectionResponse:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        name:
          type: string
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        color:
          anyOf:
          - type: string
          - type: 'null'
          title: Color
        widgets:
          items:
            $ref: '#/components/schemas/WidgetResponse'
          type: array
          maxItems: 50
          title: Widgets
      type: object
      required:
      - id
      - name
      title: SectionResponse
    ? FilterExpression_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input
    : anyOf:
      - $ref: '#/components/schemas/FilterLeaf_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____'
      - $ref: '#/components/schemas/AndNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input'
      - $ref: '#/components/schemas/OrNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input'
      - $ref: '#/components/schemas/NotNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input'
    ? FilterExpression_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Output
    : anyOf:
      - $ref: '#/components/schemas/FilterLeaf_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____'
      - $ref: '#/components/schemas/AndNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Output'
      - $ref: '#/components/schemas/OrNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Output'
      - $ref: '#/components/schemas/NotNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Output'
    TrendsDashboardResponse:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        name:
          type: string
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        is_default:
          type: boolean
          title: Is Default
        visibility:
          type: string
          title: Visibility
        created_by:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Created By
        is_favorited:
          type: boolean
          title: Is Favorited
          default: false
        log_stream_id:
          type: string
          format: uuid4
          title: Log Stream Id
        project_id:
          type: string
          format: uuid4
          title: Project Id
        widgets:
          items:
            $ref: '#/components/schemas/WidgetResponse'
          type: array
          maxItems: 50
          title: Widgets
        sections:
          items:
            $ref: '#/components/schemas/SectionResponse'
          type: array
          maxItems: 50
          title: Sections
        layout_map:
          additionalProperties: true
          type: object
          title: Layout Map
        interval_mins:
          type: integer
          title: Interval Mins
        group_by:
          anyOf:
          - type: string
          - type: 'null'
          title: Group By
        filter_tree:
          anyOf:
          - $ref: '#/components/schemas/FilterExpression_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Output'
          - type: 'null'
        start_time:
          type: integer
          title: Start Time
        end_time:
          type: integer
          title: End Time
        relative_time:
          anyOf:
          - type: string
          - type: 'null'
          title: Relative Time
      type: object
      required:
      - id
      - name
      - is_default
      - visibility
      - log_stream_id
      - project_id
      - layout_map
      - interval_mins
      - start_time
      - end_time
      title: TrendsDashboardResponse
    SectionUpdateRequest:
      properties:
        name:
          anyOf:
          - type: string
            maxLength: 100
            minLength: 1
          - type: 'null'
          title: Name
        description:
          anyOf:
          - type: string
            maxLength: 500
          - type: 'null'
          title: Description
        color:
          anyOf:
          - type: string
            maxLength: 7
            pattern: ^#[0-9A-Fa-f]{6}$
          - type: 'null'
          title: Color
      type: object
      title: SectionUpdateRequest
    WidgetCreateRequest:
      properties:
        name:
          type: string
          maxLength: 100
          minLength: 1
          title: Name
        description:
          anyOf:
          - type: string
            maxLength: 500
          - type: 'null'
          title: Description
        type:
          $ref: '#/components/schemas/WidgetType'
        dataset:
          anyOf:
          - items:
              additionalProperties:
                items:
                  type: string
                type: array
              type: object
            type: array
            maxItems: 50
          - type: 'null'
          title: Dataset
        metric:
          type: string
          minLength: 1
          title: Metric
        aggregation:
          $ref: '#/components/schemas/MetricAggregation'
        section_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Section Id
      type: object
      required:
      - name
      - type
      - metric
      - aggregation
      title: WidgetCreateRequest
      description: Request to create a widget.
    TrendsDashboardSummary:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        name:
          type: string
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        is_default:
          type: boolean
          title: Is Default
        visibility:
          type: string
          title: Visibility
        created_by:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Created By
        is_favorited:
          type: boolean
          title: Is Favorited
          default: false
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
      type: object
      required:
      - id
      - name
      - is_default
      - visibility
      - created_at
      - updated_at
      title: TrendsDashboardSummary
      description: Lightweight dashboard summary for list endpoint.
    ? AndNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Output
    : properties:
        and:
          items:
            anyOf:
            - $ref: '#/components/schemas/FilterLeaf_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____'
            - $ref: '#/components/schemas/AndNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Output'
            - $ref: '#/components/schemas/OrNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Output'
            - $ref: '#/components/schemas/NotNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Output'
          type: array
          title: And
      type: object
      required:
      - and
      title: AndNode[Annotated[Union[LogRecordsIDFilter, LogRecordsDateFilter, LogRecordsNumberFilter, LogRecordsBooleanFilter, LogRecordsCollectionFilter, LogRecordsTextFilter, LogRecordsFullyAnnotatedFilter], FieldInfo(annotation=NoneType, required=True, discriminator='type')]]
    LogRecordsFullyAnnotatedFilter:
      properties:
        column_id:
          type: string
          const: fully_annotated
          title: Column Id
          description: Queue-scoped filter identifier. This filter only works for annotation-queue searches that provide queue context.
          default: fully_annotated
        type:
          type: string
          const: fully_annotated
          title: Type
          default: fully_annotated
        user_ids:
          anyOf:
          - items:
              type: string
              format: uuid4
            type: array
            minItems: 1
          - type: 'null'
          title: User Ids
          description: Optional queue member IDs to require for full annotation in a queue-scoped search. If omitted, all tracked queue members visible to the requester are used.
      type: object
      title: LogRecordsFullyAnnotatedFilter
      description: Queue-scoped filter for records rated across all queue templates.
    ? OrNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input
    : properties:
        or:
          items:
            anyOf:
            - $ref: '#/components/schemas/FilterLeaf_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____'
            - $ref: '#/components/schemas/AndNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input'
            - $ref: '#/components/schemas/OrNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input'
            - $ref: '#/components/schemas/NotNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input'
          type: array
          title: Or
      type: object
      required:
      - or
      title: OrNode[Annotated[Union[LogRecordsIDFilter, LogRecordsDateFilter, LogRecordsNumberFilter, LogRecordsBooleanFilter, LogRecordsCollectionFilter, LogRecordsTextFilter, LogRecordsFullyAnnotatedFilter], FieldInfo(annotation=NoneType, required=True, discriminator='type')]]
    ? AndNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input
    : properties:
        and:
          items:
            anyOf:
            - $ref: '#/components/schemas/FilterLeaf_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____'
            - $ref: '#/components/schemas/AndNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input'
            - $ref: '#/components/schemas/OrNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input'
            - $ref: '#/components/schemas/NotNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Input'
          type: array
          title: And
      type: object
      required:
      - and
      title: AndNode[Annotated[Union[LogRecordsIDFilter, LogRecordsDateFilter, LogRecordsNumberFilter, LogRecordsBooleanFilter, LogRecordsCollectionFilter, LogRecordsTextFilter, LogRecordsFullyAnnotatedFilter], FieldInfo(annotation=NoneType, required=True, discriminator='type')]]
    ? OrNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Output
    : properties:
        or:
          items:
            anyOf:
            - $ref: '#/components/schemas/FilterLeaf_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____'
            - $ref: '#/components/schemas/AndNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Output'
            - $ref: '#/components/schemas/OrNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Output'
            - $ref: '#/components/schemas/NotNode_Annotated_Union_LogRecordsIDFilter__LogRecordsDateFilter__LogRecordsNumberFilter__LogRecordsBooleanFilter__LogRecordsCollectionFilter__LogRecordsTextFilter__LogRecordsFullyAnnotatedFilter___FieldInfo_annotation_NoneType__required_True__discriminator__type____-Output'
          type: array
          title: Or
      type: object
      required:
      - or
      title: OrNode[Annotated[Union[LogRecordsIDFilter, LogRecordsDateFilter, LogRecordsNumberFilter, LogRecordsBooleanFilter, LogRecordsCollectionFilter, LogRecordsTextFilter, LogRecordsFullyAnnotatedFilter], FieldInfo(annotation=NoneType, required=True, discriminator='type')]]
  securitySchemes:
    ClassicAPIKeyHeader:
      type: apiKey
      in: header
      name: Galileo-API-Key
    APIKeyHeader:
      type: apiKey
      in: header
      name: Splunk-AO-API-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://api.galileo.ai/login
    HTTPBasic:
      type: http
      scheme: basic
