openapi: 3.1.0
info:
  title: Galileo API Server annotation llm API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: llm
paths:
  /finetuned-scorers/weights/upload:
    post:
      tags:
      - llm
      summary: Prepare Finetuned Scorer Weights Upload
      operationId: prepare_finetuned_scorer_weights_upload_finetuned_scorers_weights_upload_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FineTunedScorerWeightsUploadRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FineTunedScorerWeightsUploadResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
  /generated-scorers/task-results/{task_result_id}:
    get:
      tags:
      - llm
      summary: Get Task Result
      operationId: get_task_result_generated_scorers_task_results__task_result_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: task_result_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Task Result Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedScorerTaskResultResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    FineTunedScorerWeightsUploadRequest:
      properties:
        lora_task_id:
          type: integer
          minimum: 1.0
          title: Lora Task Id
      type: object
      required:
      - lora_task_id
      title: FineTunedScorerWeightsUploadRequest
    FineTunedScorerWeightsUploadResponse:
      properties:
        bucket:
          type: string
          title: Bucket
        lora_weights_path:
          type: string
          title: Lora Weights Path
        upload_urls:
          additionalProperties:
            type: string
          type: object
          title: Upload Urls
        object_paths:
          additionalProperties:
            type: string
          type: object
          title: Object Paths
        presigned_url_expiry_seconds:
          type: integer
          title: Presigned Url Expiry Seconds
      type: object
      required:
      - bucket
      - lora_weights_path
      - upload_urls
      - object_paths
      - presigned_url_expiry_seconds
      title: FineTunedScorerWeightsUploadResponse
    TaskResultStatus:
      type: string
      enum:
      - pending
      - started
      - completed
      - failed
      title: TaskResultStatus
    GeneratedScorerTaskResultType:
      type: string
      enum:
      - scorer_auto_gen
      - scorer_auto_gen_v2
      - scorer_validation
      title: GeneratedScorerTaskResultType
    FewShotExample:
      properties:
        generation_prompt_and_response:
          type: string
          title: Generation Prompt And Response
        evaluating_response:
          type: string
          title: Evaluating Response
      type: object
      required:
      - generation_prompt_and_response
      - evaluating_response
      title: FewShotExample
      description: Few-shot example for a chainpoll metric prompt.
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    GeneratedScorerTaskResultResponse:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
        status:
          $ref: '#/components/schemas/TaskResultStatus'
        result_type:
          $ref: '#/components/schemas/GeneratedScorerTaskResultType'
        result:
          anyOf:
          - $ref: '#/components/schemas/ChainPollTemplate'
          - $ref: '#/components/schemas/GeneratedScorerValidationResult'
          - type: string
          - type: 'null'
          title: Result
      type: object
      required:
      - id
      - created_at
      - updated_at
      - status
      - result_type
      title: GeneratedScorerTaskResultResponse
    ChainPollTemplate:
      properties:
        metric_system_prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: Metric System Prompt
          description: System prompt for the metric.
        metric_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Metric Description
          description: Description of what the metric should do.
        value_field_name:
          type: string
          title: Value Field Name
          description: Field name to look for in the chainpoll response, for the rating.
          default: rating
        explanation_field_name:
          type: string
          title: Explanation Field Name
          description: Field name to look for in the chainpoll response, for the explanation.
          default: explanation
        template:
          type: string
          title: Template
          description: Chainpoll prompt template.
        metric_few_shot_examples:
          items:
            $ref: '#/components/schemas/FewShotExample'
          type: array
          title: Metric Few Shot Examples
          description: Few-shot examples for the metric.
        response_schema:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Response Schema
          description: Response schema for the output
      type: object
      required:
      - template
      title: ChainPollTemplate
      description: 'Template for a chainpoll metric prompt,

        containing all the info necessary to send a chainpoll prompt.'
    GeneratedScorerValidationResult:
      properties:
        rating:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Rating
        explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Explanation
      type: object
      required:
      - rating
      - explanation
      title: GeneratedScorerValidationResult
      description: Result of a generated scorer validation job.
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    ClassicAPIKeyHeader:
      type: apiKey
      in: header
      name: Galileo-API-Key
    APIKeyHeader:
      type: apiKey
      in: header
      name: Splunk-AO-API-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://api.galileo.ai/login
    HTTPBasic:
      type: http
      scheme: basic
