openapi: 3.1.0
info:
  title: Galileo API Server annotation experiment_tags API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: experiment_tags
paths:
  /projects/{project_id}/experiments/{experiment_id}/tags:
    get:
      tags:
      - experiment_tags
      summary: Get Experiment Tags
      description: Gets tags for a given project_id/experiment_id.
      operationId: get_experiment_tags_projects__project_id__experiments__experiment_id__tags_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RunTagDB'
                title: Response Get Experiment Tags Projects  Project Id  Experiments  Experiment Id  Tags Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - experiment_tags
      summary: Set Tag For Experiment
      description: Sets a tag for an experiment.
      operationId: set_tag_for_experiment_projects__project_id__experiments__experiment_id__tags_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunTagCreateRequest'
              examples:
              - key: Vector DB
                value: Pinecone
                tag_type: rag
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunTagDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/experiments/{experiment_id}/tags/{tag_id}:
    get:
      tags:
      - experiment_tags
      summary: Get Experiment Tag
      description: Gets a tag for a given project_id/experiment_id.
      operationId: get_experiment_tag_projects__project_id__experiments__experiment_id__tags__tag_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      - name: tag_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Tag Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunTagDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - experiment_tags
      summary: Update Tag For Experiment
      description: Sets or updates a tag for an experiment.
      operationId: update_tag_for_experiment_projects__project_id__experiments__experiment_id__tags__tag_id__put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      - name: tag_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Tag Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunTagCreateRequest'
              examples:
              - key: Vector DB
                value: Pinecone
                tag_type: rag
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunTagDB'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - experiment_tags
      summary: Delete Experiment Tag
      operationId: delete_experiment_tag_projects__project_id__experiments__experiment_id__tags__tag_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      - name: tag_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Tag Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRunResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    RunTagDB:
      properties:
        key:
          type: string
          maxLength: 256
          title: Key
        value:
          type: string
          maxLength: 256
          title: Value
        tag_type:
          type: string
          title: Tag Type
        project_id:
          type: string
          format: uuid4
          title: Project Id
        run_id:
          type: string
          format: uuid4
          title: Run Id
        created_by:
          type: string
          format: uuid4
          title: Created By
        id:
          type: string
          format: uuid4
          title: Id
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
      type: object
      required:
      - key
      - value
      - tag_type
      - project_id
      - run_id
      - created_by
      - id
      - created_at
      - updated_at
      title: RunTagDB
    RunTagCreateRequest:
      properties:
        key:
          type: string
          maxLength: 256
          title: Key
        value:
          type: string
          maxLength: 256
          title: Value
        tag_type:
          type: string
          title: Tag Type
      type: object
      required:
      - key
      - value
      - tag_type
      title: RunTagCreateRequest
    DeleteRunResponse:
      properties:
        message:
          type: string
          title: Message
      type: object
      required:
      - message
      title: DeleteRunResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    ClassicAPIKeyHeader:
      type: apiKey
      in: header
      name: Galileo-API-Key
    APIKeyHeader:
      type: apiKey
      in: header
      name: Splunk-AO-API-Key
    OAuth2PasswordBearer:
      type: oauth2
      flows:
        password:
          scopes: {}
          tokenUrl: https://api.galileo.ai/login
    HTTPBasic:
      type: http
      scheme: basic
