openapi: 3.1.0
info:
  title: Galileo API Server annotation experiment API
  version: 1.1085.0
servers:
- url: https://api.galileo.ai
  description: Galileo API Server - galileo-v2
tags:
- name: experiment
paths:
  /projects/{project_id}/experiments:
    get:
      tags:
      - experiment
      summary: List Experiments
      description: Retrieve all experiments for a project.
      operationId: list_experiments_projects__project_id__experiments_get
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: include_counts
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Include Counts
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperimentResponse'
                title: Response List Experiments Projects  Project Id  Experiments Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - experiment
      summary: Create Experiment
      description: Create a new experiment for a project.
      operationId: create_experiment_projects__project_id__experiments_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentCreateRequest'
              examples:
              - name: my_first_experiment
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/experiments/paginated:
    get:
      tags:
      - experiment
      summary: List Experiments Paginated
      description: Retrieve all experiments for a project with pagination.
      operationId: list_experiments_paginated_projects__project_id__experiments_paginated_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: include_counts
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Include Counts
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/experiments/search:
    post:
      tags:
      - experiment
      summary: Search Experiments
      description: Search experiments for a project.
      operationId: search_experiments_projects__project_id__experiments_search_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentSearchRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/experiments/{experiment_id}:
    get:
      tags:
      - experiment
      summary: Get Experiment
      description: Retrieve a specific experiment.
      operationId: get_experiment_projects__project_id__experiments__experiment_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - experiment
      summary: Update Experiment
      description: Update a specific experiment.
      operationId: update_experiment_projects__project_id__experiments__experiment_id__put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentUpdateRequest'
              examples:
              - name: my_first_experiment
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - experiment
      summary: Delete Experiment
      description: Delete a specific experiment.
      operationId: delete_experiment_projects__project_id__experiments__experiment_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/experiments/available_columns:
    post:
      tags:
      - experiment
      summary: Experiments Available Columns
      description: Procures the column information for experiments.
      operationId: experiments_available_columns_projects__project_id__experiments_available_columns_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentsAvailableColumnsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/experiments/{experiment_id}/metric_settings:
    patch:
      tags:
      - experiment
      summary: Update Metric Settings
      operationId: update_metric_settings_projects__project_id__experiments__experiment_id__metric_settings_patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricSettingsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricSettingsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - experiment
      summary: Get Metric Settings
      operationId: get_metric_settings_projects__project_id__experiments__experiment_id__metric_settings_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricSettingsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/experiments/{experiment_id}/metrics:
    post:
      tags:
      - experiment
      summary: Get Experiment Metrics
      description: Retrieve metrics for a specific experiment.
      operationId: get_experiment_metrics_projects__project_id__experiments__experiment_id__metrics_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentMetricsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentMetricsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /projects/{project_id}/experiments/metrics:
    post:
      tags:
      - experiment
      summary: Get Experiments Metrics
      description: Retrieve metrics for all experiments in a project.
      operationId: get_experiments_metrics_projects__project_id__experiments_metrics_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentMetricsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentMetricsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/experiments:
    get:
      tags:
      - experiment
      summary: List Experiments
      description: Retrieve all experiments for a project.
      operationId: list_experiments_v2_projects__project_id__experiments_get
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: include_counts
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Include Counts
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperimentResponse'
                title: Response List Experiments V2 Projects  Project Id  Experiments Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - experiment
      summary: Create Experiment
      description: Create a new experiment for a project.
      operationId: create_experiment_v2_projects__project_id__experiments_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentCreateRequest'
              examples:
              - name: my_first_experiment
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/experiments/paginated:
    get:
      tags:
      - experiment
      summary: List Experiments Paginated
      description: Retrieve all experiments for a project with pagination.
      operationId: list_experiments_paginated_v2_projects__project_id__experiments_paginated_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: include_counts
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Include Counts
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/experiments/search:
    post:
      tags:
      - experiment
      summary: Search Experiments
      description: Search experiments for a project.
      operationId: search_experiments_v2_projects__project_id__experiments_search_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentSearchRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/experiments/{experiment_id}:
    get:
      tags:
      - experiment
      summary: Get Experiment
      description: Retrieve a specific experiment.
      operationId: get_experiment_v2_projects__project_id__experiments__experiment_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - experiment
      summary: Update Experiment
      description: Update a specific experiment.
      operationId: update_experiment_v2_projects__project_id__experiments__experiment_id__put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentUpdateRequest'
              examples:
              - name: my_first_experiment
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - experiment
      summary: Delete Experiment
      description: Delete a specific experiment.
      operationId: delete_experiment_v2_projects__project_id__experiments__experiment_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/experiments/available_columns:
    post:
      tags:
      - experiment
      summary: Experiments Available Columns
      description: Procures the column information for experiments.
      operationId: experiments_available_columns_v2_projects__project_id__experiments_available_columns_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentsAvailableColumnsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/experiments/{experiment_id}/metric_settings:
    patch:
      tags:
      - experiment
      summary: Update Metric Settings
      operationId: update_metric_settings_v2_projects__project_id__experiments__experiment_id__metric_settings_patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricSettingsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricSettingsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - experiment
      summary: Get Metric Settings
      operationId: get_metric_settings_v2_projects__project_id__experiments__experiment_id__metric_settings_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricSettingsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/experiments/{experiment_id}/metrics:
    post:
      tags:
      - experiment
      summary: Get Experiment Metrics
      description: Retrieve metrics for a specific experiment.
      operationId: get_experiment_metrics_v2_projects__project_id__experiments__experiment_id__metrics_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentMetricsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentMetricsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/projects/{project_id}/experiments/metrics:
    post:
      tags:
      - experiment
      summary: Get Experiments Metrics
      description: Retrieve metrics for all experiments in a project.
      operationId: get_experiments_metrics_v2_projects__project_id__experiments_metrics_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentMetricsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentMetricsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/experiments:
    get:
      tags:
      - experiment
      summary: List Experiments
      description: Retrieve all experiments for a project.
      operationId: list_experiments_public_v2_projects__project_id__experiments_get
      deprecated: true
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: include_counts
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Include Counts
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperimentResponse'
                title: Response List Experiments Public V2 Projects  Project Id  Experiments Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - experiment
      summary: Create Experiment
      description: Create a new experiment for a project.
      operationId: create_experiment_public_v2_projects__project_id__experiments_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentCreateRequest'
              examples:
              - name: my_first_experiment
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/experiments/paginated:
    get:
      tags:
      - experiment
      summary: List Experiments Paginated
      description: Retrieve all experiments for a project with pagination.
      operationId: list_experiments_paginated_public_v2_projects__project_id__experiments_paginated_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: include_counts
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Include Counts
      - name: starting_token
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Starting Token
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/experiments/search:
    post:
      tags:
      - experiment
      summary: Search Experiments
      description: Search experiments for a project.
      operationId: search_experiments_public_v2_projects__project_id__experiments_search_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentSearchRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/experiments/{experiment_id}:
    get:
      tags:
      - experiment
      summary: Get Experiment
      description: Retrieve a specific experiment.
      operationId: get_experiment_public_v2_projects__project_id__experiments__experiment_id__get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - experiment
      summary: Update Experiment
      description: Update a specific experiment.
      operationId: update_experiment_public_v2_projects__project_id__experiments__experiment_id__put
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentUpdateRequest'
              examples:
              - name: my_first_experiment
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - experiment
      summary: Delete Experiment
      description: Delete a specific experiment.
      operationId: delete_experiment_public_v2_projects__project_id__experiments__experiment_id__delete
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/experiments/available_columns:
    post:
      tags:
      - experiment
      summary: Experiments Available Columns
      description: Procures the column information for experiments.
      operationId: experiments_available_columns_public_v2_projects__project_id__experiments_available_columns_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentsAvailableColumnsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/experiments/{experiment_id}/metric_settings:
    patch:
      tags:
      - experiment
      summary: Update Metric Settings
      operationId: update_metric_settings_public_v2_projects__project_id__experiments__experiment_id__metric_settings_patch
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricSettingsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricSettingsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - experiment
      summary: Get Metric Settings
      operationId: get_metric_settings_public_v2_projects__project_id__experiments__experiment_id__metric_settings_get
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricSettingsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/experiments/{experiment_id}/metrics:
    post:
      tags:
      - experiment
      summary: Get Experiment Metrics
      description: Retrieve metrics for a specific experiment.
      operationId: get_experiment_metrics_public_v2_projects__project_id__experiments__experiment_id__metrics_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      - name: experiment_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Experiment Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentMetricsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentMetricsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/v2/projects/{project_id}/experiments/metrics:
    post:
      tags:
      - experiment
      summary: Get Experiments Metrics
      description: Retrieve metrics for all experiments in a project.
      operationId: get_experiments_metrics_public_v2_projects__project_id__experiments_metrics_post
      security:
      - ClassicAPIKeyHeader: []
      - APIKeyHeader: []
      - OAuth2PasswordBearer: []
      - HTTPBasic: []
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid4
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentMetricsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentMetricsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ExperimentUpdatedAtFilter:
      properties:
        name:
          type: string
          const: updated_at
          title: Name
          default: updated_at
        operator:
          type: string
          enum:
          - eq
          - ne
          - gt
          - gte
          - lt
          - lte
          title: Operator
        value:
          type: string
          format: date-time
          title: Value
      type: object
      required:
      - operator
      - value
      title: RunUpdatedAtFilter
    BucketedMetric:
      properties:
        name:
          type: string
          title: Name
        buckets:
          additionalProperties:
            type: integer
          type: object
          title: Buckets
        average:
          anyOf:
          - type: number
          - type: 'null'
          title: Average
        roll_up_method:
          anyOf:
          - $ref: '#/components/schemas/RollUpMethodDisplayOptions'
          - type: 'null'
        data_type:
          anyOf:
          - $ref: '#/components/schemas/OutputTypeEnum'
          - type: 'null'
      type: object
      required:
      - name
      - buckets
      title: BucketedMetric
    MetricSettingsRequest:
      properties:
        scorers:
          anyOf:
          - items:
              $ref: '#/components/schemas/ScorerConfig'
            type: array
          - type: 'null'
          title: Scorers
          description: List of Galileo scorers to enable.
        segment_filters:
          anyOf:
          - items:
              $ref: '#/components/schemas/SegmentFilter'
            type: array
          - type: 'null'
          title: Segment Filters
          description: List of segment filters to apply to the run.
      type: object
      title: MetricSettingsRequest
    PromptRunSettings-Input:
      properties:
        logprobs:
          type: boolean
          title: Logprobs
          default: true
        top_logprobs:
          type: integer
          title: Top Logprobs
          default: 5
        echo:
          type: boolean
          title: Echo
          default: false
        n:
          type: integer
          title: N
          default: 1
        reasoning_effort:
          type: string
          title: Reasoning Effort
          default: medium
        verbosity:
          type: string
          title: Verbosity
          default: medium
        deployment_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Deployment Name
        model_alias:
          type: string
          title: Model Alias
          default: gpt-5.1
        temperature:
          anyOf:
          - type: number
          - type: 'null'
          title: Temperature
        max_tokens:
          type: integer
          title: Max Tokens
          default: 4096
        stop_sequences:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Stop Sequences
        top_p:
          type: number
          title: Top P
          default: 1.0
        top_k:
          type: integer
          title: Top K
          default: 40
        frequency_penalty:
          type: number
          title: Frequency Penalty
          default: 0.0
        presence_penalty:
          type: number
          title: Presence Penalty
          default: 0.0
        tools:
          anyOf:
          - items:
              additionalProperties: true
              type: object
            type: array
          - type: 'null'
          title: Tools
        tool_choice:
          anyOf:
          - type: string
          - $ref: '#/components/schemas/OpenAIToolChoice'
          - type: 'null'
          title: Tool Choice
        response_format:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Response Format
        known_models:
          items:
            $ref: '#/components/schemas/Model'
          type: array
          title: Known Models
      type: object
      title: PromptRunSettings
      description: Prompt run settings.
    LogRecordsCollectionFilter:
      properties:
        column_id:
          type: string
          title: Column Id
          description: ID of the column to filter.
        operator:
          type: string
          enum:
          - eq
          - contains
          - one_of
          - not_in
          title: Operator
        value:
          anyOf:
          - type: string
          - items:
              type: string
            type: array
          title: Value
        case_sensitive:
          type: boolean
          title: Case Sensitive
          default: true
        type:
          type: string
          const: collection
          title: Type
          default: collection
      type: object
      required:
      - column_id
      - operator
      - value
      title: LogRecordsCollectionFilter
    BaseScorerVersionDB:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        version:
          type: integer
          title: Version
        scorer_id:
          type: string
          format: uuid4
          title: Scorer Id
        generated_scorer:
          anyOf:
          - $ref: '#/components/schemas/BaseGeneratedScorerDB'
          - type: 'null'
        registered_scorer:
          anyOf:
          - $ref: '#/components/schemas/BaseRegisteredScorerDB'
          - type: 'null'
        finetuned_scorer:
          anyOf:
          - $ref: '#/components/schemas/BaseFinetunedScorerDB'
          - type: 'null'
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
        num_judges:
          anyOf:
          - type: integer
          - type: 'null'
          title: Num Judges
        scoreable_node_types:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Scoreable Node Types
          description: List of node types that can be scored by this scorer. Defaults to llm/chat.
        cot_enabled:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Cot Enabled
          description: Whether to enable chain of thought for this scorer. Defaults to False for llm scorers.
        output_type:
          anyOf:
          - $ref: '#/components/schemas/OutputTypeEnum'
          - type: 'null'
          description: What type of output to use for model-based scorers (sessions_normalized, trace_io_only, etc.).
        input_type:
          anyOf:
          - $ref: '#/components/schemas/InputTypeEnum'
          - type: 'null'
          description: What type of input to use for model-based scorers (sessions_normalized, trace_io_only, etc.).
      type: object
      required:
      - id
      - version
      - scorer_id
      title: BaseScorerVersionDB
      description: Scorer version from the scorer_versions table.
    OutputTypeEnum:
      type: string
      enum:
      - boolean
      - categorical
      - count
      - discrete
      - freeform
      - percentage
      - multilabel
      - retrieved_chunk_list_boolean
      - boolean_multilabel
      title: OutputTypeEnum
      description: Enumeration of output types.
    LogRecordsTextFilter:
      properties:
        column_id:
          type: string
          title: Column Id
          description: ID of the column to filter.
        operator:
          type: string
          enum:
          - eq
          - ne
          - contains
          - one_of
          - not_in
          title: Operator
        value:
          anyOf:
          - type: string
          - items:
              type: string
            type: array
          title: Value
        case_sensitive:
          type: boolean
          title: Case Sensitive
          default: true
        type:
          type: string
          const: text
          title: Type
          default: text
      type: object
      required:
      - column_id
      - operator
      - value
      title: LogRecordsTextFilter
    ExperimentIDFilter:
      properties:
        name:
          type: string
          const: id
          title: Name
          default: id
        operator:
          type: string
          enum:
          - eq
          - ne
          - one_of
          - not_in
          - contains
          title: Operator
          default: eq
        value:
          anyOf:
          - type: string
            format: uuid4
          - items:
              anyOf:
              - type: string
                format: uuid4
              - type: string
            type: array
          - type: string
          title: Value
      type: object
      required:
      - value
      title: RunIDFilter
    MetricSettingsResponse:
      properties:
        scorers:
          items:
            $ref: '#/components/schemas/ScorerConfig'
          type: array
          title: Scorers
        segment_filters:
          anyOf:
          - items:
              $ref: '#/components/schemas/SegmentFilter'
            type: array
          - type: 'null'
          title: Segment Filters
          description: List of segment filters to apply to the run.
      type: object
      required:
      - scorers
      title: MetricSettingsResponse
    Model:
      properties:
        name:
          type: string
          title: Name
        alias:
          type: string
          title: Alias
        integration:
          $ref: '#/components/schemas/LLMIntegration'
          default: openai
        user_role:
          anyOf:
          - type: string
          - type: 'null'
          title: User Role
        assistant_role:
          anyOf:
          - type: string
          - type: 'null'
          title: Assistant Role
        system_supported:
          type: boolean
          title: System Supported
          default: false
        input_modalities:
          items:
            $ref: '#/components/schemas/ContentModality'
          type: array
          title: Input Modalities
          description: Input modalities that the model can accept.
        alternative_names:
          items:
            type: string
          type: array
          title: Alternative Names
          description: Alternative names for the model, used for matching with various current, versioned or legacy names.
        input_token_limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Input Token Limit
        output_token_limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Output Token Limit
        token_limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Token Limit
        cost_by:
          $ref: '#/components/schemas/ModelCostBy'
          default: tokens
        is_chat:
          type: boolean
          title: Is Chat
          default: false
        provides_log_probs:
          type: boolean
          title: Provides Log Probs
          default: false
        formatting_tokens:
          type: integer
          title: Formatting Tokens
          default: 0
        response_prefix_tokens:
          type: integer
          title: Response Prefix Tokens
          default: 0
        api_version:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Version
        legacy_mistral_prompt_format:
          type: boolean
          title: Legacy Mistral Prompt Format
          default: false
        requires_max_tokens:
          type: boolean
          title: Requires Max Tokens
          default: false
        max_top_p:
          anyOf:
          - type: number
          - type: 'null'
          title: Max Top P
        params_map:
          $ref: '#/components/schemas/RunParamsMap'
        output_map:
          anyOf:
          - $ref: '#/components/schemas/OutputMap'
          - type: 'null'
        input_map:
          anyOf:
          - $ref: '#/components/schemas/InputMap'
          - type: 'null'
      type: object
      required:
      - name
      - alias
      title: Model
    LogRecordsDateFilter:
      properties:
        column_id:
          type: string
          title: Column Id
          description: ID of the column to filter.
        operator:
          type: string
          enum:
          - eq
          - ne
          - gt
          - gte
          - lt
          - lte
          title: Operator
        value:
          type: string
          format: date-time
          title: Value
        type:
          type: string
          const: date
          title: Type
          default: date
      type: object
      required:
      - column_id
      - operator
      - value
      title: LogRecordsDateFilter
    NodeNameFilter:
      properties:
        name:
          type: string
          const: node_name
          title: Name
          default: node_name
        operator:
          type: string
          enum:
          - eq
          - ne
          - contains
          - one_of
          - not_in
          title: Operator
        value:
          anyOf:
          - type: string
          - items:
              type: string
            type: array
          title: Value
        case_sensitive:
          type: boolean
          title: Case Sensitive
          default: true
      type: object
      required:
      - operator
      - value
      title: NodeNameFilter
      description: Filters on node names in scorer jobs.
    LogRecordsIDFilter:
      properties:
        column_id:
          type: string
          title: Column Id
          description: ID of the column to filter.
        operator:
          type: string
          enum:
          - eq
          - ne
          - one_of
          - not_in
          - contains
          title: Operator
          default: eq
        value:
          anyOf:
          - type: string
            format: uuid4
          - items:
              anyOf:
              - type: string
                format: uuid4
              - type: string
            type: array
          - type: string
          title: Value
        type:
          type: string
          const: id
          title: Type
          default: id
      type: object
      required:
      - column_id
      - value
      title: LogRecordsIDFilter
    ColumnCategory:
      type: string
      enum:
      - standard
      - metric
      - user_metadata
      - metric_status
      - dataset_metadata
      - dataset
      - feedback
      - tags
      title: ColumnCategory
    TreeChoiceAggregate:
      properties:
        feedback_type:
          type: string
          const: tree_choice
          title: Feedback Type
          default: tree_choice
        counts:
          additionalProperties:
            type: integer
          type: object
          title: Counts
        unrated_count:
          type: integer
          title: Unrated Count
      type: object
      required:
      - counts
      - unrated_count
      title: TreeChoiceAggregate
    ExperimentUpdatedAtSort:
      properties:
        name:
          type: string
          const: updated_at
          title: Name
          default: updated_at
        ascending:
          type: boolean
          title: Ascending
          default: true
        sort_type:
          type: string
          const: column
          title: Sort Type
          default: column
      type: object
      title: RunUpdatedAtSort
    ExperimentNameFilter:
      properties:
        name:
          type: string
          const: name
          title: Name
          default: name
        operator:
          type: string
          enum:
          - eq
          - ne
          - contains
          - one_of
          - not_in
          title: Operator
        value:
          anyOf:
          - type: string
          - items:
              type: string
            type: array
          title: Value
        case_sensitive:
          type: boolean
          title: Case Sensitive
          default: true
      type: object
      required:
      - operator
      - value
      title: RunNameFilter
    InputMap:
      properties:
        prompt:
          type: string
          title: Prompt
        prefix:
          type: string
          title: Prefix
          default: ''
        suffix:
          type: string
          title: Suffix
          default: ''
      type: object
      required:
      - prompt
      title: InputMap
    BaseFinetunedScorerDB:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        name:
          type: string
          title: Name
        lora_task_id:
          type: integer
          title: Lora Task Id
        lora_weights_path:
          anyOf:
          - type: string
          - type: 'null'
          title: Lora Weights Path
        prompt:
          type: string
          title: Prompt
        luna_input_type:
          anyOf:
          - $ref: '#/components/schemas/LunaInputTypeEnum'
          - type: 'null'
        luna_output_type:
          anyOf:
          - $ref: '#/components/schemas/LunaOutputTypeEnum'
          - type: 'null'
        class_name_to_vocab_ix:
          anyOf:
          - additionalProperties:
              items:
                type: integer
              type: array
              uniqueItems: true
            type: object
          - additionalProperties:
              type: integer
            type: object
          - type: 'null'
          title: Class Name To Vocab Ix
        executor:
          anyOf:
          - $ref: '#/components/schemas/galileo_core__schemas__shared__scorers__scorer_name__ScorerName'
          - type: 'null'
          description: Executor pipeline. Defaults to finetuned scorer pipeline but can run custom galileo score pipelines.
      type: object
      required:
      - id
      - name
      - lora_task_id
      - prompt
      title: BaseFinetunedScorerDB
    TaskType:
      type: integer
      enum:
      - 7
      - 9
      - 12
      - 13
      - 15
      - 16
      - 17
      - 18
      title: TaskType
      description: 'Valid task types for modeling.


        We store these as ints instead of strings because we will be looking this up in the database frequently.'
    ScoreAggregate:
      properties:
        feedback_type:
          type: string
          const: score
          title: Feedback Type
          default: score
        average:
          type: number
          title: Average
        unrated_count:
          type: integer
          title: Unrated Count
      type: object
      required:
      - average
      - unrated_count
      title: ScoreAggregate
    ExperimentPhaseStatus:
      properties:
        progress_percent:
          type: number
          maximum: 1.0
          minimum: 0.0
          title: Progress Percent
          description: Progress percentage from 0.0 to 1.0
          default: 0.0
      type: object
      title: ExperimentPhaseStatus
    ExperimentCreateRequest:
      properties:
        name:
          type: string
          minLength: 1
          title: Name
        task_type:
          anyOf:
          - type: integer
            const: 16
          - type: integer
            const: 17
          title: Task Type
          default: 16
        playground_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Playground Id
        prompt_template_version_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Prompt Template Version Id
        dataset:
          anyOf:
          - $ref: '#/components/schemas/ExperimentDatasetRequest'
          - type: 'null'
        playground_prompt_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Playground Prompt Id
        prompt_settings:
          anyOf:
          - $ref: '#/components/schemas/PromptRunSettings-Input'
          - type: 'null'
        scorers:
          items:
            $ref: '#/components/schemas/ScorerConfig'
          type: array
          title: Scorers
        trigger:
          type: boolean
          title: Trigger
          default: false
        experiment_group_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Experiment Group Id
        experiment_group_name:
          anyOf:
          - type: string
            maxLength: 255
            minLength: 1
          - type: 'null'
          title: Experiment Group Name
      type: object
      required:
      - name
      title: ExperimentCreateRequest
    ListExperimentResponse:
      properties:
        starting_token:
          type: integer
          title: Starting Token
          default: 0
        limit:
          type: integer
          title: Limit
          default: 100
        paginated:
          type: boolean
          title: Paginated
          default: false
        next_starting_token:
          anyOf:
          - type: integer
          - type: 'null'
          title: Next Starting Token
        experiments:
          items:
            $ref: '#/components/schemas/ExperimentResponse'
          type: array
          title: Experiments
      type: object
      title: ListExperimentResponse
    ContentModality:
      type: string
      enum:
      - text
      - document
      - image
      - audio
      - video
      title: ContentModality
      description: Classification of content modality
    ExperimentMetricsRequest:
      properties:
        filters:
          items:
            oneOf:
            - $ref: '#/components/schemas/LogRecordsIDFilter'
            - $ref: '#/components/schemas/LogRecordsDateFilter'
            - $ref: '#/components/schemas/LogRecordsNumberFilter'
            - $ref: '#/components/schemas/LogRecordsBooleanFilter'
            - $ref: '#/components/schemas/LogRecordsCollectionFilter'
            - $ref: '#/components/schemas/LogRecordsTextFilter'
            - $ref: '#/components/schemas/LogRecordsFullyAnnotatedFilter'
            discriminator:
              propertyName: type
              mapping:
                boolean: '#/components/schemas/LogRecordsBooleanFilter'
                collection: '#/components/schemas/LogRecordsCollectionFilter'
                date: '#/components/schemas/LogRecordsDateFilter'
                fully_annotated: '#/components/schemas/LogRecordsFullyAnnotatedFilter'
                id: '#/components/schemas/LogRecordsIDFilter'
                number: '#/components/schemas/LogRecordsNumberFilter'
                text: '#/components/schemas/LogRecordsTextFilter'
          type: array
          title: Filters
      type: object
      title: ExperimentMetricsRequest
      examples:
      - filters:
        - case_sensitive: true
          name: input
          operator: eq
          type: text
          value: example input
    LogRecordsFullyAnnotatedFilter:
      properties:
        column_id:
          type: string
          const: fully_annotated
          title: Column Id
          description: Queue-scoped filter identifier. This filter only works for annotation-queue searches that provide queue context.
          default: fully_annotated
        type:
          type: string
          const: fully_annotated
          title: Type
          default: fully_annotated
        user_ids:
          anyOf:
          - items:
              type: string
              format: uuid4
            type: array
            minItems: 1
          - type: 'null'
          title: User Ids
          description: Optional queue member IDs to require for full annotation in a queue-scoped search. If omitted, all tracked queue members visible to the requester are used.
      type: object
      title: LogRecordsFullyAnnotatedFilter
      description: Queue-scoped filter for records rated across all queue templates.
    MetricAggregates:
      properties:
        avg:
          anyOf:
          - type: number
          - type: 'null'
          title: Avg
        sum:
          anyOf:
          - type: number
          - type: 'null'
          title: Sum
        min:
          anyOf:
          - type: number
          - type: 'null'
          title: Min
        max:
          anyOf:
          - type: number
          - type: 'null'
          title: Max
        count:
          anyOf:
          - type: integer
          - type: 'null'
          title: Count
        pct:
          anyOf:
          - type: number
          - type: 'null'
          title: Pct
        p50:
          anyOf:
          - type: number
          - type: 'null'
          title: P50
        p90:
          anyOf:
          - type: number
          - type: 'null'
          title: P90
        p95:
          anyOf:
          - type: number
          - type: 'null'
          title: P95
        p99:
          anyOf:
          - type: number
          - type: 'null'
          title: P99
        value_distribution:
          anyOf:
          - additionalProperties:
              type: integer
            type: object
          - type: 'null'
          title: Value Distribution
          description: 'Distribution of discrete values as {value: count}. For boolean metrics: {''0'': 2, ''1'': 8}. For categorical metrics: {''low'': 5, ''medium'': 3, ''high'': 2}.'
      type: object
      title: MetricAggregates
      description: Structured aggregate values for a single metric, computed from ClickHouse row-level data.
    PromptRunSettings-Output:
      properties:
        logprobs:
          type: boolean
          title: Logprobs
          default: true
        top_logprobs:
          type: integer
          title: Top Logprobs
          default: 5
        echo:
          type: boolean
          title: Echo
          default: false
        n:
          type: integer
          title: N
          default: 1
        reasoning_effort:
          type: string
          title: Reasoning Effort
          default: medium
        verbosity:
          type: string
          title: Verbosity
          default: medium
        deployment_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Deployment Name
        model_alias:
          type: string
          title: Model Alias
          default: gpt-5.1
        temperature:
          anyOf:
          - type: number
          - type: 'null'
          title: Temperature
        max_tokens:
          type: integer
          title: Max Tokens
          default: 4096
        stop_sequences:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Stop Sequences
        top_p:
          type: number
          title: Top P
          default: 1.0
        top_k:
          type: integer
          title: Top K
          default: 40
        frequency_penalty:
          type: number
          title: Frequency Penalty
          default: 0.0
        presence_penalty:
          type: number
          title: Presence Penalty
          default: 0.0
        tools:
          type: string
          title: Tools
        tool_choice:
          anyOf:
          - type: string
          - $ref: '#/components/schemas/OpenAIToolChoice'
          - type: 'null'
          title: Tool Choice
        response_format:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Response Format
      type: object
      title: PromptRunSettings
      description: Prompt run settings.
    LunaInputTypeEnum:
      type: string
      enum:
      - span
      - trace_object
      - trace_input_output_only
      title: LunaInputTypeEnum
    ExperimentSearchRequest:
      properties:
        starting_token:
          type: integer
          title: Starting Token
          default: 0
        limit:
          type: integer
          title: Limit
          default: 100
        filters:
          items:
            oneOf:
            - $ref: '#/components/schemas/ExperimentIDFilter'
            - $ref: '#/components/schemas/ExperimentNameFilter'
            - $ref: '#/components/schemas/ExperimentCreatedByFilter'
            - $ref: '#/components/schemas/ExperimentCreatedAtFilter'
            - $ref: '#/components/schemas/ExperimentUpdatedAtFilter'
            - $ref: '#/components/schemas/api__schemas__experiment__ExperimentGroupIDFilter'
            - $ref: '#/components/schemas/api__schemas__experiment__ExperimentGroupNameFilter'
            discriminator:
              propertyName: name
              mapping:
                created_at: '#/components/schemas/ExperimentCreatedAtFilter'
                created_by: '#/components/schemas/ExperimentCreatedByFilter'
                experiment_group_id: '#/components/schemas/api__schemas__experiment__ExperimentGroupIDFilter'
                experiment_group_name: '#/components/schemas/api__schemas__experiment__ExperimentGroupNameFilter'
                id: '#/components/schemas/ExperimentIDFilter'
                name: '#/components/schemas/ExperimentNameFilter'
                updated_at: '#/components/schemas/ExperimentUpdatedAtFilter'
          type: array
          title: Filters
        sort:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/ExperimentNameSort'
            - $ref: '#/components/schemas/ExperimentCreatedAtSort'
            - $ref: '#/components/schemas/ExperimentUpdatedAtSort'
            discriminator:
              propertyName: name
              mapping:
                created_at: '#/components/schemas/ExperimentCreatedAtSort'
                name: '#/components/schemas/ExperimentNameSort'
                updated_at: '#/components/schemas/ExperimentUpdatedAtSort'
          - type: 'null'
          title: Sort
          default:
            name: created_at
            ascending: false
            sort_type: column
        include_counts:
          type: boolean
          title: Include Counts
          default: false
      type: object
      title: ExperimentSearchRequest
    RunParamsMap:
      properties:
        model:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
        temperature:
          anyOf:
          - type: string
          - type: 'null'
          title: Temperature
        max_tokens:
          anyOf:
          - type: string
          - type: 'null'
          title: Max Tokens
        stop_sequences:
          anyOf:
          - type: string
          - type: 'null'
          title: Stop Sequences
        top_p:
          anyOf:
          - type: string
          - type: 'null'
          title: Top P
        top_k:
          anyOf:
          - type: string
          - type: 'null'
          title: Top K
        frequency_penalty:
          anyOf:
          - type: string
          - type: 'null'
          title: Frequency Penalty
        presence_penalty:
          anyOf:
          - type: string
          - type: 'null'
          title: Presence Penalty
        echo:
          anyOf:
          - type: string
          - type: 'null'
          title: Echo
        logprobs:
          anyOf:
          - type: string
          - type: 'null'
          title: Logprobs
        top_logprobs:
          anyOf:
          - type: string
          - type: 'null'
          title: Top Logprobs
        n:
          anyOf:
          - type: string
          - type: 'null'
          title: N
        api_version:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Version
        tools:
          anyOf:
          - type: string
          - type: 'null'
          title: Tools
        tool_choice:
          anyOf:
          - type: string
          - type: 'null'
          title: Tool Choice
        response_format:
          anyOf:
          - type: string
          - type: 'null'
          title: Response Format
        reasoning_effort:
          anyOf:
          - type: string
          - type: 'null'
          title: Reasoning Effort
        verbosity:
          anyOf:
          - type: string
          - type: 'null'
          title: Verbosity
        deployment_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Deployment Name
      type: object
      title: RunParamsMap
      description: 'Maps the internal settings parameters (left) to the serialized parameters (right) we want to send in the API

        requests.'
    FeedbackAggregate:
      properties:
        aggregate:
          oneOf:
          - $ref: '#/components/schemas/LikeDislikeAggregate'
          - $ref: '#/components/schemas/StarAggregate'
          - $ref: '#/components/schemas/ScoreAggregate'
          - $ref: '#/components/schemas/TagsAggregate'
          - $ref: '#/components/schemas/TextAggregate'
          - $ref: '#/components/schemas/ChoiceAggregate'
          - $ref: '#/components/schemas/TreeChoiceAggregate'
          title: Aggregate
          discriminator:
            propertyName: feedback_type
            mapping:
              choice: '#/components/schemas/ChoiceAggregate'
              like_dislike: '#/components/schemas/LikeDislikeAggregate'
              score: '#/components/schemas/ScoreAggregate'
              star: '#/components/schemas/StarAggregate'
              tags: '#/components/schemas/TagsAggregate'
              text: '#/components/schemas/TextAggregate'
              tree_choice: '#/components/schemas/TreeChoiceAggregate'
      type: object
      required:
      - aggregate
      title: FeedbackAggregate
    ChoiceAggregate:
      properties:
        feedback_type:
          type: string
          const: choice
          title: Feedback Type
          default: choice
        counts:
          additionalProperties:
            type: integer
          type: object
          title: Counts
        unrated_count:
          type: integer
          title: Unrated Count
      type: object
      required:
      - counts
      - unrated_count
      title: ChoiceAggregate
    RollUpMethodDisplayOptions:
      type: string
      enum:
      - average
      - sum
      - max
      - min
      - category_count
      - percentage_true
      - percentage_false
      title: RollUpMethodDisplayOptions
      description: 'Display options for roll up methods when showing rolled up metrics in the UI.


        Separates display intent from computation methods. The computation methods

        (NumericRollUpMethod, CategoricalRollUpMethod) control what aggregations are available.

        This enum controls how the UI displays the selected roll-up value for a scorer.'
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ExperimentResponse:
      properties:
        id:
          type: string
          format: uuid4
          title: ID
          description: Galileo ID of the experiment
        created_at:
          type: string
          format: date-time
          title: Created
          description: Timestamp of the experiment's creation
        updated_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Last Updated
          description: Timestamp of the trace or span's last update
        name:
          type: string
          title: Name
          description: Name of the experiment
          default: ''
        project_id:
          type: string
          format: uuid4
          title: Project ID
          description: Galileo ID of the project associated with this experiment
        created_by:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Created By
        created_by_user:
          anyOf:
          - $ref: '#/components/schemas/UserInfo'
          - type: 'null'
        num_spans:
          anyOf:
          - type: integer
          - type: 'null'
          title: Num Spans
        num_traces:
          anyOf:
          - type: integer
          - type: 'null'
          title: Num Traces
        num_sessions:
          anyOf:
          - type: integer
          - type: 'null'
          title: Num Sessions
        task_type:
          $ref: '#/components/schemas/TaskType'
        dataset:
          anyOf:
          - $ref: '#/components/schemas/ExperimentDataset'
          - type: 'null'
        aggregate_metrics:
          additionalProperties: true
          type: object
          title: Aggregate Metrics
        structured_aggregate_metrics:
          anyOf:
          - additionalProperties:
              $ref: '#/components/schemas/MetricAggregates'
            type: object
          - type: 'null'
          title: Structured Aggregate Metrics
          description: Structured aggregate metrics with full statistical aggregates (avg, min, max, sum, count). Keys are scorer UUIDs for scorer-backed metrics (matching available_columns column IDs after stripping the 'metrics/' prefix) and raw strings for system metrics (e.g. 'duration_ns', 'cost'). Present only when use_clickhouse_run_aggregates flag is enabled.
        aggregate_feedback:
          additionalProperties:
            $ref: '#/components/schemas/FeedbackAggregate'
          type: object
          title: Aggregate Feedback
          description: Aggregate feedback information related to the experiment (traces only)
          deprecated: true
        rating_aggregates:
          additionalProperties:
            additionalProperties:
              $ref: '#/components/schemas/FeedbackAggregate'
            propertyNames:
              $ref: '#/components/schemas/RootType'
            type: object
          propertyNames:
            format: uuid4
          type: object
          title: Rating Aggregates
          description: Annotation aggregates keyed by template ID and root type
        ranking_score:
          anyOf:
          - type: number
          - type: 'null'
          title: Ranking Score
        rank:
          anyOf:
          - type: integer
          - type: 'null'
          title: Rank
        winner:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Winner
        playground_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Playground Id
        playground:
          anyOf:
          - $ref: '#/components/schemas/ExperimentPlayground'
          - type: 'null'
        prompt_run_settings:
          anyOf:
          - $ref: '#/components/schemas/PromptRunSettings-Output'
          - type: 'null'
        prompt_model:
          anyOf:
          - type: string
          - type: 'null'
          title: Prompt Model
        prompt:
          anyOf:
          - $ref: '#/components/schemas/ExperimentPrompt'
          - type: 'null'
        tags:
          additionalProperties:
            items:
              $ref: '#/components/schemas/RunTagDB'
            type: array
          type: object
          title: Tags
        status:
          $ref: '#/components/schemas/ExperimentStatus'
        experiment_group_id:
          anyOf:
          - type: string
            format: uuid4
          - type: 'null'
          title: Experiment Group Id
        experiment_group_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Experiment Group Name
        experiment_group_is_system:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Experiment Group Is System
      type: object
      required:
      - id
      - project_id
      - task_type
      title: ExperimentResponse
    SegmentFilter:
      properties:
        filter:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/NodeNameFilter'
            - $ref: '#/components/schemas/MetadataFilter'
            - $ref: '#/components/schemas/ModalityFilter'
            discriminator:
              propertyName: name
              mapping:
                metadata: '#/components/schemas/MetadataFilter'
                modality: '#/components/schemas/ModalityFilter'
                node_name: '#/components/schemas/NodeNameFilter'
          - type: 'null'
          title: Filter
          description: Filter to apply to the segment. By default sample on all data.
        sample_rate:
          type: number
          maximum: 1.0
          minimum: 0.0
          title: Sample Rate
          description: The fraction of the data to sample. Must be between 0 and 1, inclusive.
        llm_scorers:
          type: boolean
          title: Llm Scorers
          description: Whether to sample only on LLM scorers.
          default: false
        multimodal_scorers:
          type: boolean
          title: Multimodal Scorers
          description: Whether to sample only on multimodal scorers.
          default: false
      type: object
      required:
      - sample_rate
      title: SegmentFilter
    FewShotExample:
      properties:
        generation_prompt_and_response:
          type: string
          title: Generation Prompt And Response
        evaluating_response:
          type: string
          title: Evaluating Response
      type: object
      required:
      - generation_prompt_and_response
      - evaluating_response
      title: FewShotExample
      description: Few-shot example for a chainpoll metric prompt.
    LunaOutputTypeEnum:
      type: string
      enum:
      - float
      - string
      - string_list
      - bool_list
      title: LunaOutputTypeEnum
    RootType:
      type: string
      enum:
      - session
      - trace
      - span
      title: RootType
      description: 'The root-level type of a logged step hierarchy.


        Maps fine-grained StepType values to the three top-level categories

        used throughout the platform: session, trace, and span.'
    galileo_core__schemas__shared__scorers__scorer_name__ScorerName:
      type: string
      enum:
      - action_completion_luna
      - action_advancement_luna
      - agentic_session_success
      - agentic_session_success
      - action_completion_vision
      - action_completion_audio
      - agentic_workflow_success
      - agentic_workflow_success
      - agent_efficiency
      - agent_flow
      - chunk_attribution_utilization_luna
      - chunk_attribution_utilization
      - chunk_relevance
      - chunk_relevance_luna
      - context_precision
      - precision_at_k
      - completeness_luna
      - completeness
      - context_adherence
      - context_adherence_luna
      - context_adherence_vision
      - context_adherence_audio
      - context_relevance
      - context_relevance_luna
      - conversation_quality
      - correctness
      - correctness_vision
      - correctness_audio
      - ground_truth_adherence
      - ground_truth_adherence_vision
      - ground_truth_adherence_audio
      - visual_fidelity
      - visual_quality
      - input_pii
      - input_pii_gpt
      - input_sexist
      - input_sexist
      - input_sexist_luna
      - input_sexist_luna
      - input_tone
      - input_tone_gpt
      - input_toxicity
      - input_toxicity_luna
      - input_toxicity_vision
      - input_toxicity_audio
      - instruction_adherence
      - output_pii
      - output_pii_gpt
      - output_sexist
      - output_sexist
      - output_sexist_luna
      - output_sexist_luna
      - output_tone
      - output_tone_gpt
      - output_toxicity
      - output_toxicity_luna
      - output_toxicity_vision
      - output_toxicity_audio
      - prompt_injection
      - prompt_injection_luna
      - reasoning_coherence
      - reasoning_coherence_vision
      - reasoning_coherence_audio
      - sql_efficiency
      - sql_adherence
      - sql_injection
      - sql_correctness
      - tool_error_rate
      - tool_error_rate_luna
      - tool_selection_quality
      - tool_selection_quality_luna
      - user_intent_change
      - user_intent_change_vision
      - user_intent_change_audio
      - interruption_detection
      title: ScorerName
    OpenAIFunction:
      properties:
        name:
          type: string
          title: Name
      type: object
      required:
      - name
      title: OpenAIFunction
    LLMIntegration:
      type: string
      enum:
      - anthropic
      - aws_bedrock
      - aws_sagemaker
      - azure
      - custom
      - databricks
      - mistral
      - nvidia
      - openai
      - vegas_gateway
      - vertex_ai
      - writer
      title: LLMIntegration
    MetadataFilter:
      properties:
        name:
          type: string
          const: metadata
          title: Name
          default: metadata
        operator:
          type: string
          enum:
          - one_of
          - not_in
          - eq
          - ne
          title: Operator
        key:
          type: string
          title: Key
        value:
          anyOf:
          - type: string
          - items:
              type: string
            type: array
          title: Value
      type: object
      required:
      - operator
      - key
      - value
      title: MetadataFilter
      description: Filters on metadata key-value pairs in scorer jobs.
    api__schemas__experiment__ExperimentGroupIDFilter:
      properties:
        name:
          type: string
          const: experiment_group_id
          title: Name
          default: experiment_group_id
        value:
          type: string
          format: uuid4
          title: Value
      type: object
      required:
      - value
      title: ExperimentGroupIDFilter
    ColumnInfo:
      properties:
        id:
          type: string
          title: Id
          description: Column id.  Must be universally unique.
        label:
          anyOf:
          - type: string
          - type: 'null'
          title: Label
          description: Display label of the column in the UI.
        category:
          $ref: '#/components/schemas/ColumnCategory'
          description: Category of the column.
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the column.
        group_label:
          anyOf:
          - type: string
          - type: 'null'
          title: Group Label
          description: Display label of the column group.
        data_type:
          anyOf:
          - $ref: '#/components/schemas/DataType'
          - type: 'null'
          description: Data type of the column. This is used to determine how to format the data on the UI.
        data_unit:
          anyOf:
          - $ref: '#/components/schemas/DataUnit'
          - type: 'null'
          description: Data unit of the column (optional).
        multi_valued:
          type: boolean
          title: Multi Valued
          description: Whether the column is multi-valued.
          default: false
        allowed_values:
          anyOf:
          - items: {}
            type: array
            uniqueItems: true
          - type: 'null'
          title: Allowed Values
          description: Allowed values for this column.
        sortable:
          type: boolean
          title: Sortable
          description: Whether the column is sortable.
        filterable:
          type: boolean
          title: Filterable
          description: Whether the column is filterable.
        is_empty:
          type: boolean
          title: Is Empty
          description: Indicates whether the column is empty and should be hidden.
          default: false
        applicable_types:
          items:
            $ref: '#/components/schemas/StepType'
          type: array
          uniqueItems: true
          title: Applicable Types
          description: List of types applicable for this column.
        is_optional:
          type: boolean
          title: Is Optional
          description: Whether the column is optional.
          default: false
        roll_up_method:
          anyOf:
          - type: string
          - type: 'null'
          title: Roll Up Method
          description: Default roll-up aggregation method for this metric (e.g., 'sum', 'average').
        metric_key_alias:
          anyOf:
          - type: string
          - type: 'null'
          title: Metric Key Alias
          description: Alternate metric key for this column. When scorer UUIDs are used as column IDs, this holds the legacy metric_name string for dual-key ClickHouse query fallback.
      type: object
      required:
      - id
      - category
      - data_type
      title: ColumnInfo
    ScorerTypes:
      type: string
      enum:
      - llm
      - code
      - luna
      - preset
      title: ScorerTypes
    ExperimentStatus:
      properties:
        log_generation:
          $ref: '#/components/schemas/ExperimentPhaseStatus'
      type: object
      title: ExperimentStatus
    TagsAggregate:
      properties:
        feedback_type:
          type: string
          const: tags
          title: Feedback Type
          default: tags
        counts:
          additionalProperties:
            type: integer
          type: object
          title: Counts
        unrated_count:
          type: integer
          title: Unrated Count
      type: object
      required:
      - counts
      - unrated_count
      title: TagsAggregate
    ExperimentMetricsResponse:
      properties:
        metrics:
          items:
            $ref: '#/components/schemas/BucketedMetric'
          type: array
          title: Metrics
          description: List of metrics for the experiment, including categorical and quartile metrics.
      type: object
      title: ExperimentMetricsResponse
    BaseGeneratedScorerDB:
      properties:
        id:
          type: string
          format: uuid4
          title: Id
        name:
          type: string
          title: Name
        instructions:
          anyOf:
          - type: string
          - type: 'null'
          title: Instructions
        chain_poll_template:
          $ref: '#/components/schemas/ChainPollTemplate'
        user_prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: User Prompt
      type: object
      required:
      - id
      - name
      - chain_poll_template
      title: BaseGeneratedScorerDB
    RunTagDB:
      properties:
        key:
          type: string
          maxLength: 256
          title: Key
        value:
          type: string
          maxLength: 256
          title: Value
        tag_type:
          type: string
          title: Tag Type
        project_id:
          type: string
          format: uuid4
          title: Project Id
        run_id:
          type: string
          format: uuid4
          title: Run Id
        created_by:
          type: string
          format: uuid4
          title: Created By
        id:
          type: string
          format: uuid4
          title: Id
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
      type: object
      required:
      - key
      - value
      - tag_type
      - project_id
      - run_id
      - created_by
      - id
      - created_at
      - updated_at
      title: RunTagDB
    LikeDislikeAggregate:
      properties:
        feedback_type:
          type: string
          const: like_dislike
          title: Feedback Type
          default: like_dislike
        like_count:
          type: integer
          title: Like Count
        dislike_count:
          type: integer
          title: Dislike Count
        unrated_count:
          type: integer
          title: Unrated Count
      type: object
      required:
      - like_count
      - dislike_count
      - unrated_count
      title: LikeDislikeAggregate
    ModelType:
      type: string
      enum:
      - slm
      - llm
      - code
      title: ModelType
    MultimodalCapability:
      type: string
      enum:
      - vision
      - audio
      title: MultimodalCapability
    ExperimentDatasetRequest:
      properties:
        dataset_id:
          type: string
          format: uuid4
          title: Dataset Id
        version_index:
          type: integer
          title: Version Index
      type: object
      required:
      - dataset_id
      - version_index
      title: ExperimentDatasetRequest
    LogRecordsNumberFilter:
      properties:
        column_id:
          type: string
          title: Column Id
          description: ID of the column to filter.
        operator:
          type: string
          enum:
          - eq
          - ne
          - gt
          - gte
          - lt
          - lte
          - between
          title: Operator
        value:
          anyOf:
          - type: integer
          - type: number
          - items:
              type: integer
            type: array
          - items:
              type: number
            type: array
          title: Value
        type:
          type: string
          const: number
          title: Type
          default: number
      type: object
      required:
      - column_id
      - operator
      - value
      title: LogRecordsNumberFilter
    StarAggregate:
      properties:
        feedback_type:
          type: string
          const: star
          title: Feedback Type
          default: star
        average:
          type: number
          title: Average
        counts:
          additionalProperties:
            type: integer
          type: object
          title: Counts
        unrated_count:
          type: integer
          title: Unrated Count
      type: object
      required:
      - average
      - counts
      - unrated_count
      title: StarAggregate
    ScorerConfig:
      properties:
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
        num_judges:
          anyOf:
          - type: integer
          - type: 'null'
          title: Num Judges
        filters:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/NodeNameFilter'
              - $ref: '#/components/schemas/MetadataFilter'
              - $ref: '#/components/schemas/ModalityFilter'
              discriminator:
                propertyName: name
                mapping:
                  metadata: '#/components/schemas/MetadataFilter'
                  modality: '#/components/schemas/ModalityFilter'
                  node_name: '#/components/schemas/NodeNameFilter'
            type: array
          - type: 'null'
          title: Filters
          description: List of filters to apply to the scorer.
        scoreable_node_types:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Scoreable Node Types
          description: List of node types that can be scored by this scorer. Defaults to llm/chat.
        cot_enabled:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Cot Enabled
          description: Whether to enable chain of thought for this scorer. Defaults to False for llm scorers.
        output_type:
          anyOf:
          - $ref: '#/components/schemas/OutputTypeEnum'
          - type: 'null'
          description: What type of output to use for model-based scorers (boolean, categorical, etc.).
        input_type:
          anyOf:
          - $ref: '#/components/schemas/InputTypeEnum'
          - type: 'null'
          description: What type of input to use for model-based scorers (sessions_normalized, trace_io_only, etc..).
        id:
          type: string
          format: uuid4
          title: Id
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
[...]
