# x-archived-from: galileo-ai-apikeys-api-openapi.yml
# x-archived-on: 2026-09-16
openapi: 3.2.0
info:
  title: Galileo Public Annotations API Keys API
  version: v2
  description: 'Best-effort OpenAPI 3.1 description of the Galileo (galileo.ai) public

    REST API for projects, datasets, experiments, traces, prompts, integrations,

    annotations, and groups. Generated from the public OpenAPI index at

    https://api.galileo.ai/public/v2/openapi.json; not an official copy.

    '
  contact:
    name: Galileo Developer Docs
    url: https://docs.galileo.ai/
servers:
- url: https://api.galileo.ai
  description: Galileo hosted production
security:
- apiKeyHeader: []
- bearerAuth: []
- basicAuth: []
tags:
- name: ApiKeys
paths:
  /v2/users/{user_id}/api_keys:
    parameters:
    - $ref: '#/components/parameters/UserId'
    get:
      tags:
      - ApiKeys
      operationId: listUserApiKeys
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /v2/users/api_keys:
    post:
      tags:
      - ApiKeys
      operationId: createApiKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        '201':
          $ref: '#/components/responses/Ok'
  /v2/users/api_keys/{api_key_id}:
    parameters:
    - in: path
      name: api_key_id
      required: true
      schema:
        type: string
    delete:
      tags:
      - ApiKeys
      operationId: deleteApiKey
      responses:
        '204':
          description: No Content
components:
  schemas:
    Object:
      type: object
      additionalProperties: true
  parameters:
    UserId:
      in: path
      name: user_id
      required: true
      schema:
        type: string
  responses:
    Ok:
      description: Successful response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Object'
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: Galileo-API-Key
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 password bearer (JWT) issued by /v2/token
    basicAuth:
      type: http
      scheme: basic
