# x-archived-from: galileo-ai-groups-api-openapi.yml
# x-archived-on: 2026-09-16
openapi: 3.2.0
info:
  title: Galileo Public Annotations Groups API
  version: v2
  description: 'Best-effort OpenAPI 3.1 description of the Galileo (galileo.ai) public

    REST API for projects, datasets, experiments, traces, prompts, integrations,

    annotations, and groups. Generated from the public OpenAPI index at

    https://api.galileo.ai/public/v2/openapi.json; not an official copy.

    '
  contact:
    name: Galileo Developer Docs
    url: https://docs.galileo.ai/
servers:
- url: https://api.galileo.ai
  description: Galileo hosted production
security:
- apiKeyHeader: []
- bearerAuth: []
- basicAuth: []
tags:
- name: Groups
paths:
  /v2/group_roles:
    get:
      tags:
      - Groups
      operationId: listGroupRoles
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /v2/groups:
    get:
      tags:
      - Groups
      operationId: listGroups
      responses:
        '200':
          $ref: '#/components/responses/Ok'
    post:
      tags:
      - Groups
      operationId: createGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        '201':
          $ref: '#/components/responses/Ok'
  /v2/groups/{group_id}:
    parameters:
    - in: path
      name: group_id
      required: true
      schema:
        type: string
    get:
      tags:
      - Groups
      operationId: getGroup
      responses:
        '200':
          $ref: '#/components/responses/Ok'
    patch:
      tags:
      - Groups
      operationId: updateGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
    delete:
      tags:
      - Groups
      operationId: deleteGroup
      responses:
        '204':
          description: No Content
  /v2/current_user/groups:
    get:
      tags:
      - Groups
      operationId: getCurrentUserGroups
      responses:
        '200':
          $ref: '#/components/responses/Ok'
components:
  schemas:
    Object:
      type: object
      additionalProperties: true
  responses:
    Ok:
      description: Successful response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Object'
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: Galileo-API-Key
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 password bearer (JWT) issued by /v2/token
    basicAuth:
      type: http
      scheme: basic
